/*
##########################
Toolbar Button Label
##########################
*/

/*Toolbar container Area*/
.qx-scroll.qx-aum-toolbar.qx-aum-abstract-container.qx-identifier-toolbar.qx-c-lycia_actionstoolbar
{
    /*border: 1px solid #5c9ccc !important;  */
    border: 1px solid rgb(58, 89, 126);   

    border-top-color: yellow:
    border-top-width: 20px;
    border-top-style: solid;
    
    background: var(--toolbar-bg-color); /*rgb(58, 89, 126);    */
    margin-top: 2px;
    margin-left: 2px;    
    margin-right: 2px;        
    margin-bottom: 2px;
    padding: 2px;
    /*border-radius: 5px;*/
    /*margin-right: 100px;
    padding-right: 100px; */
}





/*Toolbar Height - */
  .qx-top-toolbar-cell .qx-aum-toolbar, #qx-container-toolbars .qx-aum-toolbar {
	height: 70px;
  }


/*toolbar button text */
.qx-scroll.qx-aum-toolbar.qx-aum-abstract-container.qx-identifier-toolbar.qx-c-lycia_actionstoolbar .qx-aum-toolbar-button .qx-aum-toolbar-button .qx-text 
{
     /*font: bold 0.7rem  "Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif;*/
     font-size: 0.7rem;
}

/* Toolbar button label color */
.qx-scroll.qx-aum-toolbar.qx-aum-abstract-container.qx-identifier-toolbar.qx-c-lycia_actionstoolbar .qx-aum-toolbar-button
{
     /*font: bold 0.7rem  "Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif;*/
     width: 100px;
     color: var(--toolbar-fg-color);
}

/* HOVER Toolbar button label color */
.qx-scroll.qx-aum-toolbar.qx-aum-abstract-container.qx-identifier-toolbar.qx-c-lycia_actionstoolbar .qx-aum-toolbar-button:hover
{
     color: var(--toolbar-button-hover-fg-color);
}


/*Remove toolbar button border and background-image*/

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.qx-aum.qx-aum-toolbar-button.qx-aum-toolbar-item.qx-has-text.qx-has-image
{
    border:transparent;
    background-image: none;
    background:transparent;
    background-color: var(--toolbar-bg-color);
}

/* HOVER button color */
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.qx-aum.qx-aum-toolbar-button.qx-aum-toolbar-item.qx-has-text.qx-has-image:hover
{
    background-color: var(--toolbar-button-hover-bg-color);
}
/*
.qx-no-image.ui-button.ui-widget .ui-button-text .qx-text-with-icon:hover
{

color: var(--main-hover-button-color-fg);
background-color: var(--main-hover-button-color-bg);

}
*/
/*what was this ?... removal proposal */
.qx-menu.qx-aum.qx-aum-menu-bar.qx-aum-abstract-container.qx-identifier-topmenu.ui-menubar
{
    color:red;
    background: red;

}

/*#####################################################
Toolbar button
#####################################################*/
.ui-button.ui-widget.ui-button-text-only.qx-aum.qx-aum-toolbar-button.qx-aum-toolbar-item.qx-has-text.qx-has-image
{
    background-image: none;
    background-color: transparent;
    /* width: 10rem; */
    border:transparent;
}

/*toolbar button*/
.qx-no-image.ui-button.ui-widget.qx-aum.qx-aum-toolbar-button.qx-aum-toolbar-item
{
    background-image: none;
    background-color: transparent;
    width: 10rem;
    color:transparent;
    border:transparent;
}

.qx-no-image.ui-button.ui-widget.ui-button-text-only.qx-aum.qx-aum-toolbar-button.qx-aum-toolbar-item
{
    background-image: none;
    background-color: transparent;
    width: 10rem;
    color:transparent;
    border:transparent;
}
