.qx-vdom .qx-wrapper-popup,
.qx-vdom .qx-wrapper-popuperror,
.qx-vdom .qx-wrapper-textto,
.qx-vdom .qx-wrapper-attachto,
.qx-vdom .qx-wrapper-console,
.qx-vdom .qx-wrapper-displayatredir {
  display: none !important;
}

.qx-vdom .qx-messages-popup {
  position: fixed;
  z-index: 100000;
  /* border: 1px solid #ccc; */
  background-color: #34474f;
  color: #ccc;
  border-radius: 5px;
  padding: .5rem 1rem;
  white-space: pre-wrap;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  opacity: 0;
  transform: scale(0);
  transform-origin: center;
  transition: all 0.15s;
}

.qx-vdom .qx-messages-popup-error {
  background-color: #D32F2F;
}

/*#######################################*/
/* POPUP - Mouse context menu            */
/* HuHo 01.11.2018                       */
/*#######################################*/
.qx-aum-popup-menu {
    background-color: rgb(58, 89, 126);
}

.qx-aum-popup-menu .qx-text{
    color: white;
    /*font: normal 1rem "Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif;*/
}
/* need to check the css from here onward/below */
#message-popup.ui-widget-content
{
  color: #2e6e9e;
  background-color: #fbec88;
  border: none;
  background-image:none;  
  font: normal 1rem "Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif;
  max-width: 200px;
}

#message-popup.ui-widget-content.error 
{
	color: white;
   background-color: #9e2e35;
   border: none;
	background-image:none;
    font: normal 1rem "Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif;

}