
.qx-c-VictorClass .qx-c-fcls_data_widget.qx-c-fcls_length_01qch 

/*new vdom length*/
.qx-c-fcls_data_widget.qx-c-fcls_length_01qch
{
	width: 2rem !important;
}
.qx-c-fcls_data_widget.qx-c-fcls_length_05qch
{
	width: 5rem !important;
}
.qx-c-fcls_data_widget.qx-c-fcls_length_10qch
{
	width: 10rem !important;
}
.qx-c-fcls_data_widget.qx-c-fcls_length_15qch
{
	width: 15rem !important;
}
.qx-c-fcls_data_widget.qx-c-fcls_length_20qch
{
	width: 20rem !important;
}
.qx-c-fcls_data_widget.qx-c-fcls_length_25qch
{
	width: 25rem !important;
}
.qx-c-fcls_data_widget.qx-c-fcls_length_30qch
{
	width: 30rem !important;
}
.qx-c-fcls_data_widget.qx-c-fcls_length_35qch
{
	width: 35rem !important;
}
.qx-c-fcls_data_widget.qx-c-fcls_length_40qch
{
	width: 40rem !important;

}
.qx-c-fcls_data_widget.qx-c-fcls_length_50qch
{
	width: 50rem !important;
}
.qx-c-fcls_data_widget.qx-c-fcls_length_60qch
{
	width: 60rem !important;

}


/* ############################################## */
/* Absolute FIX Length defined using form classes */
/* ############################################## */

/* .qx-c-fcls_length_01qch */
.qx-c-fcls_length_01qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_01qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_01qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_01qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_01qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_01qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_01qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_01qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: 2rem !important;
}

/* .qx-c-fcls_length_05qch */
.qx-c-fcls_length_05qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_05qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_05qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_05qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_05qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_05qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_05qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_05qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: 5rem !important;
}

/* .qx-c-fcls_length_10qch */
.qx-c-fcls_length_10qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_10qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_10qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_10qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_10qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_10qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_10qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_10qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: 10rem !important;
}
/* .qx-c-fcls_length_15qch */
.qx-c-fcls_length_15qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_15qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_15qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_15qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_15qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_15qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_15qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_15qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: 15rem !important;
}


/* .qx-c-fcls_length_20qch */
.qx-c-fcls_length_20qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_20qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_20qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_20qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_20qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_20qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_20qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_20qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: 20rem !important;
}

/* .qx-c-fcls_length_25qch */
.qx-c-fcls_length_25qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_25qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_25qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_25qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_25qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_25qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_25qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_25qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: 25rem !important;
}

/* .qx-c-fcls_length_30qch */
.qx-c-fcls_length_30qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_30qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_30qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_30qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_30qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_30qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_30qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_30qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: 30rem !important;
}

/* .qx-c-fcls_length_35qch */
.qx-c-fcls_length_35qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_35qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_35qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_35qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_35qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_35qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_35qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_35qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field ,/*scrollbar*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: 35rem !important;
}

/* .qx-c-fcls_length_40qch */
.qx-c-fcls_length_40qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_40qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_40qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_40qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_40qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_40qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_40qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_40qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field ,/*scrollbar*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: 40rem !important;
}

/* .qx-c-fcls_length_50qch */
.qx-c-fcls_length_50qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_50qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_50qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_50qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_50qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_50qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_50qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_50qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field,/*scrollbar*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: 50rem !important;
}

/* .qx-c-fcls_length_60qch */
.qx-c-fcls_length_60qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_60qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_60qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_60qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_60qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_60qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_60qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_60qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field ,/*scrollbar*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: 60rem !important;
}


/* ############################################## */
/* More flexible range Length defined using form classes */
/* ############################################## */

/* .qx-c-fcls_length_flex_01qch */
.qx-c-fcls_length_flex_01qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_01qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: 2rem;
	/*width: 20rem !important;*/
	width: auto !important;
	max-width: 2rem;	
}


/* .qx-c-fcls_length_flex_05qch */
.qx-c-fcls_length_flex_05qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_05qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: 5rem;
	/*width: 20rem !important;*/
	width: auto !important;
	max-width: 5rem;	
}


/* .qx-c-fcls_length_flex_10qch */
.qx-c-fcls_length_flex_10qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_10qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: 5rem;
	/*width: 20rem !important;*/
	width: auto !important;
	max-width: 10rem;	
}

/* .qx-c-fcls_length_flex_15qch */
.qx-c-fcls_length_flex_15qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_15qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: 10rem;
	/*width: 20rem !important;*/
	width: auto !important;
	max-width: 15rem;	
}


/* .qx-c-fcls_length_flex_20qch */
.qx-c-fcls_length_flex_20qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_20qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: 10rem;
	/*width: 20rem !important;*/
	width: auto !important;
	max-width: 20rem;	
}


/* .qx-c-fcls_length_flex_25qch */
.qx-c-fcls_length_flex_25qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_25qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: 10rem;
	/*width: 20rem !important;*/
	width: auto !important;
	max-width: 25rem;	
}



/* .qx-c-fcls_length_flex_30qch */
.qx-c-fcls_length_flex_30qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_30qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: 10rem;
	/*width: 20rem !important;*/
	width: auto !important;
	max-width: 30rem;	
}

/* .qx-c-fcls_length_flex_35qch */
.qx-c-fcls_length_flex_35qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_35qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: 10rem;
	/*width: 20rem !important;*/
	width: auto !important;
	max-width: 35rem;	
}


/* .qx-c-fcls_length_flex_40qch */
.qx-c-fcls_length_flex_40qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_40qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: 10rem;
	/*width: 20rem !important;*/
	width: auto !important;
	max-width: 40rem;	
}

/* .qx-c-fcls_length_flex_50qch */
.qx-c-fcls_length_flex_50qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_50qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: 10rem;
	/*width: 20rem !important;*/
	width: auto !important;
	max-width: 50rem;	
}

/* .qx-c-fcls_length_flex_60qch */
.qx-c-fcls_length_flex_60qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, /*textField*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_60qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: 10rem;
	/*width: 20rem !important;*/
	width: auto !important;
	max-width: 60rem;	
}

/*
######################################################################################################
ALL Elements V-Size
######################################################################################################
*/

/*Half Line widgets i.e. slider, scrollbar..*/
 /*button*/

.qx-aum-progress-bar,
.qx-horizontal.qx-aum.qx-aum-slider
{
	height: 2.2rem !important;
	vertical-align: middle;
}

/*Single Line Widgets / textField based*/
.qx-aum.qx-aum-text-field, /*textField*/
.qx-single-row.qx-aum.qx-aum-function-field-abs,  /*functionField*/
.qx-aum.qx-aum-combo-box,  /*ComboList*/
.qx-single-row.ui-spinner.qx-aum-spinner, /*Spinner*/
.qx-single-row.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-aum.qx-aum-check-box,  /*CheckBox*/
.qx-aum.qx-aum-radio, /*Single RadioButton *special widget*/
.qx-bool-widget.qx-aum.qx-aum-radio,
.qx-single-row.qx-aum-button, /*button*/
.qx-aum-progress-bar,
.qx-horizontal.qx-aum.qx-aum-slider,

.qx-aum.qx-aum-calendar,  /*Calendar*/
.qx-aum-calendar,
.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field
{
	height: 2.2rem !important;
	vertical-align: middle !important;
	/*align:left; *//*just for test*/
}
/*Special Case: only with button fit.content   qx-c-fcls_button_image_only  HuHo 03.11.2018*/
.qx-c-fcls_button_image_only.qx-single-row.qx-aum-button
{
	height: fit-content !important;
	/*vertical-align: middle;*/
	/*align:left;*/ /*just for test*/
}


/*Multi Line Widgets / textField based*/
/*.qx-aum.qx-aum-radio-group  /*RadioButtonList GROUP*/*/
.qx-aum.qx-aum-list-box,  /*ListBox*/
.qx-aum.qx-aum-list-box.qx-aum-abstract-field /*listBox*/

{
	height: 4.4rem !important;
}

/*Image Area Widgets / i.e. canvas, browser*/
.qx-aum.qx-aum-web-component,  /*WebComponent*/
.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	height: 10.6rem !important;
}

/*Navigation/ScrollBar*/
.qx-aum.qx-aum-slider.qx-horizontal.qx-aum-abstract-range-field.qx-aum-abstract-field
{
  height: 1.4rem;
}
.qx-aum.qx-aum-slider.qx-vertical.qx-aum-abstract-range-field.qx-aum-abstract-field
{
  width: 1.4rem;
}

/*Table for DISPLAY & INPUT ARRAY*/
.qx-table-cell > .qx-aum {
 margin: 0;
 padding: 0;
 height: auto !important;
}
/*Was added to give the user some feedback on current row in INPUT ARRAY */
.qx-aum-wtf.ui-row-ltr.qx-focusable.qx-table-row.qx-selected
{
	background-color: #6a89ae;
	color: white;
}
