#qx-container-status-bar {
	display: none;
}


/*################################################
Alignment - in GridPanel Cell -> Vertical-Center Elements
##################################################*/
.qx-aum-grid-panel.qx-display-grid > .qx-va-t {
    -ms-flex-item-align: start;
    align-self: stretch;
    -ms-grid-row-align: start;
    vertical-align: middle;
}

.qx-aum-progress-bar
{

}

/*
######################################################################################################
MARGIN ALL Elements MARGIN
######################################################################################################
*/

/*.qx-c-fcls_fieldlabel.qx-aum-label.qx-has-text .qx-text-with-icon 
{
	margin-left:2px;
	margin-right:2px;	
	margin-top:2px;
	margin-bottom:2px;
}*/

/*margin textFields*/
.qx-aum-label,
.qx-aum-text-field,
.qx-aum-text-area,
.qx-aum-function-field-abs, 
.qx-aum-combo-box,
.qx-aum-calendar.qx-aum-abstract-text-field,
.qx-aum-list-box,
.qx-aum-spinner,
.qx-aum-radio-group.qx-aum-abstract-field,
.qx-aum-blob-viewer,
.qx-aum-browser,
.qx-aum-progress-bar,
.qx-aum-radio,
.qx-aum-slider,
.qx-aum-canvas,
.qx-aum-scroll-bar,
.qx-aum-time-edit-field,
.qx-aum-button .qx-text,
.qx-aum-button,
.qx-aum-check-box,  /*checkBox*/
.qx-aum.qx-aum-button.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-has-text 
{
	margin-top:2px;
	margin-bottom:2px;	
	margin-right: 2px;
	margin-left: 2px;
	padding-left: 2px;
	padding-right: 2px;

	
}


/*.qx-aum.qx-aum-list-box .qx-text
{
	margin-top:12px;
	margin-bottom:12px;	
	margin-right: 12px
}*/

.qx-grid-cell {
  padding: 1px;
}

.qx-aum.qx-c-fcls_data_widget {
  padding-left: 2px;
  padding-right: 2px;
}
/*Function Field*/
.qx-aum.qx-c-fcls_data_widget.qx-aum-function-field-abs {
  padding-left: 0;
  padding-right: 0;
}


.qx-aum.qx-aum-list-box
{
	margin-top:2px;
	margin-bottom:2px;	
	margin-right: 2px;


}

/*margin/padding for text box TEXT area ( i.e. INNER listBox)*/
.qx-text.qx-focus-target
{

	padding:4px;
}

/*
######################################################################################################
LABEL Widget Element
######################################################################################################
*/

/* ************************************************/
/* gridPanel Cell label REVERSED                  */
/* ************************************************/
/*FormClass: fcls_columnlabel_rev - selects just the label*/
.qx-c-fcls_columnlabel_rev.qx-aum-label .qx-text{
    /*font: normal 1rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;*/
    color: var(--label_rev-fg-color); /*white;   */
    background: var(--label_rev-bg-color); /* #3a597e;*/
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;    
    /*margin: 5px;*/
}	

/*FormClass: fcls_columnlabel_rev_cell - selects the entire cell*/
:not(.ui-widget-content).qx-aum-label.qx-c-fcls_columnlabel_rev_cell{
    background: var(--label_rev-bg-color) !important; 
	flex: 1;
}	

.qx-c-fcls_columnlabel_rev_cell.qx-aum-label .qx-text-with-icon{
    font: normal 1rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;
    color: var(--label_rev-fg-color); 
    background:var(--label_rev-bg-color);
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;    
    /*margin: 5px;*/
}	

.qx-c-fcls_columnlabel_rev_cell.qx-aum-label .qx-text{
    font: normal 1rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;
    color: var(--label_rev-fg-color); 
    background:var(--label_rev-bg-color);
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;    
    /*margin: 5px;*/
}	

/* Labels which show available key press/information i.e. [F1][F5][F12][Esc] */
/*FormClass: fcls_key_usage - selects the entire cell*/
:not(.ui-widget-content).qx-aum-label.qx-c-fcls_key_usage{
    background:var(--label_rev-bg-color);
	flex: 1;
}	
.qx-c-fcls_key_usage .qx-text{
    color: var(--label_rev-fg-color);  
    background: var(--label_rev-bg-color);
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;    
    /*margin: 5px;*/
}	


/*FormClass: fcls_menulabel - used in hand-made 4gl menu's (not the menu statement)*/
.qx-c-fcls_menulabel .qx-text{
    color: var(--label-fg-color);
} 

/*FormClass: fcls_title_lb for FORM TitleBar/Header*/
.qx-c-fcls_title_lb .qx-text {
    padding: 2px;
    padding: 5px 10px;
    color: var(--root_cnt_footer-fg-color) !important;
	font-weight:bold;
} 

/*FormClass: fcls_sblabel for FORM statusbar*/
.qx-c-fcls_sblabel .qx-text {
	color: #ffffff;
    padding: 5px 10px 2px;
} 

/*dynamic menu label - initial draw */
.qx-c-fcls_menulabel.qx-no-image.qx-has-text.qx-hta-l.qx-aum.qx-aum-label.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-inactive {
	color: var(--label-fg-color); 
}

/* Text Block of description/information */
/* FormClass: fcls_font_description */
.qx-c-fcls_font_description .qx-text-with-icon  .qx-text{
	color: var(--label_comment-fg-color);
	font-style: italic;
}

/* 4 Additional Header Styles to be used in forms */
/* FormClass: fcls_font_h1, fcls_font_h2, fcls_font_h3, fcls_font_h4 */
.qx-c-fcls_font_h1 .qx-text-with-icon{
	font-size: 2rem;
	font-weight:bold;
	color: var(--label-fg-color); 
}

.qx-c-fcls_font_h2 .qx-text-with-icon{
	font-size: 1.6rem;
	font-weight:bold;
	color: var(--label-fg-color); 
}

.qx-c-fcls_font_h3 .qx-text-with-icon{
	font-size: 1.2rem;
	font-weight:bold;
	color: var(--label-fg-color); 
}

.qx-c-fcls_font_h4 .qx-text-with-icon{
	font-size: 1rem;
	font-weight:bold;
	color: var(--label-fg-color); 
}
/*
######################################################################################################
END OF Label Widget Selectors/Classes
######################################################################################################
*/

/*
######################################################################################################
ALL Element Types with textBox
######################################################################################################
*/


/*
####################################################################
INPUT ELEMENTS WITHOUT FOCUS The actual TEXT (ALL Element Types with textBox)
####################################################################
*/
.ui-widget-content .qx-aum-abstract-field.ui-state-active, 
.ui-widget-header .qx-aum-abstract-field.ui-state-active, 
.qx-aum-abstract-field.ui-state-active,
.ui-widget-content .qx-aum-abstract-field.ui-state-active > select, 
.ui-widget-header .qx-aum-abstract-field.ui-state-active > select, 
.qx-aum-abstract-field.ui-state-active > select
{
	font-weight: normal;
	color: #3a597e;  

}


/*
####################################################################
INPUT FOCUS (ALL Element Types with textBox(abstract text box) = inner field in textField
####################################################################
*/
.qx-element-role-input.qx-aum.qx-aum-combo-box.qx-has-focus, 
.qx-element-role-input.qx-aum.qx-aum-function-field-abs.qx-has-focus 
.qx-element-role-input.qx-aum.qx-ff-text, 
.qx-element-role-input.qx-aum.qx-aum-function-field-abs.qx-has-focus 
.qx-element-role-input.qx-aum.qx-ff-text *, 
.qx-element-role-input.qx-aum.qx-aum-spinner.qx-has-focus, 
.qx-element-role-input.qx-aum.qx-aum-spinner.qx-has-focus .qx-text, 
.qx-element-role-input.qx-aum.qx-aum-spinner.qx-element-role-input.qx-active.qx-c-activefield.qx-enabled.qx-not-readonly,
.qx-element-role-input.qx-aum.qx-aum-text-area.qx-has-focus, 
.qx-element-role-input.qx-aum.qx-aum-text-area.qx-has-focus *, 
.qx-element-role-input.qx-aum.qx-aum-text-field.qx-has-focus, 
.qx-element-role-input.qx-aum.qx-aum-text-field.qx-has-focus *, 
.qx-element-role-input.qx-aum.qx-aum-time-edit-field.qx-has-focus, 
.qx-element-role-input.qx-aum.qx-aum-time-edit-field.qx-has-focus *,
.qx-element-role-input.qx-aum.qx-aum-check-box.qx-has-focus,
.qx-element-role-input.qx-aum.qx-aum-blob-viewer.qx-blob-image.qx-active.qx-enabled.qx-not-readonly,
.qx-element-role-input.qx-aum.qx-aum-list-box.qx-active.qx-c-activefield.qx-enabled.qx-not-readonly,
.qx-element-role-input.qx-aum.qx-text-field.qx-aum-text-area.qx-element-role-input.qx-active.qx-c-activefield.qx-enabled.qx-not-readonly,
.qx-element-role-input.qx-aum.qx-aum-time-edit-field.qx-element-role-input.qx-active.qx-c-activefield.qx-enabled.qx-not-readonly,
.qx-element-role-input.qx-aum.qx-aum-calendar.qx-element-role-input.qx-active.qx-c-activefield.qx-enabled.qx-not-readonly input,
.qx-element-role-input.qx-aum.qx-aum-calendar.qx-has-focus, 
.qx-element-role-input.qx-aum.qx-aum-calendar.qx-has-focus *,
.qx-element-role-input.qx-aum-function-field-abs.qx-has-focus .qx-ff-text,
.qx-element-role-input.qx-aum-function-field-abs.qx-has-focus .qx-ff-text *
{
background-color:var(--main-textfield-enabled-color-bg) !important;
background-image: none;

}


/*
####################################################################
DISPLAY FOCUS (ALL Element Types with textBox(abstract text box)
####################################################################
*/
.qx-element-role-display.qx-aum.qx-aum-combo-box.qx-has-focus, 
.qx-element-role-display.qx-aum.qx-aum-function-field-abs.qx-has-focus 
.qx-element-role-display.qx-aum.qx-ff-text, 
.qx-element-role-display.qx-aum.qx-aum-function-field-abs.qx-has-focus 
.qx-element-role-display.qx-aum.qx-ff-text *, 
.qx-element-role-display.qx-aum.qx-aum-spinner.qx-has-focus, 
.qx-element-role-display.qx-aum.qx-aum-spinner.qx-has-focus .qx-text, 
.qx-element-role-display.qx-aum.qx-aum-spinner.qx-element-role-input.qx-active.qx-c-activefield.qx-enabled.qx-not-readonly,
.qx-element-role-display.qx-aum.qx-aum-text-area.qx-has-focus, 
.qx-element-role-display.qx-aum.qx-aum-text-area.qx-has-focus *, 
.qx-element-role-display.qx-aum.qx-aum-text-field.qx-has-focus, 
.qx-element-role-display.qx-aum.qx-aum-text-field.qx-has-focus *, 
.qx-element-role-display.qx-aum.qx-aum-time-edit-field.qx-has-focus, 
.qx-element-role-display.qx-aum.qx-aum-time-edit-field.qx-has-focus *,
.qx-element-role-display.qx-aum.qx-aum-check-box.qx-has-focus,
.qx-element-role-display.qx-aum.qx-aum-blob-viewer.qx-blob-image.qx-active.qx-enabled.qx-not-readonly,
.qx-element-role-display.qx-aum.qx-aum-list-box.qx-active.qx-c-activefield.qx-enabled.qx-not-readonly,
.qx-element-role-display.qx-aum.qx-text-field.qx-aum-text-area.qx-element-role-input.qx-active.qx-c-activefield.qx-enabled.qx-not-readonly,
.qx-element-role-display.qx-aum.qx-aum-time-edit-field.qx-element-role-input.qx-active.qx-c-activefield.qx-enabled.qx-not-readonly,
.qx-element-role-display.qx-aum.qx-aum-calendar.qx-element-role-input.qx-active.qx-c-activefield.qx-enabled.qx-not-readonly input,
.qx-element-role-display.qx-aum.qx-aum-calendar.qx-has-focus, 
.qx-element-role-display.qx-aum.qx-aum-calendar.qx-has-focus *,
.qx-element-role-display.qx-aum-function-field-abs.qx-has-focus .qx-ff-text,
.qx-element-role-display.qx-aum-function-field-abs.qx-has-focus .qx-ff-text *
{
background-color:  rgb(46, 110, 158) !important;
background-image: none !important;
}

/* ######################################## DISPLAY ARRAY ########################################################## */
/* ### background ### 18.01.2019 HuHo*/
/*label*/           .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-aum-label.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-has-text.qx-not-readonly.qx-c-activefield.qx-c-fcls_fieldlabel,
/*textField*/       .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-disabled.qx-readonly.qx-active.ui-state-active.qx-has-text.qx-c-activefield,
/*functionField*/   .qx-c-lycia_currentrow.qx-element-role-display.qx-aum-function-field-abs.qx-aum-abstract-field.ui-state-active.qx-c-activefield.qx-disabled.qx-readonly,
/*functionField*/   .qx-c-attribute_blue.qx-c-attribute_reverse.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-disabled.qx-readonly.ui-state-active.qx-c-activefield.qx-has-text,
/*button bg*/       .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-aum-button.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-c-activefield.qx-focusable-field.qx-enabled.qx-not-readonly,
/*button face*/     .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-aum-button.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-c-activefield.qx-focusable-field.qx-enabled.qx-not-readonly .qx-no-image.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only .ui-button-text .qx-text-with-icon,
/*CheckBox*/        .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-bool-widget.qx-aum-check-box.qx-aum-abstract-bool-field.qx-aum-abstract-field.qx-has-title.qx-readonly.qx-has-text.qx-active.qx-c-activefield,
/*Radio*/           .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-aum-radio-group.qx-aum-abstract-field.qx-disabled.qx-readonly.qx-focused.ui-state-focus.qx-has-focus.qx-c-activefield,
/*RadioButtonList*/ .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-aum-radio-group.qx-aum-abstract-field,
/*Radio*/           .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-aum-radio-group.qx-aum-abstract-field.qx-readonly.qx-c-activefield,
/*Combo*/           .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-aum-combo-box.qx-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-disabled.qx-readonly.ui-state-active.qx-c-activefield,
/*textArea*/        .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-text-field.qx-main-cell.qx-aum-text-area.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-active,
/*Calendar*/        .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-single-row.qx-aum-calendar.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-disabled.qx-readonly.qx-active.ui-state-active.qx-has-text,
/*Spinner*/         .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-single-row.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field.qx-aum-abstract-field.ui-qspinner-disabled.qx-active,
/*TimeEdit*/        .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-aum-time-edit-field.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-active,
/*ListBox*/         .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-aum-list-box.qx-aum-abstract-field.qx-disabled.qx-readonly.qx-active .qx-text,

/*wildcard*/        .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-aum-abstract-field.qx-readonly.qx-c-activefield
{
background-color:  rgb(46, 110, 158) !important;
background-image: none !important;
color: red !important;   /*just to spot bugs*/
}

/* ### foreground ### 18.01.2019 HuHo */
/*label*/.qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-aum-label.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-has-text.qx-not-readonly.qx-c-activefield.qx-c-fcls_fieldlabel .qx-text,
/*textField*/       .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-disabled.qx-readonly.qx-active.ui-state-active.qx-has-text.qx-c-activefield .qx-text,
/*textArea*/      .qx-text-field.qx-main-cell.qx-aum-text-area.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-element-role-display.qx-active.qx-c-lycia_currentrow.qx-c-attribute_blue.qx-c-attribute_reverse .qx-text,
/*Combo*/           .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-aum-combo-box.qx-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-disabled.qx-readonly.ui-state-active.qx-c-activefield .qx-text,
/*radioButtonLabel*/ .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-aum-radio-group.qx-aum-abstract-field .qx-bool-widget.qx-aum-radio.qx-content.qx-has-text.qx-content.qx-not-readonly .qx-text,
/*CheckBox*/        .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-bool-widget.qx-aum-check-box.qx-aum-abstract-bool-field.qx-aum-abstract-field.qx-has-title.qx-readonly.qx-has-text.qx-active.qx-c-activefield .qx-text,
/*functionField*/   .qx-c-lycia_currentrow.qx-element-role-display.qx-aum-function-field-abs.qx-aum-abstract-field.ui-state-active.qx-c-activefield.qx-disabled.qx-readonly  .qx-text,
/*Calendar*/        .qx-single-row.qx-aum-calendar.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-disabled.qx-readonly.qx-element-role-display.qx-active.ui-state-active.qx-has-text.qx-c-lycia_currentrow.qx-c-attribute_blue.qx-c-attribute_reverse .qx-text,
/*Spinner*/         .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-single-row.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field.qx-aum-abstract-field.ui-qspinner-disabled.qx-active .qx-text,
/*TimeEdit*/        .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-single-row.qx-aum-time-edit-field.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-active .qx-text,
/*button face*/     .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-aum-button.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-c-activefield.qx-focusable-field.qx-enabled.qx-not-readonly .qx-no-image.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only .ui-button-text .qx-text-with-icon .qx-text,
/*ListBox*/         .qx-c-lycia_currentrow.qx-element-role-display.qx-c-attribute_blue.qx-c-attribute_reverse.qx-aum-list-box.qx-aum-abstract-field.qx-disabled.qx-readonly.qx-active .qx-text 
{
color: white !important;	
}
/* #################################### END OF DISPLAY ARRAY ################################ */

.ui-state-focus, 
.ui-state-hover, 
.ui-widget-content .ui-state-focus.qx-aum-table, 
.ui-widget-content .ui-state-hover.qx-aum-table, 
.ui-widget-header .ui-state-focus.qx-aum-table, 
.ui-widget-header .ui-state-hover.qx-aum-table 
{
    border: 1px solid #3a597e;
    background:none;
    font-weight: 400;
    color:red;/* #212121;*/
}


/*Special Case RadioButton */
.qx-aum-radio 
.ui-state-focus, 
.ui-state-hover, 
.ui-widget-content 
.ui-state-focus, 
.ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-focus, 
.ui-widget-header .ui-state-hover {
    border: none;
    background: none;
}
/*END Special Case RadioButton */

/*Special Case Blob Viewer - 30.10.2018*/
/*qx-aum qx-aum-blob-viewer qx-aum-abstract-field qx-blob-text*/
/******************************************/
.ui-state-focus, 
.ui-state-hover, 
.ui-widget-content .ui-state-focus.qx-aum-blob-viewer, 
.ui-widget-content .ui-state-hover.qx-aum-blob-viewer, 
.ui-widget-header .ui-state-focus.qx-aum-blob-viewer, 
.ui-widget-header .ui-state-hover.qx-aum-blob-viewer 
{
    border: 1px solid #3a597e;
    background:none;
    font-weight: 400;
    color:red;/* #212121;*/
}

iframe {
	border:none;
}

/*END Special Case Blob Viewer*/

/* Special for CheckBox - Tester Feedback Anna - remove visible box when focusing a check box */
.qx-aum-check-box.qx-has-focus
{
border-width: 0px;
background-color:white !important;
background-image: none;
}

.qx-bool-widget.qx-focused label {
    outline-width: 0
}
.qx-aum-check-box input+label>span,
.qx-aum-radio input+label>span {
    border: 1px dashed transparent;
}
.qx-aum-check-box input:focus+label>span,
.qx-aum-radio input:focus+label>span {
    border-color: #aaa;
}


.qx-aum-radio-group.qx-focused {
    outline-width: 0px;
}
/* .qx-bool-widget label {
    outline: 1px dashed transparent;
}
.qx-bool-widget.qx-focused label {
    outline: 1px dashed #aaa;
} */
/* EOL - Special for CheckBox - Tester Feedback Anna - remove visible box when focusing a check box */


/*qx-read_only*/
/* ######################################################################################################*/
/* ### INPUT -> FOCUS - currently selected field                                        #################*/
/*.qx-text.qx-focus-target ~ .qx-aum-text-field.qx-has-focus*/
.ui-widget-content .ui-state-highlight.qx-element-role-input
{
border:2px solid var(--tf-border-color); /* #69a7d7; */
border-radius: 3px;
color:#3a597e;
/*background-color: green !important;*/ /*rgba(208,229,245,0.2) !important;*/
image: none !important;

}

/* ######################################################################################################*/
/* ### INPUT -> "BUT NO FOCUS" FOR ALL WIDGETS                                                           #################*/
.ui-widget-content .qx-element-role-input
{
border:0.5px solid var(--tf-border-color);  /* #69a7d7; */
/*border-radius: 0px;*/
color:#3a597e;
background-color:rgba(208,229,245,0.2) !important;
}
/* ### INPUT -> "BUT NO FOCUS" FOR ALL WIDGETS                                                           #################*/
.ui-widget-content .qx-element-role-input:hover
{
border:0.5px solid var(--tf-border-hover-color);
/*border-radius: 0px;*/
/*color:#3a597e;*/
}
/*-----------------------------------------------------------------------------*/
/* ### INPUT -> BUT NO FOCUS for widgets without textBox / frames                                                          #################*/
.ui-widget-content .qx-element-role-input.qx-aum-check-box,
.ui-widget-content .qx-element-role-input.qx-aum-radio-group,
.ui-widget-content .qx-element-role-input.qx-aum-slider,
.ui-widget-content .qx-element-role-input.qx-aum-label,
.ui-widget-content .qx-element-role-input.qx-aum-progress-bar,
.ui-widget-content .qx-element-role-input.qx-aum-button
{
border:0.0px solid var(--tf-border-color); /* #69a7d7; */
/*border-radius: 0px;*/
color:#3a597e;
background-color:var(--transparent) !important; /*rgba(208,229,245,0.2) !important;*/
}

/* ######################################################################################################*/



/* huho removed  17.01.2019 */
/*.qx-text-field input.qx-text*/
/*{*/
/*border:2px solid var(--tf-border-color);
border-radius: 3px;
color:#3a597e;*/
/*background-color:rgba(208,229,245,0.2) !important;*/

/*}*/

/***************************************************/



/* calendar widgt special rules as it is made up of a text field and a button*/
.qx-aum-calendar.qx-has-focus 
{
background-color:rgba(208,229,245,0.2) !important;
}

/*Outer calendar widget - parent container */
.qx-aum-function-field-abs.qx-has-focus,
.qx-aum-calendar.qx-has-focus/* .qx-text.qx-htal.hasDatepicker */
{
border-radius: 3px;
background-color:rgba(208,229,245,0.2) !important;
}


/*
####################################################################
Inactive Fields (ALL Element Types with textBox)
qx-inactive, qx-readonly, ui-state-disabled
NOT IN INPUT
####################################################################
*/

.qx-aum-calendar.qx-inactive.ui-state-disabled,
.qx-aum-calendar.qx-inactive.ui-state-disabled *,
.qx-aum-calendar.qx-readonly,
.qx-aum-calendar.qx-readonly *,

.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text,
.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text *,
.qx-aum-function-field-abs.qx-readonly .qx-ff-text,
.qx-aum-function-field-abs.qx-readonly .qx-ff-text *,

.qx-aum-spinner.qx-inactive.ui-state-disabled,
.qx-aum-spinner.qx-inactive.ui-state-disabled .qx-text,
.qx-aum-spinner.qx-readonly,
.qx-aum-spinner.qx-readonly .qx-text,

.qx-aum-text-field.qx-inactive.ui-state-disabled,
.qx-aum-text-field.qx-inactive.ui-state-disabled *,
.qx-aum-text-field.qx-readonly,
.qx-aum-text-field.qx-readonly *,

.qx-aum-text-area.qx-inactive.ui-state-disabled,
.qx-aum-text-area.qx-inactive.ui-state-disabled *,
.qx-aum-text-area.qx-readonly,
.qx-aum-text-area.qx-readonly *,

.qx-aum-time-edit-field.qx-inactive.ui-state-disabled,
.qx-aum-time-edit-field.qx-inactive.ui-state-disabled *,
.qx-aum-time-edit-field.qx-readonly,
.qx-aum-time-edit-field.qx-readonly *,

.qx-aum-combo-box.qx-inactive.ui-state-disabled, /*outer ComboBoxList*/
.qx-aum-combo-box.qx-inactive.ui-state-disabled .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
.qx-aum-combo-box.qx-readonly, /*outer ComboBoxList*/
.qx-aum-combo-box.qx-readonly .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/


.qx-aum-browser 
{

color:var(--tf-label-enabled_fg-color) !important; /* #3a597e;*/
background-color:rgba(208,229,245,0.0) !important;
   opacity: 1;
   filter: Alpha(Opacity=00);
   border: 1px solid rgba(255, 255, 255, .0); /*huho 15.3.2019 hide(remove) border for inactive fields */
   
}


/*##############################################################################################################
Inactive State - kind of global for all elements
##############################################################################################################*/

.ui-state-disabled, 
.ui-widget-content .ui-state-disabled

{
    opacity: .7; 
    filter: Alpha(Opacity=70);
    border: 1px solid rgba(92, 156, 204, .5);
    color:#3a597e;
    }


/*disabled button */
.qx-aum-button.qx-inactive.ui-state-disabled.qx-disabled.qx-readonly
{
    opacity: .7; 
    filter: Alpha(Opacity=70);
    border: none; 
    color:#3a597e;
    }



.qx-aum-text-field.qx-inactive
{
	/*border:none;*/
	border: 1px solid rgba(92, 156, 204, .5);
}

/* ---Disabled ComboBox - Special Case huho 18.09.2018*/
.qx-aum-combo-box.qx-disabled .ui-button {
	display: none;
}	




/************************************
functionField
*************************************/

/*remove outer/parent border*/
.qx-aum-function-field-abs.qx-inactive.ui-state-active.qx-aum.qx-aum-abstract-field.qx-active 
{
	/*border:none;*/
	border: 10px solid rgba(92, 156, 204, .5);
}

/*.qx-text-field.qx-aum.qx-aum-text-field.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-inactive.ui-state-disabled.qx-disabled.qx-readonly.qx-has-text

{
	border: 1px solid rgba(92, 156, 204, .5);
}*/

/*.ui-state-active.qx-single-row.qx-aum.qx-aum-function-field-abs.qx-active
.qx-ff-text.qx-focus-element
{

	border: 1px solid rgba(92, 156, 204, .5);
} */


/* huho removed 15.03.2019 */
/************************************
comboListBox
*************************************/
/*
.qx-text-field.qx-aum.qx-aum-combo-box.qx-inactive.ui-state-disabled.qx-disabled.qx-readonly.qx-has-text
{
border: 1px solid rgba(92, 156, 204, .5);	
}
*/

/************************************
xxxxxxxxxxxxxxxx
*************************************/
.qx-aum-text-area.qx-inactive,   /*.ui-state-disabled.qx-disabled.qx-readonly,*/  /*text-area*/
.qx-aum-time-edit-field.qx-inactive,                           /*time-edit-field*/
.qx-aum-browser.qx-inactive,  /*browser*/
.qx-aum-calendar.qx-inactive,   /*calendar*/
.qx-aum-list-box.qx-inactive,
.qx-aum-canvas.qx-inactive
{
border: 1px solid rgba(92, 156, 204, .5);	
}

.qx-aum-list-box .qx-text
{
	border:none;
}

/*###########################################################################################################*/
/*#################################################
 Enabled/Disabled fields - Input/not in Input
###################################################*/
/*Overwrite opacity for disabled fields */
.ui-widget-header .ui-state-active,
.ui-state-disabled,
.ui-widget-content .ui-state-disabled, 
.ui-state-disabled {
   opacity: 1;
   filter: Alpha(Opacity=100);

}

/*Overwrite opacity for disabled fields */
.qx-c-fcls_show_enabled.ui-widget-header .qx-c-fcls_show_enabled.ui-state-active,
.ui-state-disabled,
.qx-c-fcls_show_enabled.ui-widget-content .ui-state-disabled, 
.ui-state-disabled {
   opacity: 1;
   filter: Alpha(Opacity=100);
}

/*################################################
ElementType TextField
##################################################*/



/*ACTIVE*/
/*textField widget - fcls_active_widget  widgets should show active but not be selectable */ 
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_active_widget .qx-text{
	opacity: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	margin-bottom: 4px;

	/*color: rgba(0, 0, 0, 0.5);*/
}


/*
####################################################################
Element Type ComboBoxList Field with form element class fcls_data_widget
####################################################################
*/
.qx-c-fcls_data_widget.qx-aum-combo-box {
    #border: 1px solid #c5dbec;
    background: none  #; 
    #font-weight: bold;
}

/*.qx-single-row.qx-aum.qx-aum-function-field-abs.qx-aum-abstract-field.qx-element-role-input.qx-active.qx-c-fcls_data_widget.qx-not-readonly
{
	border: 1px solid rgba(92, 156, 204, .5) !important; 
}
*/
/*Function Field*/
.qx-c-fcls_data_widget.qx-aum-function-field-abs {
/*     border: 0px solid #A0F !important;  */
    background:transparent;
}
/*and it's decendent textbox will change when it becomes focus (cursor in field)*/
/* .qx-c-fcls_data_widget.qx-aum-function-field-abs .qx-aum-abstract-field.qx-focused {
	    background: #fbec88;
    border: 1px solid #fad42e !important; 
    
}
 */
/*
####################################################################
Element Type spinner Field with form element class fcls_data_widget
####################################################################
*/


/*Overwrite jQuery css for spinner input*/
.qx-c-fcls_data_widget.qx-aum-spinner > input {
background: none;
    background-color: transparent;
}

/*spinner - outer spinner - input but not focused*/
.qx-c-fcls_data_widget.qx-aum-spinner.qx-aum-abstract-field {
   # border: 0px solid #ffffff !important; 
   #     background:transparent;
}
/*spinner - inner textbox input with focus*/
.qx-c-fcls_data_widget.qx-aum-spinner.qx-aum-abstract-field.ui-state-active.qx-focused .qx-text {
/*     border: 1px solid #fad42e !important;
    background:#fbec88; */
    font-weight: normal;
}


/*######################################################
RadioButtonList Children * selector
########################################################*/

.qx-bool-widget.qx-aum.qx-aum-radio.qx-aum-abstract-bool-field.qx-aum-abstract-field.qx-has-title.qx-has-text.qx-focusable-field  
{
	color: #3a597e;	

	font-size: 1rem;		
}
.qx-aum-radio-group * 
{
color: #3a597e;	
	font-size: 1rem;		
}

/*
######################################################
RadioButtonList
######################################################
*/
.qx-c-fcls_field .qx-aum-radio
{
	color: #3a597e;   
	font-size: 1rem;		
}

.qx-c-fcls_data_widget .qx-aum-radio
{
	color: #3a597e;   
	font-size: 1rem;		
}

.aum-text-field
{
	color: #3a597e;   
	font-size: 2.8rem;		
}

.qx-aum-radio-group .qx-content, .qx-c-nativestyle .qx-content
{
	color: #3a597e;   
	font-size: 2.8rem;		
}

qx-aum-abstract-field.ui-state-active .qx-aum-abstract-field.ui-state-active .qx-aum-radio-group .qx-content, .qx-c-nativestyle .qx-content
{
	color: black;
	font-size: 1rem;		
}

.qx-aum-radio-group.ui-state-focus, 
.qx-aum-radio-group.ui-state-hover, 
.qx-aum-radio-group.ui-widget-content,
.qx-aum-radio-group.ui-state-focus, 
.qx-aum-radio-group.ui-widget-content,
.qx-aum-radio-group.ui-state-hover,
.qx-aum-radio-group.ui-widget-header,
.qx-aum-radio-group.ui-state-focus,
.qx-aum-radio-group.ui-widget-header,
.qx-aum-radio-group.ui-state-hover {

    background-color: transparent;
	/*background-image:none;
	border: none; */
	
/* 	border: 1px solid white; */
	border-radius: 3px;

}

.ui-state-hover:hover
{

    background-color: transparent;
	/*background-image:none;
	border: none; */
	
	border: 1px solid white;
	border-radius: 3px;

}


/*#######################################
RadioButton Single
#########################################*/
/*general*/

.qx-aum-radio .qx-text
{
    color: #3a597e; 
}	
.qx-c-fcls_data_widget.qx-aum-radio.qx-aum-abstract-field .qx-text-with-icon .qx-text
{
	font-size: 1rem;
	font-weight: normal;
    font: normal 1rem "Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif;
    color: #3a597e; 	
}	

/*inactive*/
.qx-c-fcls_data_widget.qx-aum-radio.qx-bool-widget.qx-aum.qx-on-1.qx-s-on-0.qx-aum-abstract-bool-field.qx-aum-abstract-field.qx-psw.qx-has-title.qx-has-text.qx-inactive.qx-disabled.qx-readonly .qx-text-with-icon .qx-text 
{ 
	color: #3a597e;
}

/*active*/
.qx-c-fcls_data_widget.qx-aum-radio.qx-bool-widget.qx-aum.qx-on-1.qx-s-on-0.qx-aum-abstract-bool-field.qx-aum-abstract-field.qx-active.qx-c-activefield.qx-has-title.qx-has-text .qx-text-with-icon .qx-text 
{ 
	color: #3a597e;
}

/*#######################################
CheckBox
##########################################*/
/*checkBox label*/
.qx-bool-widget.qx-aum.qx-aum-check-box.qx-aum-abstract-bool-field.qx-aum-abstract-field.qx-has-title.qx-has-text
{
	font-size: 1rem;
	font-weight: normal;
    font: normal 1rem "Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif;
    color: #3a597e; 		
}

/*in input*/
.qx-c-fcls_data_widget.qx-aum-check-box.qx-bool-widget.qx-aum-abstract-field.qx-aum.qx-aum-abstract-bool-field.qx-element-role-input.qx-active.qx-c-activefield.qx-has-title.qx-has-text .qx-text-with-icon .qx-text
{
	color: #3a597e;
}

/*disabled - not in input*/
.qx-c-fcls_data_widget.qx-aum-check-box.qx-bool-widget.qx-aum-abstract-field.qx-aum.qx-element-role-input.qx-has-title.qx-has-text.qx-inactive.qx-disabled.qx-readonly .qx-text-with-icon .qx-text
{
	color: #3a597e;
}
/*########################################
Tab Handles 
##########################################*/
/*Note, we need a different/unique class name for MDI-container tab-handles*/
/*at the moment, this class will select ALL tab handles normal form AND mdi-container */

/* Tab-Page Form Container */

.qx-aum.qx-aum-tab.qx-aum-abstract-container .qx-tabcontrol-header.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header 
{
	color: red;
	background-color: blue;
}

.ui-tabs-nav 
{
    min-width: 150px;
    color: white;
    background-color: #3a597e;
	/*background:transparent; */
}




.ui-tabs-nav .qx-text 
{
	
    min-width: 150px;
    color: white;
    /*background-color: re; */

}


/*All button-labels (from any button) in forms with the (rootfolder) class name fcls_container_menu*/
.qx-c-fcls_container_menu .qx-aum-button .qx-text-with-icon {
	justify-content:flex-start;
	}

/*########################################################*/
/* BUTTON                                                 */
/*########################################################*/

/*Any general button*/
.qx-no-image.ui-button.ui-widget .ui-button-text .qx-text-with-icon
{

color: var(--widg_button-fg-color); /*white;*/
background-color: var(--widg_button-bg-color); /*rgb(58, 89, 126);*/

}
/* Hover button color changes */
.qx-no-image.ui-button.ui-widget .ui-button-text .qx-text-with-icon:hover
{

color: var(--main-hover-button-color-fg);
background-color: var(--main-hover-button-color-bg);

}

/*###############################################
Fix size buttons
###############################################*/

.qx-c-fcls_button_icon
{
	width:2rem;
	height:2rem; 
}

.qx-c-fcls_button_1
{
	width:5rem;
}

.qx-c-fcls_button_2
{
	width:10rem;
}

.qx-c-fcls_button_3
{
	width:15rem;
}
.qx-c-fcls_button_4
{
	width:20rem;
}
.qx-c-fcls_button_5
{
	width:25rem;
}



/*###############################################
images for icons/buttons
###############################################*/
/*Function Field*/
.qx-c-fcls_image_remove.qx-aum-function-field-abs
{
	color:red;
	background-color: red;
	background: none;
}


/* Trying to replace the default icon and center it on the button 12.12.2018 HuHo*/
.qx-aum-function-field-abs
.qx-aum.qx-aum-button.qx-aum-abstract-string-field.qx-has-image
.qx-no-image.ui-button.ui-button-text-only
.qx-image.qx-image-scaling-none
{
  /*display: block;*/
align-self: center;  
text-align: center !important;
vertical-align:middle !important;
horizontal-align:middle !important;
	content: url(/public/querix/icon/svg/24/ic_sub_dialog_24px.svg);
}	
	
	

/******************************/
.qx-aum-label  /*2017-12-09*/  /*qx-aum-label*/
{
/*align-self: center;*/
vertical-align: middle;
text-align: left;
}


/*######################################################*/

/*.qx-c-fcls_fieldlabel.qx-aum-label 
{
	margin: 1px 2px 0;
}
*/
/*
.qx-c-fcls_columnlabel.qx-aum-label,
.qx-c-fcls_menulabel.qx-aum-label 
{
	margin: 2px; v
}
*/


.qx-aum.qx-aum-spinner.qx-c-fcls_data_widget,
.qx-aum.qx-aum-combo-box.qx-c-fcls_data_widget,
.qx-aum.qx-aum-calendar.qx-c-fcls_data_widget {
  padding-right: 0;
}

