/*
####################################################################################################################################
Title Container and text in form - top row-container in form's rootContainer

FormClasses:
fcls_title_cnt
fcls_title_cnt_sub
fcls_title_lb
####################################################################################################################################
*/
.qx-c-fcls_title_lb .qx-text {
    padding: 2px;
    padding: 5px 10px;
    color: var(--root_cnt_header-fg-color)!important;
    font: bold 14px "Roboto","Calibri","Helvetica Neue", Sans-Serif;
} 
.qx-aum-grid-panel.qx-aum-items-container.qx-aum-abstract-container.qx-c-fcls_title_cnt {
	background: var(--root_cnt_header-bg-color); /*#3a597e*/

	background-image: none;
	font-weight: bold;
	/*border-radius: 4px;*/
	padding: 2px; 
	margin: 2px;
}

/*
####################################################################################################################################
Custom Statusbar - bottom form
Form Classes / Selectors:
fcls_statusbar_cnt
fcls_statusbar_cnt_sub
fcls_sblabel
####################################################################################################################################
*/

.qx-c-fcls_statusbar_cnt {
	background: var(--root_cnt_footer-bg-color);
        background-image: none;
	/*border-radius: 4px;*/
	padding: 0;
	margin-top:5px;
}

.fcls_sblabel .qx-text {
    padding: 2px;
    padding: 5px 10px;
    color: var(--root_cnt_footer-fg-color)!important;
    font: bold 14px "Roboto","Calibri","Helvetica Neue", Sans-Serif;
} 