@import url("../fonts/fontawesome/stylesheet.css");
@import url("../fonts/montserrat/stylesheet.css");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,600italic,400,400italic,300,300italic);

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
#qx-container-toolbars,
#qx-container-body > .qx-o-c-screen {
    display: none !important;
}

#qx-container-body {
    overflow: hidden;
}

.qx-bordered-window.qx-root > .qx-wrap > .qx-bound > .qx-aum {
    overflow: visible;
}

.qx-viewport .qx-aum-window > .qx-wrap > .qx-bound {
    overflow: auto;
}


#qx-t-c {
    padding-top: 60px !important;
}

/*changed by huho  background-color: #d6d6d6 -> background-color: #white*/
.cmsfb .qx-child-page, .cmsfb .qx-window-border {
    /*background-color: #f0f3f4 !important;*/
    background-color: #white; /*!important;*/
    padding: 0;
}
/*BEGIN left-side menu*/

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu a
{
	font-weight: normal !important;
}

/* Sidebar */
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu {
	background-color: var(--cnt_mdi_menu_button_area-bg-color) !important; 
	font-family: Montserrat;
	font-size: 13px;
	border-right-color: var(--cnt_mdi_menu_col2-color) !important;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-item a,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .ui-state-default a,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .ui-state-active a,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .ui-state-default,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .ui-state-active {
	color: rgba(255,255,255,.6);
	text-decoration: none;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-menu-inner {
	width: 100%;
    /*box-shadow: 4px 0 3px -2px #324873;*/
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu ul {
	padding: 0;
	margin: 0;
	border: none;
}

/* Sub-Items */
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu > div.qx-menu-inner::before,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu ul ul {
	background-color: var(--cnt_mdi_menu_col3-color);
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li.ui-state-hover,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li.ui-state-default,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar .ui-state-hover a,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar .ui-state-default a,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a.ui-state-hover,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a.ui-state-default {
	border: none;
	background: none;
	background-color: inherit;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a:hover,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a:hover i:before {
	color: #fff;
	cursor: pointer;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li {
	padding: 0;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a {
	padding: 10px 0;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar label > img {
	/*visibility: hidden;  huho 2017-12-10*/
	display: block !important;
	VISIBILITY: hidden;
	width: 16px !important;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a.ui-state-hover,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .treeview .hover {
	color: #fff !important;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu ul,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .treeview li {
	padding-left: 0px;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .treeview li > a {
	margin-left: 20px;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu label > i {
	color: rgba(150,150,150,.6);
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .treeview li li > a {
	margin-left: 40px;
}
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .treeview li li li > a {
	margin-left: 60px;
}
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .treeview li li li li > a {
	margin-left: 80px;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .treeview li li li li li > a {
	margin-left: 100px;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu li {
	position: relative;
	z-index: 2;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu li.qx-aum-menu-group > a:after {
	content: "";
	position: absolute;
	top: 1em;
	right: 30px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-right: none;
	border-bottom: 6px solid transparent;
	border-left: 5px solid rgba(150,150,150,.6);
	transition-duration: .2s;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu li.qx-aum-menu-group > a:hover:after {
	border-left-color: #fff;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu li.qx-aum-menu-group.collapsable > a:after {
	transform: rotate(90deg);
}

/* selection background */
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu div.qx-aum-menu-bar li.menu-item-selected {
	background-color: var(--cnt_mdi_menu_col5-color); 
	transition-duration: .3s;
	transition-property: background-color;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu li.qx-aum-menu-group.menu-item-selected > a:after {
        border-left-color: #fff;
}

/* selection color */
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu div.qx-aum-menu-bar li.menu-item-selected > a {
	color: var(--cnt_mdi_menu_col4-color);
}

.cmsfb:root #cms-topbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	padding-left: 0;
	z-index: 1000;
	background-color: var(--cnt_mdi_header-bg-color); 
	transition: padding-left .8s;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu {
	z-index: 1001;
}
/*Logo area*/
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu::before {
	content: "";
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: var(--cnt_mdi_menu_col1-color) url(/public/querix/css/images/logo.svg) no-repeat 20px center;
	background-size: 30%;
}
/*END left-side menu*/

.qx-devicemode-desktop #qx-main-layout .qx-menu-type-tree.qx-mdi div#qx-container-menu {
	width: 300px;
    min-width: 300px;
}

.qx-devicemode-desktop.cms-mainmenu-visible #cms-topbar {
	padding-left: 300px;
}
.qx-devicemode-desktop #cms-topbar > p.cms-search-widget > .qx-c-cms-search {
	font-family: Open Sans;
	font-size: 15px;
	font-weight: bold;
	color: #ccc;
	padding: .4em .4em .4em 3em;
	border: none;
	width: 190px;
	height: 36px;
	border-radius: 40px;
	background-color: #324874;
	background-image: none;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.0);
}
.cmsfb #qx-container-menu {
	transition-duration: .5s !important;
	transition-property: width !important;
}

.cmsfb #cms-topbar > p {
	flex-grow: 1;
	align-self: center;
	padding: 0;
	padding-right: 5em;
	margin: 0;
	display: flex;
	justify-content: flex-end;
}
.cmsfb #cms-topbar > p > a {
	font-family: Open Sans;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	display: none;
	position: relative;
	padding-right: .8em;
	cursor: pointer;
}

.cmsfb #cms-topbar > p > a.cms-logged-in {
	display: flex;
}

.cmsfb #cms-topbar > p > a .toggle-popup {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-bottom: none;
	border-right: 6px solid transparent;
	border-top: 5px solid rgba(255,255,255,.6);
}
.cmsfb #cms-topbar > p > a:hover .toggle-popup {
	border-top: 5px solid rgba(255,255,255,1);
}


.cmsfb #cms-topbar > p > a > * {
	margin: 0 .3em;
	align-self: center;
}

.cmsfb #cms-topbar > p > a > img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #fff;
}

/*.cmsfb .cms-mainmenu-close {
	font-size: 2em;
	cursor: pointer;
	color: #fff;
}
.cmsfb .cms-mainmenu-close:hover {
	color: gold;
}
.cmsfb .cms-mainmenu-close:active {
	color: red;
}*/
html.cmsfb:root .cms-mainmenu-close {
    display: none;
}

/*.cmsfb:root .qx-window-border,
.cmsfb:root #qx-t-c {
    border: none !important;
}*/

/*Topbar height*/
.cmsfb #cms-topbar,
/*Logo rectangle height*/
.cmsfb .qx-menu-type-tree.qx-mdi div#qx-container-menu::before {
	height: 60px;
}
/*Place for topbar - prevents topbar-menu overlap*/
.cmsfb .qx-menu-type-tree.qx-mdi div#qx-container-menu > .qx-menu-inner {
	padding-top: 60px;
}

/*Style for the dialogs opened with fgl_winmessge/prompt/etc*/
.cmsfb body > .ui-dialog {
	margin-top: 60px;
	z-index: 1002;
}

.cmsfb .cms-button-mainmenu-close,
.cmsfb #cms-button-mainmenu {
	text-indent: -9999px;
	background: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDAwMDAwIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMyAxOGgxOHYtMkgzdjJ6bTAtNWgxOHYtMkgzdjJ6bTAtN3YyaDE4VjZIM3oiLz48L3N2Zz4=) no-repeat center center !important;
	background-image: url('/public/querix/icon/svg/24/ic_transformer_menu_hide_24px.svg') !important; 
	width: 32px;
	height: 32px;
	border: none;
	margin: 0 1.5rem;
	cursor: pointer;
	align-self: center;
	/* color: #fff; */
	/* position: absolute; */
	/* left: 1rem; */
}

.cmsfb .cms-button-mainmenu-close > svg,
.cmsfb .cms-button-mainmenu > svg {
  fill: #fff;
}


.cmsfb .cms-topbar-left {
  width: 300px;
  height: 60px;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  z-index: 1;
}

.cmsfb.cms-mainmenu-visible #cms-topbar .cms-topbar-left,
.cmsfb #qx-container-menu .cms-topbar-left {
  display: none;
}

.cmsfb.cms-mainmenu-visible #qx-container-menu .cms-topbar-left {
  display: flex;
}

.cmsfb .qx-logo {
	/* position: absolute;
	top: 0;
  left: 5rem; */
  height: 60px;
  /* right: 0; */
  display: flex;
  justify-content: left;
  padding-left: 1rem;
  align-items: center;
  flex: 1;
}

.cmsfb:root .qx-logo > svg {
  width: 60%;
  height: 60%;
  transform: translateY(-.5rem);
}

/*#qx-container-status-bar-inner {
padding-bottom: 1rem;
}*/

.qx-aum-status-bar > .qx-aum-template-instance {
    height: 48px;
    padding-bottom: 24px;
}

#qx-container-status-bar {
  background-color: #ccc;
}

#qx-maia-footnote {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 24px;
    text-align: center;
    vertical-align: middle;
    font-family: Roboto;
    font-size: 12px;
    line-height: 24px;
    background-color: #d9e6ec;
}

#qx-maia-footnote > a:visited,
#qx-maia-footnote > a {
    color: #3f4e68;
}
