/*
########################################################
CSS is used for label/text properties

/* 
colors:
normal = blue/white
	border: #79b7e7
	background: #ffffff
input  =darkYello-lightYellow
	border:#fad42e
	background: #fbec88
########################################################
*/
/*normal form text label - NO SPECIAL CLASS etc.. - DEFAULT*/
.qx-text-with-icon .qx-text{
    font: normal 1rem "Roboto Mono",Calibri,"Helvetica Neue", Sans-Serif;
    color: #2e6e9e; /*now:2e6e9e was #3a597e and before #2e6e9e;*/
}

/*normal form text label -class fcls_fieldlabel*/
.qx-c-fcls_fieldlabel .qx-text{
    font: normal 1rem "Roboto Mono",Calibri,"Helvetica Neue", Sans-Serif;
    color: #2e6e9e; /*now:2e6e9e was #3a597e and before #2e6e9e;*/
} 

.qx-c-fcls_data_widget.qx-no-image.qx-aum.qx-aum-label.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-has-text.qx-c-attribute_underline
{
    font: normal 1rem "Roboto Mono",Calibri,"Helvetica Neue", Sans-Serif;
    color: #2e6e9e; /*now:2e6e9e was #3a597e and before #2e6e9e;*/
} 
.qx-c-fcls_columnlabel .qx-text{
    font: bold 1.2rem "Calibri","Helvetica Neue", Sans-Serif;
    color: #2e6e9e; /*now:2e6e9e was #3a597e and before #2e6e9e;*/
} 

.qx-c-fcls_columnlabel_rev .qx-text{
    font: normal 1.2rem "Calibri","Helvetica Neue", Sans-Serif;
    color: white;   
    background: #2e6e9e;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;    
    /*margin: 5px;*/
}	

.qx-c-fcls_menulabel .qx-text{
    font: normal 1rem "Calibri","Helvetica Neue", Sans-Serif;
    color: #2e6e9e; /*now:2e6e9e was #3a597e and before #2e6e9e;*/
} 

.qx-c-fcls_title_lb .qx-text {
    padding: 2px;
    padding: 5px 10px;
    color: white !important;
    font: bold 1.2rem "Calibri","Helvetica Neue", Sans-Serif;
} 


.qx-c-fcls_sblabel .qx-text {
	color: #ffffff;
    font: normal 1rem "Calibri","Helvetica Neue", Sans-Serif;
    padding: 5px 10px 2px;
} 

/*dynamic menu label - initial draw */
.qx-c-fcls_menulabel.qx-no-image.qx-has-text.qx-hta-l.qx-aum.qx-aum-label.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-inactive {
	color: #2e6e9e;    
}

/* DISPLAY <text> ATTRIBUTE(NORMAL) */
/* Note: I have added this for the BAB F002 module menu library xButtonMenu*/
.qx-c-fcls_fieldlabel.qx-aum.qx-c-attribute_normal:not(.qx-c-nativestyle), .qx-aum.qx-c-attribute_normal:not(.qx-c-nativestyle) * {
    color: #2e6e9e;
}

/*Molongo table - select current line has only underline*/
.qx-table-cell.qx-c-activefield.qx-aum.qx-aum-abstract-field.qx-content.qx-has-text.qx-c-attribute_underline
{ color: #3a597e;
    background: #fbec88;
    text-decoration: none;
}


.qx-table-cell.qx-c-activefield.qx-aum.qx-aum-abstract-field.qx-content.qx-has-text.qx-c-attribute_underline .qx-text.qx-has-text
{ color: #3a597e;
    background: transparent;
    text-decoration: none;
    
}
/*Molongo table - no underline */
/*you can add table identifier .qx-aum-table.qx-identifier-sar in case you want to keep cells in other tables underlined*/
.qx-aum-table .qx-aum.qx-c-attribute_underline, .qx-aum-table .qx-aum.qx-c-attribute_underline * {
text-decoration:none;
}

/*BAB displays the menu label with focus with attribute(underline) */
.qx-grid-cell .qx-aum-label.qx-c-attribute_underline.qx-c-fcls_menulabel * {
    vertical-align: middle;
    overflow: hidden;
    color: white;   
    background: #2e6e9e;
}


.qx-c-fcls_font_h1 .qx-text-with-icon{
font-family: "Roboto Mono","Lucida Grande","Lucida Sans",Arial,"sans-serif";
font-size: 2rem;
font-weight:bold;
color: #3a597e;
}

.qx-c-fcls_font_h2 .qx-text-with-icon{
font-family: "Roboto Mono","Lucida Grande","Lucida Sans",Arial,"sans-serif";
font-size: 1.6rem;
font-weight:bold;
color: #3a597e;
}

.qx-c-fcls_font_h3 .qx-text-with-icon{
font-family:"Roboto Mono","Lucida Grande","Lucida Sans",Arial,"sans-serif";
font-size: 1.2rem;
font-weight:bold;
color: #3a597e;
}

.qx-c-fcls_font_h4 .qx-text-with-icon{
font-family: "Roboto Mono","Lucida Grande","Lucida Sans",Arial,sans-serif;
font-size: 1rem;
font-weight:bold;
color: #3a597e;
}

.qx-c-fcls_font_h5 .qx-text-with-icon{
font-family:"Roboto Mono","Lucida Grande","Lucida Sans",Arial,sans-serif;
font-size: 1rem;
font-weight:normal;
color: #3a597e;
}

.qx-c-fcls_font_description .qx-text-with-icon{
font-family:"Roboto Mono","Lucida Grande","Lucida Sans",Arial,sans-serif;
font-size: 1rem;
font-weight:normal;
color: grey;
font-style: italic;
}
