#qx-container-menu .treeview ul.ui-accordion-content {
    padding: 0px;
    margin: 0px;
}

.qx-mdi.qx-menu-type-tree #qx-container-menu {
   width: 300px;
}

#qx-container-menu .treeview li {
    padding: 3px;
}





