/*
####################################################################################################################################
Title Container and text in form - top row-container in form's rootContainer

FormClasses:
fcls_title_cnt
fcls_title_cnt_sub
fcls_title_lb
####################################################################################################################################
*/
.qx-c-fcls_title_lb .qx-text {
    padding: 2px;
    padding: 5px 10px;
    color: white !important;
    font: bold 14px "Calibri","Helvetica Neue", Sans-Serif;
} 

.qx-c-fcls_title_cnt {
	background: #cccccc url("../images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x;
	font-weight: bold;
	border-radius: 4px;
	margin: 0;
}

/*
####################################################################################################################################
Custom Statusbar - bottom form
Form Classes / Selectors:
fcls_statusbar_cnt
fcls_statusbar_cnt_sub
fcls_sblabel
####################################################################################################################################
*/

.qx-c-fcls_statusbar_cnt {
	/*border: 1px solid #3a597e;*/
	background: #3a597e url("../images/ui-bg_gloss-wave_55_5c9ccc_500x100.png") 50% 50% repeat-x;
	border-radius: 4px;
	padding: 0;
	margin-top:5px;
}

