.qx-identifier-pr_prompt_text .qx-text.qx-text-edit{
font: normal 1.1rem "Roboto","Droid Sans",Calibri,"Helvetica Neue", Sans-Serif;
color: white;
background-color:  #2e6e9e;
}


[data-text*="mmmm;"]{
display: none;
}

[data-text*="========="]{

display: none;
}

[data-text*="="]{

display: none;
}

[data-text="+"]{

display: none;
}


[data-text=":"]{

display: none;
}

[data-text=">"]{

display: none;
}


[data-text="<"]{

display: none;
}

.qx-sep-sec,.qx-sep-prim{
display: none;	
}

.qx-aum-scroll-bar
{
display: none;	
}
/* All DISPLAY AT strings */
.qx-c-lycia_display_at.qx-has-text .qx-text
{
	font: normal 1.2rem Calibri, "Roboto Mono", "Helvetica Neue", Sans-Serif;
	color:  #2e6e9e;
	font-weight: bold;
}