/*
##########################
Toolbar Button Label
##########################
*/
.qx-aum-toolbar-button .qx-text {
     font: bold 0.7rem  Montserrat,Calibri,"Helvetica Neue", Sans-Serif;
}



.qx-scroll.qx-aum-toolbar.qx-aum-abstract-container.qx-identifier-toolbar.qx-c-lycia_actionstoolbar
{
    border: 1px solid #5c9ccc !important;     
    margin: 4px;
    padding: 2px;
    border-radius: 5px;
    /*margin-right: 100px;
    padding-right: 100px; */
}

.qx-container-toolbars .qx-scroll-viewport {
    height: auto !important;
}

.qx-container-toolbars .qx-scroll-viewport > .qx-content {
    width: 100%;
    position: relative;
}

.qx-container-toolbars .qx-scroll-viewport .qx-scroll-target> {
    padding: 2px;
    height: 50px;
/*    width: 200px;*/

.qx-container-toolbars .qx-scroll-viewport .qx-scroll-target>.qx-aum-toolbar-button{
	width:220px;
}

.qx-content.qx-scroll-target > .qx-aum-toolbar-button{
	width:220px;
}

.ui-button.qx-aum-toolbar-button.qx-aum-toolbar-item{
	width:220px;
}

.qx-aum-toolbar-group > .ui-button.qx-aum-toolbar-button.qx-aum-toolbar-item{
	width:220px;
}
