#message-popup.ui-widget-content
{
	color: #2e6e9e;
   background-color: #fbec88;
   border: none;
	background-image:none;  
    font: normal 1rem "Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif;
	 
}

#message-popup.ui-widget-content.error 
{
	color: white;
   background-color: #9e2e35;
   border: none;
	background-image:none;
    font: normal 1rem "Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif;

}


