.ui-widget-content .qx-aum-abstract-field.ui-state-active, 
.ui-widget-header .qx-aum-abstract-field.ui-state-active, 
.qx-aum-abstract-field.ui-state-active
{
	font-weight: normal;
	color: #2e6e9e;  
}

/*
####################################################################
ALL Element Types with textBox
####################################################################
*/
.qx-aum-calendar.qx-has-focus,

.qx-aum-calendar.qx-has-focus *,

.qx-aum-function-field-abs.qx-has-focus .qx-ff-text,

.qx-aum-function-field-abs.qx-has-focus .qx-ff-text *,

.qx-aum-spinner.qx-has-focus,

.qx-aum-spinner.qx-has-focus .qx-text,

.qx-aum-text-field.qx-has-focus,

.qx-aum-text-field.qx-has-focus *,

.qx-aum-text-area.qx-has-focus,

.qx-aum-text-area.qx-has-focus *,

.qx-aum-time-edit-field.qx-has-focus,

.qx-aum-time-edit-field.qx-has-focus *,

.qx-aum-combo-box.qx-has-focus 
{

   background-color: #fbec88  !important;

}

/*#################################################
 Enabled/Disabled fields - Input/not in Input
###################################################*/
/*Overwrite opacity for disabled fields */
.ui-widget-header .ui-state-active,
.ui-state-disabled,
.ui-widget-content .ui-state-disabled, 
.ui-state-disabled {
   opacity: 1;
   filter: Alpha(Opacity=100);

}

/*Overwrite opacity for disabled fields */
.qx-c-fcls_show_enabled.ui-widget-header .qx-c-fcls_show_enabled.ui-state-active,
.ui-state-disabled,
.qx-c-fcls_show_enabled.ui-widget-content .ui-state-disabled, 
.ui-state-disabled {
   opacity: 1;
   filter: Alpha(Opacity=100);
}

/*################################################
ElementType TextField
##################################################*/


/*textField widget - fcls_active_widget  widgets should show active but not be selectable */ 
.qx-text-field.qx-c-fcls_data_widget.qx-c-fcls_active_widget .qx-text{
	opacity: 1;
	filter:alpha(opacity=100); /* For IE8 and earlier */
	/*color: rgba(0, 0, 0, 0.5);*/
}

/*
####################################################################
Element Type ComboBoxList Field with form element class fcls_data_widget
####################################################################
*/
.qx-c-fcls_data_widget.qx-aum-combo-box {
    #border: 1px solid #c5dbec;
    background: none  #; 
    #font-weight: bold;
}

.qx-single-row.qx-aum.qx-aum-function-field-abs.qx-aum-abstract-field.qx-element-role-input.qx-active.qx-c-fcls_align_left.qx-c-fcls_data_widget.qx-not-readonly
{
	border: 1px solid rgba(92, 156, 204, .5) !important; 
}


.qx-c-fcls_data_widget.qx-aum-function-field-abs {
    border: 0px solid #A0F !important; 
    background:transparent;
}
/*and it's decendent textbox will change when it becomes focus (cursor in field)*/
.qx-c-fcls_data_widget.qx-aum-function-field-abs .qx-aum-abstract-field.qx-focused {
	    background: #fbec88;
    border: 1px solid #fad42e !important; 
    
}

/*
####################################################################
Element Type spinner Field with form element class fcls_data_widget
####################################################################
*/


/*Overwrite jQuery css for spinner input*/
.qx-c-fcls_data_widget.qx-aum-spinner > input {
background: none;
    background-color: transparent;
}

/*spinner - outer spinner - input but not focused*/
.qx-c-fcls_data_widget.qx-aum-spinner.qx-aum-abstract-field {
   # border: 0px solid #ffffff !important; 
   #     background:transparent;
}
/*spinner - inner textbox input with focus*/
.qx-c-fcls_data_widget.qx-aum-spinner.qx-aum-abstract-field.ui-state-active.qx-focused .qx-text {
    border: 1px solid #fad42e !important; /*darkYellow*/
    background:#fbec88; /*brightYellow*/
    font-weight: normal;
}


/*######################################################
RadioButtonList Children * selector
########################################################*/

.qx-bool-widget.qx-aum.qx-aum-radio-button.qx-aum-abstract-bool-field.qx-aum-abstract-field.qx-has-title.qx-has-text.qx-focusable-field  
{
	color: #2e6e9e;  
	font-size: 1rem;		
}
.qx-aum-radio-button-list * 
{
	color: #2e6e9e;   
	font-size: 1rem;		
}

/*
######################################################
RadioButtonList
######################################################
*/
.qx-c-fcls_field .qx-aum-radio-button-list-item
{
	color: #2e6e9e;   
	font-size: 1rem;		
}

.qx-c-fcls_data_widget .qx-aum-radio-button-list-item
{
	color: #2e6e9e;   
	font-size: 1rem;		
}

.aum-text-field
{
	color: #2e6e9e;   
	font-size: 2.8rem;		
}

.qx-aum-radio-button-list .qx-content, .qx-c-nativestyle .qx-content
{
	color: #2e6e9e;   
	font-size: 2.8rem;		
}

qx-aum-abstract-field.ui-state-active .qx-aum-abstract-field.ui-state-active .qx-aum-radio-button-list .qx-content, .qx-c-nativestyle .qx-content
{
	color: black;
	font-size: 1rem;		
}

.qx-aum-radio-button-list.ui-state-focus, .qx-aum-radio-button-list.ui-state-hover, .qx-aum-radio-button-list.ui-widget-content .qx-aum-radio-button-list.ui-state-focus, .qx-aum-radio-button-list.ui-widget-content .qx-aum-radio-button-list.ui-state-hover, .qx-aum-radio-button-list.ui-widget-header .qx-aum-radio-button-list.ui-state-focus, .qx-aum-radio-button-list.ui-widget-header .qx-aum-radio-button-list.ui-state-hover {

    background-color: transparent;
	background-image:none;
	border: none;
}




/*#######################################
RadioButton Single
#########################################*/
/*general*/

.qx-aum-radio-button .qx-text
{
    color: #2e6e9e; 
}	
.qx-c-fcls_data_widget.qx-aum-radio-button.qx-aum-abstract-field .qx-text-with-icon .qx-text
{
	font-size: 1rem;
	font-weight: normal;
    font: normal 1rem "Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif;
    color: #2e6e9e; 	
}	

/*inactive*/
.qx-c-fcls_data_widget.qx-aum-radio-button.qx-bool-widget.qx-aum.qx-on-1.qx-s-on-0.qx-aum-abstract-bool-field.qx-aum-abstract-field.qx-psw.qx-has-title.qx-has-text.qx-inactive.qx-disabled.qx-readonly .qx-text-with-icon .qx-text 
{ 
	color: #2e6e9e;
}

/*active*/
.qx-c-fcls_data_widget.qx-aum-radio-button.qx-bool-widget.qx-aum.qx-on-1.qx-s-on-0.qx-aum-abstract-bool-field.qx-aum-abstract-field.qx-active.qx-c-activefield.qx-has-title.qx-has-text .qx-text-with-icon .qx-text 
{ 
	color: #2e6e9e;
}

/*#######################################
CheckBox
##########################################*/
/*checkBox label*/
.qx-bool-widget.qx-aum.qx-aum-check-box.qx-aum-abstract-bool-field.qx-aum-abstract-field.qx-has-title.qx-has-text
{
	font-size: 1rem;
	font-weight: normal;
    font: normal 1rem "Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif;
    color: #2e6e9e; 		
}

/*in input*/
.qx-c-fcls_data_widget.qx-aum-check-box.qx-bool-widget.qx-aum-abstract-field.qx-aum.qx-aum-abstract-bool-field.qx-element-role-input.qx-active.qx-c-activefield.qx-has-title.qx-has-text .qx-text-with-icon .qx-text
{
	color: #2e6e9e;
}

/*disabled - not in input*/
.qx-c-fcls_data_widget.qx-aum-check-box.qx-bool-widget.qx-aum-abstract-field.qx-aum.qx-element-role-input.qx-has-title.qx-has-text.qx-inactive.qx-disabled.qx-readonly .qx-text-with-icon .qx-text
{
	color: #2e6e9e;
}
/*########################################
Tab Handles 
##########################################*/
/*Note, we need a different/unique class name for MDI-container tab-handles*/
/*at the moment, this class will select ALL tab handles normal form AND mdi-container */
.ui-tabs-nav .qx-text 
{
    min-width: 150px;
}


/*All button-labels (from any button) in forms with the (rootfolder) class name fcls_container_menu*/
.qx-c-fcls_container_menu .qx-aum-button .qx-text-with-icon {
	justify-content:flex-start;
	}


/*##################################################
Inactive State - kind of global for all elements
###################################################*/

.ui-state-disabled.qx-c-fcls_data_widget, .ui-widget-content.qx-c-fcls_data_widget .ui-state-disabled.qx-c-fcls_data_widget, .ui-state-disabled.qx-c-fcls_data_widget{
    opacity: .7; 
    filter: Alpha(Opacity=70);
    border: 1px solid rgba(92, 156, 204, .5);
    }

.qx-c-fcls_fieldlabel.qx-aum-label 
{
	margin: 1px 2px 0;
}

.qx-c-fcls_columnlabel.qx-aum-label,
.qx-c-fcls_menulabel.qx-aum-label 
{
	margin: 2px;
}

.qx-grid-cell {
  padding: 1px;
}

.qx-aum.qx-c-fcls_data_widget {
  padding-left: 2px;
  padding-right: 2px;
}

.qx-aum.qx-aum-spinner.qx-c-fcls_data_widget,
.qx-aum.qx-aum-combo-box.qx-c-fcls_data_widget,
.qx-aum.qx-aum-calendar.qx-c-fcls_data_widget {
  padding-right: 0;
}
