/*
########################################################
CSS is used for label/text properties

/* 
colors:
normal = blue/white
	border: #79b7e7
	background: #ffffff
input  =darkYello-lightYellow
	border:#fad42e
	background: #fbec88
########################################################
*/


/*normal form text label -class fcls_fieldlabel*/

.qx-aum-label .qx-text{
    color: #2e6e9e;	
}

.qx-c-fcls_data_widget.qx-no-image.qx-aum.qx-aum-label.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-has-text.qx-c-attribute_underline
{
    font: normal 1rem "Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif;
    color: #2e6e9e; 
} 
.qx-c-fcls_columnlabel.qx-aum-label .qx-text{
    font: bold 1.2rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;
    color: #2e6e9e; 
} 

/*FormClass: fcls_columnlabel_rev - selects just the label*/
.qx-c-fcls_columnlabel_rev.qx-aum-label .qx-text{
    font: normal 1.2rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;
    color: white;   
    background: #2e6e9e;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;    
    /*margin: 5px;*/
}	

/*FormClass: fcls_columnlabel_rev_cell - selects the entire cell*/
:not(.ui-widget-content).qx-aum-label.qx-c-fcls_columnlabel_rev_cell{
    background: #2e6e9e;
	flex: 1;
}	

.qx-c-fcls_columnlabel_rev_cell.qx-aum-label .qx-text{
    font: normal 1.2rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;
    color: white;   
    background: #3a597e;
    /*background: #2e6e9e;*/
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;    
    /*margin: 5px;*/
}	

/*FormClass: fcls_key_usage - selects the entire cell*/
:not(.ui-widget-content).qx-aum-label.qx-c-fcls_key_usage{
    background: #2e6e9e;
	flex: 1;
}	
.qx-c-fcls_key_usage .qx-text{
    font: normal 1.2rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;
    color: white;   
    background: #2e6e9e;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;    
    /*margin: 5px;*/
}	


/*FormClass: fcls_menulabel - used in hand-made 4gl menu's (not the menu statement)*/
.qx-c-fcls_menulabel .qx-text{
    font: normal 1rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;
    color: #2e6e9e; 
} 

/*FormClass: fcls_title_lb for FORM TitleBar/Header*/
.qx-c-fcls_title_lb .qx-text {
    padding: 2px;
    padding: 5px 10px;
    color: white !important;
    font: bold 1.2rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;
} 

/*FormClass: fcls_sblabel for FORM statusbar*/
.qx-c-fcls_sblabel .qx-text {
	color: #ffffff;
    font: normal 1rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;
    padding: 5px 10px 2px;
} 

/*dynamic menu label - initial draw */
.qx-c-fcls_menulabel.qx-no-image.qx-has-text.qx-hta-l.qx-aum.qx-aum-label.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-inactive {
	color: #2e6e9e;    
}


.qx-c-fcls_font_h1 .qx-text-with-icon{
font-family: "Roboto",Montserrat,"Lucida Grande","Lucida Sans",Arial,"sans-serif";
font-size: 2rem;
font-weight:bold;
color: #2e6e9e;
}

.qx-c-fcls_font_h2 .qx-text-with-icon{
font-family: "Roboto",Montserrat,"Lucida Grande","Lucida Sans",Arial,"sans-serif";
font-size: 1.6rem;
font-weight:bold;
color: #2e6e9e;
}

.qx-c-fcls_font_h3 .qx-text-with-icon{
font-family:"Roboto",Montserrat,"Lucida Grande","Lucida Sans",Arial,"sans-serif";
font-size: 1.2rem;
font-weight:bold;
color: #2e6e9e;
}

.qx-c-fcls_font_h4 .qx-text-with-icon{
font-family: "Roboto",Montserrat,"Lucida Grande","Lucida Sans",Arial,sans-serif;
font-size: 1rem;
font-weight:bold;
color: #2e6e9e;
}

.qx-c-fcls_font_h5 .qx-text-with-icon{
font-family: "Roboto",Montserrat,"Lucida Grande","Lucida Sans",Arial,sans-serif;
font-size: 1rem;
font-weight:normal;
color: #2e6e9e;
}


.qx-c-fcls_font_description .qx-text-with-icon  .qx-text{
color: grey;
font-style: italic;
}
