/*
########################################################

CSS is used for 4gl attributes

########################################################
*/

/*######################################################
Underline style remove/hide 
########################################################*/
.qx-aum.qx-c-attribute_underline, .qx-aum.qx-c-attribute_underline * {
	text-decoration: none;
}


/*######################################################
Cyan style textField
########################################################*/
.qx-c-attribute_cyan.qx-text-field.qx-single-row.qx-aum.qx-aum-text-field.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-inactive.ui-state-disabled.qx-disabled.qx-readonly.qx-has-text
.qx-text.qx-text-edit.qx-vtal.qx-htal.qx-focus-target
{
	color: white;
	background: #2e6e9e;
	font: normal 1.2rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;	
	white-space: initial
}
/*######################################################
Table Field/Row qx-c-attribute_reverse
########################################################*/

.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field.qx-c-attribute_reverse
{
	color: white;
	background: #2e6e9e;
	font: normal 1.2rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;	
	white-space: initial
}

/*######################################################
GREEN and UNDERLINE style textField
########################################################*/

.qx-c-attribute_green
.qx-text.qx-text-edit.qx-vtal.qx-htal.qx-focus-target
{
	background: #c4e2f7;
}

/*######################################################
REVERSE and WHITE style textField
########################################################*/
.qx-c-attribute_reverse.qx-c-attribute_white.qx-text-field.qx-inactive.ui-state-disabled.qx-disabled.qx-readonly.qx-has-text
.qx-text.qx-text-edit.qx-htal.qx-focus-target
{
	background: #c4e2f7;
	color: #2e6e9e;	
	font-weight: bold;
}
