/*
##########################
Toolbar Button Label
##########################
*/

/*toolbar button text */
.qx-scroll.qx-aum-toolbar.qx-aum-abstract-container.qx-identifier-toolbar.qx-c-lycia_actionstoolbar .qx-aum-toolbar-button .qx-aum-toolbar-button .qx-text {
     /*font: bold 0.7rem  "Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif;*/
     font-size: 0.7rem;
}

/*Toolbar button*/
.qx-scroll.qx-aum-toolbar.qx-aum-abstract-container.qx-identifier-toolbar.qx-c-lycia_actionstoolbar .qx-aum-toolbar-button
{
     /*font: bold 0.7rem  "Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif;*/
     width: 100px;
}


.qx-scroll.qx-aum-toolbar.qx-aum-abstract-container.qx-identifier-toolbar.qx-c-lycia_actionstoolbar
{
    border: 1px solid #5c9ccc !important;     
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
    /*margin-right: 100px;
    padding-right: 100px; */
}