.qx-mb-dialog.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable{
min-width: 300px;
}

.qx-message-box.ui-dialog-content.ui-widget-content {
	color: #495797;	
	background: #ffffff;	
}	

/* text/message are within the dialog box */
.qx-message-box.ui-dialog-content.ui-widget-content .qx-text-wrapper {
	background: transparent;	
}

img[src="/LyciaWeb/pack/exclamation.ico"] {
  box-sizing: border-box;
  content: url(/public/maia/icon32/basic/info.png);
  margin-left: 2px; /* Equal to width of new image */
  margin-right: 2px; /* Equal to width of new image */  
}

/*
######################################################
Table FIND dialog
######################################################
*/
.qx-find-form.ui-dialog-content.ui-widget-content *
{
    font: normal 1.0rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;
    color: #2e6e9e; 
    margin: 4px;
}

.qx-find-form.ui-dialog-content.ui-widget-content #qx-find-val,
.qx-find-form.ui-dialog-content.ui-widget-content #qx-find-column
{
    font: normal 1.0rem "Roboto","Calibri","Helvetica Neue", Sans-Serif;
    color: #2e6e9e; 
    margin: 4px;
}

