@import url("../fonts/fontawesome/stylesheet.css");
@import url("../fonts/montserrat/stylesheet.css");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,600italic,400,400italic,300,300italic);

html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
#qx-container-toolbars,
#qx-container-body > .qx-o-c-screen {
    display: none !important;
}

#qx-container-body {
    overflow: hidden;
}

.qx-bordered-window.qx-root > .qx-wrap > .qx-bound > .qx-aum {
    overflow: visible;
}

.qx-viewport .qx-aum-window > .qx-wrap > .qx-bound {
    overflow: auto;
}


#qx-t-c {
    padding-top: 60px !important;
}

/*changed by huho  background-color: #d6d6d6 -> background-color: #white*/
.cmsfb .qx-child-page, .cmsfb .qx-window-border {
    /*background-color: #f0f3f4 !important;*/
    background-color: #white; /*!important;*/
    padding: 0;
}
/*BEGIN left-side menu*/

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu a
{
	font-weight: normal !important;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu {
	background-color: #324873 !important;
	font-family: Montserrat;
	font-size: 13px;
	border-right-color: #324873 !important;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-item a,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .ui-state-default a,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .ui-state-active a,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .ui-state-default,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .ui-state-active {
	color: rgba(255,255,255,.6);
	text-decoration: none;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-menu-inner {
	width: 100%;
    /*box-shadow: 4px 0 3px -2px #324873;*/
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu ul {
	padding: 0;
	margin: 0;
	border: none;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu > div.qx-menu-inner::before,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu ul ul {
	background-color: #20355e;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li.ui-state-hover,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li.ui-state-default,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar .ui-state-hover a,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar .ui-state-default a,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a.ui-state-hover,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a.ui-state-default {
	border: none;
	background: none;
	background-color: inherit;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a:hover,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a:hover i:before {
	color: #fff;
	cursor: pointer;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li {
	padding: 0;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a {
	padding: 10px 0;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar label > img {
	visibility: hidden;
	display: block !important;
	width: 16px !important;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .qx-aum-menu-bar li > a.ui-state-hover,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .treeview .hover {
	color: #fff !important;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu ul,
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .treeview li {
	padding-left: 0px;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .treeview li > a {
	margin-left: 20px;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu label > i {
	color: rgba(150,150,150,.6);
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .treeview li li > a {
	margin-left: 40px;
}
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .treeview li li li > a {
	margin-left: 60px;
}
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .treeview li li li li > a {
	margin-left: 80px;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu .treeview li li li li li > a {
	margin-left: 100px;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu li {
	position: relative;
	z-index: 2;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu li.qx-aum-menu-group > a:after {
	content: "";
	position: absolute;
	top: 1em;
	right: 30px;
	width: 0;
	height: 0;
	border-top: 6px solid transparent;
	border-right: none;
	border-bottom: 6px solid transparent;
	border-left: 5px solid rgba(150,150,150,.6);
	transition-duration: .2s;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu li.qx-aum-menu-group > a:hover:after {
	border-left-color: #fff;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu li.qx-aum-menu-group.collapsable > a:after {
	transform: rotate(90deg);
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu div.qx-aum-menu-bar li.menu-item-selected {
	background-color: #4d6c82;
	transition-duration: .3s;
	transition-property: background-color;
}
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu div.qx-aum-menu-bar li.menu-item-selected > a:before {
	z-index: -1;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: .4em;
	background-color: #1eaaf1;
	transition-duration: .3s;
	transition-property: background-color;
}

.cmsfb:root #cms-topbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	padding-left: 0;
	z-index: 1000;
	background-color: #3a597e;
	transition: padding-left .8s;
}

.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu {
	z-index: 1001;
}
.cmsfb:root .qx-menu-type-tree.qx-mdi div#qx-container-menu::before {
	content: "";
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #3a597e url(/public/querix/css/images/logo.svg) no-repeat 20px center;
	background-size: 40%;
}
/*END left-side menu*/

.qx-devicemode-desktop #qx-main-layout .qx-menu-type-tree.qx-mdi div#qx-container-menu {
	width: 300px;
    min-width: 300px;
}

.qx-devicemode-desktop.cms-mainmenu-visible #cms-topbar {
	padding-left: 300px;
}
.qx-devicemode-desktop #cms-topbar > p.cms-search-widget > .qx-c-cms-search {
	font-family: Open Sans;
	font-size: 15px;
	font-weight: bold;
	color: #ccc;
	padding: .4em .4em .4em 3em;
	border: none;
	width: 190px;
	height: 36px;
	border-radius: 40px;
	background-color: #324874;
	background-image: none;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.0);
}
.cmsfb #qx-container-menu {
	transition-duration: .5s !important;
	transition-property: width !important;
}

.cmsfb #cms-button-mainmenu {
	text-indent: -9999px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAPCAYAAADtc08vAAAAAXNSR0IArs4c6QAAAGNJREFUKBVj/A8EDKQDPUZGxssgbUyk60XVwQLk3kQVIor3kyhVdFHECAxDfyJsuggMtAdY1YFigQiQiVUzUJAqsdCJy3Qk8fNI7EHGBMXCfErcBDKAnLwAt5MqsWAJN44MBgCxaDxURdgsXAAAAABJRU5ErkJggg==') no-repeat center center !important;
	width: 40px;
	height: 40px;
	border: none;
	margin: 0 .5em;
	cursor: pointer;
	align-self: center;
}

.cmsfb #cms-topbar > p {
	flex-grow: 1;
	align-self: center;
	padding: 0;
	padding-right: 5em;
	margin: 0;
	display: flex;
	justify-content: flex-end;
}
.cmsfb #cms-topbar > p > a {
	font-family: Open Sans;
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	display: none;
	position: relative;
	padding-right: .8em;
	cursor: pointer;
}

.cmsfb #cms-topbar > p > a.cms-logged-in {
	display: flex;
}

.cmsfb #cms-topbar > p > a .toggle-popup {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-bottom: none;
	border-right: 6px solid transparent;
	border-top: 5px solid rgba(255,255,255,.6);
}
.cmsfb #cms-topbar > p > a:hover .toggle-popup {
	border-top: 5px solid rgba(255,255,255,1);
}


.cmsfb #cms-topbar > p > a > * {
	margin: 0 .3em;
	align-self: center;
}

.cmsfb #cms-topbar > p > a > img {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #fff;
}

.cmsfb .cms-mainmenu-close {
	font-size: 2em;
	cursor: pointer;
	color: #fff;
}
.cmsfb .cms-mainmenu-close:hover {
	color: gold;
}
.cmsfb .cms-mainmenu-close:active {
	color: red;
}
html.cmsfb:root .cms-mainmenu-close {
    display: none;
}

/*.cmsfb:root .qx-window-border,
.cmsfb:root #qx-t-c {
    border: none !important;
}*/

/*Topbar height*/
.cmsfb #cms-topbar,
/*Logo rectangle height*/
.cmsfb .qx-menu-type-tree.qx-mdi div#qx-container-menu::before {
	height: 60px;
}
/*Place for topbar - prevents topbar-menu overlap*/
.cmsfb .qx-menu-type-tree.qx-mdi div#qx-container-menu > .qx-menu-inner {
	padding-top: 60px;
}

/*Style for the dialogs opened with fgl_winmessge/prompt/etc*/
.cmsfb body > .ui-dialog {
	margin-top: 60px;
	z-index: 1002;
}
