/*
####################################################
Toolbar
####################################################
*/

/*Toolbar container Area*/
.qx-scroll.qx-aum-toolbar.qx-aum-abstract-container.qx-identifier-toolbar.qx-c-lycia_actionstoolbar
{
    border: 1px solid var(--toolbar-bg-color);   
    background: var(--toolbar-bg-color); /*rgb(58, 89, 126);    */
    margin: 2px;
    padding: 2px;
}

/*Toolbar Height - */
  .qx-top-toolbar-cell .qx-aum-toolbar, #qx-container-toolbars .qx-aum-toolbar {
	height: 60px;
  }

/* ENABLED: toolbar button LABEL font*/
.ui-button.ui-button-text-only.qx-aum-toolbar-button.qx-aum-toolbar-item
{
    font: var(--qx-toolbar-font);
}

/* Toolbar button WIDTH & COLOR*/
.qx-scroll.qx-aum-toolbar.qx-aum-abstract-container.qx-identifier-toolbar.qx-c-lycia_actionstoolbar .qx-aum-toolbar-button
{
     /*font: bold 0.7rem  "Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif;*/
     width: 6rem;
     color: var(--toolbar-button-fg-color);
}

/* HOVER Toolbar button LABEL */
.qx-scroll.qx-aum-toolbar.qx-aum-abstract-container.qx-identifier-toolbar.qx-c-lycia_actionstoolbar .qx-aum-toolbar-button:hover
{
     color: var(--toolbar-button-hover-fg-color);
}

/*ENABLED: toolbar button - Remove toolbar button border and background-image*/
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.qx-aum.qx-aum-toolbar-button.qx-aum-toolbar-item.qx-has-text.qx-has-image
{
    border:transparent;
    background-image: none;
    background:transparent;
    background-color: var(--toolbar-button-bg-color);
}

/* HOVER button color & border */
.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.qx-aum.qx-aum-toolbar-button.qx-aum-toolbar-item.qx-has-text.qx-has-image:hover
{
    background-color: var(--toolbar-button-hover-bg-color);
     border: 1px solid var(--toolbar-button-border-hover-color);
}

/*
/* check from here */
/*#####################################################
Toolbar button
#####################################################*/

.ui-button.ui-widget.ui-button-text-only.qx-aum.qx-aum-toolbar-button.qx-aum-toolbar-item.qx-has-text.qx-has-image
{
    background-image: none;
    background-color: transparent;
    border:transparent;
}

.qx-no-image.ui-button.ui-widget.qx-aum.qx-aum-toolbar-button.qx-aum-toolbar-item
{
    background-image: none;
    background-color: transparent;
    width: 10rem;
    color:transparent;
    border:transparent;
}

.qx-no-image.ui-button.ui-widget.ui-button-text-only.qx-aum.qx-aum-toolbar-button.qx-aum-toolbar-item
{
    background-image: none;
    background-color: transparent;
    width: 10rem;
    color:transparent;
    border:transparent;
}
*/