/*
####################################################################################################################################
Title Container and text in form - top row-container in form's rootContainer

FormClasses:
fcls_title_cnt
fcls_title_cnt_sub
fcls_title_lb
####################################################################################################################################
*/

/*FormClass: fcls_title_lb for FORM TitleBar/Header*/
.qx-c-fcls_title_lb
{
    color: var(--root-cnt-header-color-fg)!important;
    background-color: transparent;    
} 

.qx-c-fcls_title_lb .qx-text-with-icon .qx-text {
    padding: 5px 10px;
    color: var(--root-cnt-header-color-fg)!important; 
    background-color: transparent;
	font: var(--qx-header-font);
} 
.qx-c-fcls_title_cnt.qx-aum-grid-panel.qx-aum-items-container.qx-aum-abstract-container {
	background: var(--root-cnt-header-color-bg); /*#3a597e*/

	background-image: none;
	font-weight: bold;
	padding: 2px; 
	margin: 2px;
}



/*
####################################################################################################################################
Custom Statusbar - bottom form
Form Classes / Selectors:
fcls_statusbar_cnt
fcls_statusbar_cnt_sub
fcls_sblabel
####################################################################################################################################
*/

.qx-c-fcls_statusbar_cnt {
	background: var(--root-cnt-footer-color-bg);
	background-image: none;
	padding: 0;
	margin-top:5px;
}


/*FormClass: fcls_sblabel for FORM statusbar*/
.qx-c-fcls_sblabel .qx-text-with-icon .qx-text {
	color: var(--root-cnt-footer-color-fg);
    padding: 5px 10px;
   font: var(--qx-footer-font);
} 
