/*
########################################################
CSS is used for label/text properties
########################################################
*/

/* Underline text i.e. hotlink */
.qx-c-fcls_data_widget.qx-no-image.qx-aum.qx-aum-label.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-has-text.qx-c-attribute_underline
{
    font: var(--default-font); /*normal 1rem "Roboto",Montserrat,Calibri,"Helvetica Neue", Sans-Serif;*/
   color: red;  /* #3a597e; */ 
} 

/* Form Class  fcls_columnlabel  */
.qx-c-fcls_columnlabel.qx-aum-label .qx-text{
    font-weight: bold;
} 