/* ######################################################## */
/* CSS is used for label/text properties                    */
/* 
/*########################################################*/



/*###################################
DEFAULT Label color
###################################/*

/*4gl color default (no attribute(color)) huho: 03.11.2018 */
.qx-aum-label .qx-text{
    color: var(--4gl-label-color-default-enabled-fg);	
}

/* 4gl color ATTRIBUTE(REVERSE) */
.qx-c-attribute_reverse.qx-aum-label .qx-text{
    color: var(--4gl-label-color-default-rev-enabled-fg);	
    background-color: var(--4gl-label-color-default-rev-enabled-bg);    
}
.qx-c-attribute_reverse.qx-aum-label {
    color: var(--4gl-label-color-default-rev-enabled-fg);
    background-color: var(--4gl-label-color-default-rev-enabled-bg) !important;
}

/* 4gl color ATTRIBUTE(DIM) */
.qx-c-attribute_dim.qx-aum-label .qx-text{
    color: var(--4gl-color-default-dim-fg);
    background-color:transparent !important;
}
.qx-c-attribute_dim.qx-aum-label {
    color: var(--4gl-color-default-dim-bg);
    background-color: var(--4gl-color-default-dim-bg) !important;
    /*background-color:rgba(225,225,225,0.3) !important;*/
}

/*4gl color ATTRIBUTE(BLINK) */
.qx-c-attribute_blink.qx-aum-label .qx-text{
    color:var(--4gl-color-default-blink-fg);
    background-color:transparent !important;
}
/*parent background-color*/
.qx-c-attribute_blink.qx-aum-label {
    background-color: var(--4gl-color-blink-bg-label) !important;
}


/*4gl color ATTRIBUTE(UNDERLINE) */
.qx-c-attribute_underline.qx-aum-label .qx-text{
    color: var(--4gl-label-color-default-enabled-fg);
}
/*parent background-color*/
.qx-c-attribute_blink.qx-aum-label {
    /*background-color: var(--4gl-color-blink-bg-label) !important;*/
}

/*###################################
END OF DEFAULT Label color
###################################/*



/*
####################################################################
Inactive Fields (ALL Element Types with textBox)
NOT IN INPUT
DEFAULT ATTRIBUTE set in 4gl  (NO color, dim, blink, reversed attribute)
####################################################################
*/

.qx-aum-calendar.qx-inactive.ui-state-disabled,
.qx-aum-calendar.qx-inactive.ui-state-disabled *,
.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text,
.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text *,
.qx-aum-spinner.qx-inactive.ui-state-disabled,
.qx-aum-spinner.qx-inactive.ui-state-disabled .qx-text,
.qx-aum-text-field.qx-inactive.ui-state-disabled,
.qx-aum-text-field.qx-inactive.ui-state-disabled *,
.qx-aum-text-area.qx-inactive.ui-state-disabled,
.qx-aum-text-area.qx-inactive.ui-state-disabled *,
.qx-aum-time-edit-field.qx-inactive.ui-state-disabled,
.qx-aum-time-edit-field.qx-inactive.ui-state-disabled *,
.qx-aum-combo-box.qx-inactive.ui-state-disabled, /*outer ComboBoxList*/
.qx-aum-combo-box.qx-inactive.ui-state-disabled .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
.qx-aum-browser 
{

color:var(--4gl-field-color-default-disabled-fg) !important;
background-color: var(--4gl-field-color-default-disabled-bg);
   opacity: 1;
   filter: Alpha(Opacity=00);
}
/* DEFAULT REVERSE*/
.qx-c-attribute_reverse.qx-aum-calendar.qx-inactive.ui-state-disabled,
.qx-c-attribute_reverse.qx-aum-calendar.qx-inactive.ui-state-disabled *,
.qx-c-attribute_reverse.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text,
.qx-c-attribute_reverse.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text *,
.qx-c-attribute_reverse.qx-aum-spinner.qx-inactive.ui-state-disabled,
.qx-c-attribute_reverse.qx-aum-spinner.qx-inactive.ui-state-disabled .qx-text,
.qx-c-attribute_reverse.qx-aum-text-field.qx-inactive.ui-state-disabled,
.qx-c-attribute_reverse.qx-aum-text-field.qx-inactive.ui-state-disabled *,
.qx-c-attribute_reverse.qx-aum-text-area.qx-inactive.ui-state-disabled,
.qx-c-attribute_reverse.qx-aum-text-area.qx-inactive.ui-state-disabled *,
.qx-c-attribute_reverse.qx-aum-time-edit-field.qx-inactive.ui-state-disabled,
.qx-c-attribute_reverse.qx-aum-time-edit-field.qx-inactive.ui-state-disabled *,
.qx-c-attribute_reverse.qx-aum-combo-box.qx-inactive.ui-state-disabled, /*outer ComboBoxList*/
.qx-c-attribute_reverse.qx-aum-combo-box.qx-inactive.ui-state-disabled .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
.qx-c-attribute_reverse.qx-aum-browser 
{

color: var(--4gl-field-color-default-rev-disabled-fg) !important;
background-color: var(--4gl-field-color-default-rev-disabled-bg) !important;
   opacity: 1;
   filter: Alpha(Opacity=00);
}
/* DEFAULT DIM*/
.qx-c-attribute_dim.qx-aum-calendar.qx-inactive.ui-state-disabled,
.qx-c-attribute_dim.qx-aum-calendar.qx-inactive.ui-state-disabled *,
.qx-c-attribute_dim.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text,
.qx-c-attribute_dim.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text *,
.qx-c-attribute_dim.qx-aum-spinner.qx-inactive.ui-state-disabled,
.qx-c-attribute_dim.qx-aum-spinner.qx-inactive.ui-state-disabled .qx-text,
.qx-c-attribute_dim.qx-aum-text-field.qx-inactive.ui-state-disabled,
.qx-c-attribute_dim.qx-aum-text-field.qx-inactive.ui-state-disabled *,
.qx-c-attribute_dim.qx-aum-text-area.qx-inactive.ui-state-disabled,
.qx-c-attribute_dim.qx-aum-text-area.qx-inactive.ui-state-disabled *,
.qx-c-attribute_dim.qx-aum-time-edit-field.qx-inactive.ui-state-disabled,
.qx-c-attribute_dim.qx-aum-time-edit-field.qx-inactive.ui-state-disabled *,
.qx-c-attribute_dim.qx-aum-combo-box.qx-inactive.ui-state-disabled, /*outer ComboBoxList*/
.qx-c-attribute_dim.qx-aum-combo-box.qx-inactive.ui-state-disabled .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
.qx-c-attribute_dim.qx-aum-browser 
{

color: var(--4gl-color-default-dim-fg) !important;
background-color: var(--4gl-color-default-dim-bg) !important;
   opacity: 1;
   filter: Alpha(Opacity=00);
}

/* DEFAULT BLINK*/
.qx-c-attribute_blink.qx-aum-calendar.qx-inactive.ui-state-disabled,
.qx-c-attribute_blink.qx-aum-calendar.qx-inactive.ui-state-disabled *,
.qx-c-attribute_blink.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text,
.qx-c-attribute_blink.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text *,
.qx-c-attribute_blink.qx-aum-spinner.qx-inactive.ui-state-disabled,
.qx-c-attribute_blink.qx-aum-spinner.qx-inactive.ui-state-disabled .qx-text,
.qx-c-attribute_blink.qx-aum-text-field.qx-inactive.ui-state-disabled,
.qx-c-attribute_blink.qx-aum-text-field.qx-inactive.ui-state-disabled *,
.qx-c-attribute_blink.qx-aum-text-area.qx-inactive.ui-state-disabled,
.qx-c-attribute_blink.qx-aum-text-area.qx-inactive.ui-state-disabled *,
.qx-c-attribute_blink.qx-aum-time-edit-field.qx-inactive.ui-state-disabled,
.qx-c-attribute_blink.qx-aum-time-edit-field.qx-inactive.ui-state-disabled *,
.qx-c-attribute_blink.qx-aum-combo-box.qx-inactive.ui-state-disabled, /*outer ComboBoxList*/
.qx-c-attribute_blink.qx-aum-combo-box.qx-inactive.ui-state-disabled .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
.qx-c-attribute_blink.qx-aum-browser 
{
color: var(--4gl-color-default-blink-fg) !important;
background-color: var(--4gl-color-default-blink-bg) !important;
   opacity: 1;
   filter: Alpha(Opacity=00);
}



/*
####################################################################
Inactive Fields (ALL Element Types with textBox)
NOT IN INPUT
DEFAULT ATTRIBUTE set in 4gl  (NO color, dim, blink, reversed attribute)
####################################################################
*/

.qx-aum-calendar.qx-inactive.ui-state-disabled,
.qx-aum-calendar.qx-inactive.ui-state-disabled *,
.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text,
.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text *,
.qx-aum-spinner.qx-inactive.ui-state-disabled,
.qx-aum-spinner.qx-inactive.ui-state-disabled .qx-text,
.qx-aum-text-field.qx-inactive.ui-state-disabled,
.qx-aum-text-field.qx-inactive.ui-state-disabled *,
.qx-aum-text-area.qx-inactive.ui-state-disabled,
.qx-aum-text-area.qx-inactive.ui-state-disabled *,
.qx-aum-time-edit-field.qx-inactive.ui-state-disabled,
.qx-aum-time-edit-field.qx-inactive.ui-state-disabled *,
.qx-aum-combo-box.qx-inactive.ui-state-disabled, /*outer ComboBoxList*/
.qx-aum-combo-box.qx-inactive.ui-state-disabled .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
.qx-aum-browser 
{

color:var(--4gl-field-color-default-disabled-fg) !important;
background-color: var(--4gl-field-color-default-disabled-bg); /* transparent; */
   opacity: 1;
   filter: Alpha(Opacity=00);
}

/* ******************************************************* */
/*REVERSED color*/
/*default-reversed*/
.qx-aum-some.qx-c-attribute_reverse:not(.qx-c-nativestyle),
.qx-aum-some.qx-c-attribute_reverse.qx-aum:not(.qx-c-nativestyle) *
{
	/*color: var(--4gl-color-black-bg); */
	background: var(--4gl-enabled-default-color-fg);
}
.qx-c-attribute_reverse:not(.qx-c-nativestyle) .md-input,
.qx-c-attribute_reverse:not(.qx-c-nativestyle) 
{
    color: var(--4gl-color-default-bg);/*text face color fg */
    background-color: var(--4gl-enabled-default-color-fg); 
}


/* DEFAULT REVERSE*/
.qx-c-attribute_reverse.qx-aum-calendar.qx-inactive.ui-state-disabled,
.qx-c-attribute_reverse.qx-aum-calendar.qx-inactive.ui-state-disabled *,
.qx-c-attribute_reverse.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text,
.qx-c-attribute_reverse.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text *,
.qx-c-attribute_reverse.qx-aum-spinner.qx-inactive.ui-state-disabled,
.qx-c-attribute_reverse.qx-aum-spinner.qx-inactive.ui-state-disabled .qx-text,
.qx-c-attribute_reverse.qx-aum-text-field.qx-inactive.ui-state-disabled,
.qx-c-attribute_reverse.qx-aum-text-field.qx-inactive.ui-state-disabled *,
.qx-c-attribute_reverse.qx-aum-text-area.qx-inactive.ui-state-disabled,
.qx-c-attribute_reverse.qx-aum-text-area.qx-inactive.ui-state-disabled *,
.qx-c-attribute_reverse.qx-aum-time-edit-field.qx-inactive.ui-state-disabled,
.qx-c-attribute_reverse.qx-aum-time-edit-field.qx-inactive.ui-state-disabled *,
.qx-c-attribute_reverse.qx-aum-combo-box.qx-inactive.ui-state-disabled, /*outer ComboBoxList*/
.qx-c-attribute_reverse.qx-aum-combo-box.qx-inactive.ui-state-disabled .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
.qx-c-attribute_reverse.qx-aum-browser 
{

color: var(--4gl-field-color-default-rev-disabled-fg) !important;
background-color: var(--4gl-field-color-default-rev-disabled-bg) !important;
   opacity: 1;
   filter: Alpha(Opacity=00);
}
/* DEFAULT DIM*/
.qx-c-attribute_dim.qx-aum-calendar.qx-inactive.ui-state-disabled,
.qx-c-attribute_dim.qx-aum-calendar.qx-inactive.ui-state-disabled *,
.qx-c-attribute_dim.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text,
.qx-c-attribute_dim.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text *,
.qx-c-attribute_dim.qx-aum-spinner.qx-inactive.ui-state-disabled,
.qx-c-attribute_dim.qx-aum-spinner.qx-inactive.ui-state-disabled .qx-text,
.qx-c-attribute_dim.qx-aum-text-field.qx-inactive.ui-state-disabled,
.qx-c-attribute_dim.qx-aum-text-field.qx-inactive.ui-state-disabled *,
.qx-c-attribute_dim.qx-aum-text-area.qx-inactive.ui-state-disabled,
.qx-c-attribute_dim.qx-aum-text-area.qx-inactive.ui-state-disabled *,
.qx-c-attribute_dim.qx-aum-time-edit-field.qx-inactive.ui-state-disabled,
.qx-c-attribute_dim.qx-aum-time-edit-field.qx-inactive.ui-state-disabled *,
.qx-c-attribute_dim.qx-aum-combo-box.qx-inactive.ui-state-disabled, /*outer ComboBoxList*/
.qx-c-attribute_dim.qx-aum-combo-box.qx-inactive.ui-state-disabled .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
.qx-c-attribute_dim.qx-aum-browser 
{

color: var(--4gl-color-default-dim-fg) !important;
background-color: var(--4gl-color-default-dim-bg) !important;
   opacity: 1;
   filter: Alpha(Opacity=00);
}

/* DEFAULT BLINK*/
.qx-c-attribute_blink.qx-aum-calendar.qx-inactive.ui-state-disabled,
.qx-c-attribute_blink.qx-aum-calendar.qx-inactive.ui-state-disabled *,
.qx-c-attribute_blink.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text,
.qx-c-attribute_blink.qx-aum-function-field-abs.qx-inactive.ui-state-disabled .qx-ff-text *,
.qx-c-attribute_blink.qx-aum-spinner.qx-inactive.ui-state-disabled,
.qx-c-attribute_blink.qx-aum-spinner.qx-inactive.ui-state-disabled .qx-text,
.qx-c-attribute_blink.qx-aum-text-field.qx-inactive.ui-state-disabled,
.qx-c-attribute_blink.qx-aum-text-field.qx-inactive.ui-state-disabled *,
.qx-c-attribute_blink.qx-aum-text-area.qx-inactive.ui-state-disabled,
.qx-c-attribute_blink.qx-aum-text-area.qx-inactive.ui-state-disabled *,
.qx-c-attribute_blink.qx-aum-time-edit-field.qx-inactive.ui-state-disabled,
.qx-c-attribute_blink.qx-aum-time-edit-field.qx-inactive.ui-state-disabled *,
.qx-c-attribute_blink.qx-aum-combo-box.qx-inactive.ui-state-disabled, /*outer ComboBoxList*/
.qx-c-attribute_blink.qx-aum-combo-box.qx-inactive.ui-state-disabled .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
.qx-c-attribute_blink.qx-aum-browser 
{
color: var(--4gl-color-default-blink-fg) !important;
background-color: var(--4gl-color-default-blink-bg) !important;
   opacity: 1;
   filter: Alpha(Opacity=00);
}


/* ******************************************************************* */
/*Table (Disp/Inp Array) */
/* ******************************************************************* */
/*normal color = NO 4gl ATTRIBUTE(color)*/
/*default*/
.qx-aum-some:not(.qx-c-nativestyle),
.qx-aum-some.qx-aum:not(.qx-c-nativestyle) *
{
	color: var(--4gl-field-color-default-enabled-fg); 
	/* If you define background here, it will overwrite/dominate ALL table elements - do not do this */
	/*background: var(--4gl-color-default-bg);*/
}
qx-aum:not(.qx-c-nativestyle) .md-input,
qx-aum.:not(.qx-c-nativestyle) 
{
    color: var(--4gl-field-color-default-enabled-fg); /*text face color fg */
}





/*Was added to give the user some feedback on current row in INPUT ARRAY */
/*currently selected row */
/* field fg/bg color of he currently focused/input field in row*/
/*
.qx-aum-some.ui-row-ltr.qx-focusable.qx-table-row.qx-selected
{
	background-color:  var(--cnt-tb-curr-row-inp-field-color-bg); 
	color: var(--cnt-tb-curr-row-inp-field-color-fg); 
}
*/


/* ***************************************************************************************************************** */












/*
####################################################################
ACTIVE Fields (ALL Element Types with textBox)
INPUT
DEFAULT ATTRIBUTE set in 4gl  (NO color, dim, blink, reversed attribute)
####################################################################
*/

.qx-aum-calendar.qx-active.ui-state-active,
.qx-aum-calendar.qx-active.ui-state-active *,
.qx-aum-function-field-abs.qx-active.ui-state-active .qx-ff-text,
.qx-aum-function-field-abs.qx-active.ui-state-active .qx-ff-text *,
.qx-aum-spinner.qx-active.ui-state-active,
.qx-aum-spinner.qx-active.ui-state-active .qx-text,
.qx-aum-text-field.qx-active.ui-state-active,
.qx-aum-text-field.qx-active.ui-state-active *,
.qx-aum-text-area.qx-active.ui-state-active,
.qx-aum-text-area.qx-active.ui-state-active *,
.qx-aum-time-edit-field.qx-active.ui-state-active,
.qx-aum-time-edit-field.qx-active.ui-state-active *,
.qx-aum-combo-box.qx-active.ui-state-active, /*outer ComboBoxList*/
.qx-aum-combo-box.qx-active.ui-state-active .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
.qx-aum-browser 
{

color:var(--4gl-color-blue) !important;
background-color: transparent;
   opacity: 1;
   filter: Alpha(Opacity=00);
}
/* DEFAULT REVERSE*/
.qx-c-attribute_reverse.qx-aum-calendar.qx-active.ui-state-active,
.qx-c-attribute_reverse.qx-aum-calendar.qx-active.ui-state-active *,
.qx-c-attribute_reverse.qx-aum-function-field-abs.qx-active.ui-state-active .qx-ff-text,
.qx-c-attribute_reverse.qx-aum-function-field-abs.qx-active.ui-state-active .qx-ff-text *,
.qx-c-attribute_reverse.qx-aum-spinner.qx-active.ui-state-active,
.qx-c-attribute_reverse.qx-aum-spinner.qx-active.ui-state-active .qx-text,
.qx-c-attribute_reverse.qx-aum-text-field.qx-active.ui-state-active,
.qx-c-attribute_reverse.qx-aum-text-field.qx-active.ui-state-active *,
.qx-c-attribute_reverse.qx-aum-text-area.qx-active.ui-state-active,
.qx-c-attribute_reverse.qx-aum-text-area.qx-active.ui-state-active *,
.qx-c-attribute_reverse.qx-aum-time-edit-field.qx-active.ui-state-active,
.qx-c-attribute_reverse.qx-aum-time-edit-field.qx-active.ui-state-active *,
.qx-c-attribute_reverse.qx-aum-combo-box.qx-active.ui-state-active, /*outer ComboBoxList*/
.qx-c-attribute_reverse.qx-aum-combo-box.qx-active.ui-state-active .qx-text.qx-text-edit.qx-focus-target, /*Inner ComboBoxList*/
.qx-c-attribute_reverse.qx-aum-browser 
{

color: var(--4gl-color-blue-rev-fg) !important;
background-color: var(--4gl-color-blue-rev-bg) !important;
   opacity: 1;
   filter: Alpha(Opacity=00);
}

