/*
########################################################
CSS is used for label/text properties

/* 
colors:
normal = blue/white
	border: #79b7e7
	background: #ffffff
input  =darkYello-lightYellow
	border:#fad42e
	background: #fbec88
########################################################
*/


.qx-c-fcls_align_left .qx-text-with-icon .qx-text	
{
text-align:left;
float: left;

}

.qx-c-fcls_align_right .qx-text-with-icon .qx-text
{
text-align:right;
float: right;

}


.qx-c-fcls_align_vcenter .qx-text-with-icon .qx-text	
{
vertical-align: middle;
}