.tooltipster-default {
	border-radius: var(--main-tooltip-default-border-radius); 
	border: var(--main-tooltip-default-border-width) solid var(--main-tooltip-default-border-color); /* #000; */
	background: var(--main-tooltip-default-color-bg); /*#4c4c4c;*/
	color: var(--main-tooltip-default-color-fg); /* #fff;*/
}

.tooltipster-default .tooltipster-content {
	font: var(--main-tooltip-default-border-font);
	/*font-family: "Roboto",Montserrat,Calibri,"Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;*/
	/*font-size: 9pt;*/
	line-height: normal;
	padding: 6px 10px;
	/*overflow: hidden;*/
}

.tooltipster-message,.tooltipster-usage,.tooltipster-other {
    color: var(--main-tooltip-message-color-fg);
    background-color: var(--main-tooltip-message-color-bg);
    border-color: var(--main-tooltip-message-border-color);
}

.tooltipster-warning {
    color: var(--main-tooltip-warning-color-fg);
    background-color: var(--main-tooltip-warning-color-bg);
    border-color: var(--main-tooltip-warning-border-color);
}
.tooltipster-error {
    color: var(--main-tooltip-error-color-fg);
    background-color: var(--main-tooltip-error-color-bg);
    border-color: var(--main-tooltip-error-border-color);
}
.tooltipster-info {
    color: var(--main-tooltip-info-color-fg);
    background-color: var(--main-tooltip-info-color-bg);
    border-color: var(--main-tooltip-info-border-color);
}
