

/* replace the functionField button image ViOr */
/*
#.qx-c-fcls_image_delete.qx-aum-function-field-abs .qx-image.qx-image-scaling-none
{
  display: block;
  width: 0px;  Width of new image 
  height: 0px;  Height of new image 
}


.qx-c-fcls_image_delete .qx-text-with-icon
{

background-image: url(/public/querix/icon/svg/24/ic_remove_24px.svg);	
}
*/
/*###############################################
add to form class buttons an images
###############################################*/

/*.qx-c-fcls_button_done .qx-text-with-icon
{
	background-image: url(/public/querix/icon/svg/24/ic_done_24px.svg);
color:white;
background-color:rgb(58, 89, 126);

width: 100%;
height: auto;
min-width:2rem;
background-repeat: no-repeat;
background-size: contain;

}
*/

/*#############################################*/
/* Note: Common properties for all image buttons incl size */
/*#############################################*/
/*
.qx-aum-button .ui-button {
	border:none;
}
*/
.qx-c-fcls_button_add.qx-aum-button .qx-text-with-icon, 
.qx-c-fcls_button_attach.qx-aum-button .qx-text-with-icon,
.qx-c-fcls_button_append.qx-aum-button .qx-text-with-icon,
.qx-c-fcls_button_cancel.qx-aum-button.ui-button-text .qx-text-with-icon,
.qx-c-fcls_button_clear.qx-aum-button.ui-button-text .qx-text-with-icon,
.qx-c-fcls_button_clear.qx-aum-button .qx-text-with-icon,
.qx-c-fcls_button_delete.qx-aum-button .qx-text-with-icon, 
.qx-c-fcls_button_done.qx-aum-button .qx-text-with-icon,
.qx-c-fcls_button_edit.qx-aum-button .qx-text-with-icon, 
.qx-c-fcls_button_filter.qx-aum-button .qx-text-with-icon, 
.qx-c-fcls_button_help.qx-aum-button.ui-button-text .qx-text-with-icon,
.qx-c-fcls_button_insert.qx-aum-button.ui-button-text .qx-text-with-icon,
.qx-c-fcls_button_lookup.qx-aum-button .qx-text-with-icon, 
.qx-c-fcls_button_left.qx-aum-button .qx-text-with-icon, 
.qx-c-fcls_button_left_move.qx-aum-button .qx-text-with-icon, 
.qx-c-fcls_button_new.qx-aum-button .qx-text-with-icon, 
.qx-c-fcls_button_remove.qx-aum-button .qx-text-with-icon, 
.qx-c-fcls_button_right.qx-aum-button .qx-text-with-icon,
.qx-c-fcls_button_right_move.qx-aum-button .qx-text-with-icon,
.qx-c-fcls_button_search.qx-aum-button .qx-text-with-icon
{
color:white;
background-color:rgb(58, 89, 126);

width: 100%;
height: auto;
min-width:2rem;
background-repeat: no-repeat;
background-size: contain;
border:none;
}

*/

*/
/*************************************************************/


/*General library Button alignment - for all buttons*/
.qx-aum-button .ui-button-text .qx-text-with-icon 
{
 align-items: center;
 justify-content:center;
}


/* replace the functionField button image ViOr */
#.qx-c-fcls_bg_image_remove.qx-aum-function-field-abs .qx-image.qx-image-scaling-none
{
  display: block;
  width: 0px; /* Width of new image */
  height: 0px; /* Height of new image */
}

.qx-text-with-icon
{
background-repeat: no-repeat;
background-position: center;
}



/* AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA */

/*ADD Image/Button*/
.qx-c-fcls_image_add.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_add_24px.svg);
 align-self:stretch;
}
.qx-c-fcls_bg_image_add .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_add_24px.svg);	
}

/* ADD button */
.qx-c-fcls_button_add.qx-aum-button .ui-button-text .qx-text-with-icon::before 
{
 content: url(/public/querix/icon/svg/24/ic_add_24px.svg);
 align-self:stretch;
}

/*ACCEPT Button*/
.qx-c-fcls_image_accept.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_done_24px.svg);
 align-self:stretch;
}
.qx-c-fcls_bg_image_accept .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_done_24px.svg);	
}


/*ATTACH Image/Button*/
.qx-c-fcls_image_attach.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_attach_file_24px.svg);
 align-self:stretch;
}
.qx-c-fcls_bg_image_attach .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_attach_file_24px.svg);	
}


/* CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC */

/*CANCEL Button*/
.qx-c-fcls_image_cancel.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_cancel_24px.svg);
 align-self:stretch;
}
.qx-c-fcls_bg_image_cancel .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_cancel_24px.svg);	
}

/*CLONE Button*/
.qx-c-fcls_image_clone.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_content_copy_24px.svg );
 align-self:stretch;
}
.qx-c-fcls_bg_image_clone .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_content_copy_24px.svg);	
}


/*CLEAR Button*/
.qx-c-fcls_image_clear.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_clear_24px.svg);
 align-self:stretch;
}
.qx-c-fcls_bg_image_clear .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_clear_24px.svg);	
}



/* DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD */

/*DELETE Button*/
.qx-c-fcls_image_delete.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_remove_24px.svg);
 align-self:stretch;
}
.qx-c-fcls_bg_image_delete .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_remove_24px.svg);	
}

/*DONE Button*/
.qx-c-fcls_image_done.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_done_24px.svg);
 align-self:stretch;
}
.qx-c-fcls_bg_image_done .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_done_24px.svg);	
}

/*DOWNLOAD Button*/
.qx-c-fcls_image_download.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_download_file_24px.svg );
 align-self:stretch;
}
.qx-c-fcls_bg_image_download .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_download_file_24px.svg);	
}

/*DOWNLOAD CLOUD Button*/
.qx-c-fcls_image_download_cloud.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_download_cloud_24px.svg );
 align-self:stretch;
}
.qx-c-fcls_bg_image_download_cloud .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_download_cloud_24px.svg);	
}

/*DOWNLOAD FILE Button*/
.qx-c-fcls_image_download_file.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_download_file_24px.svg );
 align-self:stretch;
}
.qx-c-fcls_bg_image_download_file .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_download_file_24px.svg);	
}

/*DUPLICATE Button*/
.qx-c-fcls_image_duplicate.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_credit_card_24px.svg );
 align-self:stretch;
}
.qx-c-fcls_bg_image_duplicate .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_credit_card_24px.svg);	
}


/* EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE */

/*EDIT Button*/
.qx-c-fcls_image_edit.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_edit_24px.svg);
 align-self:stretch;
}
.qx-c-fcls_bg_image_edit .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_edit_24px.svg);	
}


/* EDIT button */
.qx-c-fcls_button_edit.qx-aum-button .ui-button-text .qx-text-with-icon::before 
{
 content: url(/public/querix/icon/svg/24/ic_edit_24px.svg);
 align-self:stretch; 
}


/*EXIT Button*/
.qx-c-fcls_image_exit.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_cancel_24px.svg);
 align-self:stretch;
}
.qx-c-fcls_bg_image_exit .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_cancel_24px.svg);	
}


/* FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF */

/*FILTER Button*/
.qx-c-fcls_image_filter.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_filter_list_24px.svg);
 align-self:stretch;
}
.qx-c-fcls_bg_image_filter .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_filter_list_24px.svg);	
}

.qx-c-fcls_button_filter.qx-aum-button .ui-button-text .qx-text-with-icon::before 
{
 content: url(/public/querix/icon/svg/24/ic_filter_list_24px.svg);
 align-self:stretch;
}



/* HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH */

/*HELP Button*/
.qx-c-fcls_image_help.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_help_outline_24px.svg );
 align-self:stretch;
}
.qx-c-fcls_bg_image_help .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_help_outline_24px.svg);	
}




/* LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL */

/*LEFT ARROW Button*/
.qx-c-fcls_bg_image_remove .qx-text-with-icon
{
background-image: url(/public/querix/icon/svg/24/ic_arrow_back_24px.svg);	
}
/*LEFT ARROW Button*/
.qx-c-fcls_image_left.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_arrow_back_24px.svg);
 align-self:stretch;
}

.qx-c-fcls_button_left.qx-aum-button .ui-button-text .qx-text-with-icon::before 
{
 content: url(/public/querix/icon/svg/24/ic_arrow_back_24px.svg);
 align-self:stretch;
}

.qx-c-fcls_button_left_move.qx-aum-button .ui-button-text .qx-text-with-icon::before 
{
 content: url(/public/querix/icon/svg/24/ic_arrow_back_24px.svg);
 align-self:stretch;
}



/*LOOKUP Button*/
.qx-c-fcls_image_lookup.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_search_24px.svg);
 align-self:stretch;
}
.qx-c-fcls_bg_image_lookup .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_search_24px.svg);	
}


/* LOOKUP/Search button */
.qx-c-fcls_button_lookup.qx-aum-button .ui-button-text .qx-text-with-icon::before 
{
 content: url(/public/querix/icon/svg/24/ic_search_24px.svg);
 align-self:stretch; 
}


/* MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM */

/*MANAGE Button*/
.qx-c-fcls_image_manage.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_settings_applications_24px.svg);
 align-self:stretch;
}
.qx-c-fcls_bg_image_manage .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_settings_applications_24px.svg);	
}


/* RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR */


/*REMOVE Button*/
.qx-c-fcls_image_remove.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_remove_24px.svg);
 align-self:stretch;
}
.qx-c-fcls_bg_image_remove .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_remove_24px.svg);	
}

.qx-c-fcls_button_remove.qx-aum-button .ui-button-text .qx-text-with-icon::before 
{
 content: url(/public/querix/icon/svg/24/ic_remove_24px.svg);
 align-self:stretch;
}



/*RIGHT ARROW Button*/
.qx-c-fcls_image_right.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_arrow_forward_24px.svg);
 align-self:stretch;
}
.qx-c-fcls_bg_image_right .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_arrow_forward_24px.svg);	
}

.qx-c-fcls_button_right.qx-aum-button .ui-button-text .qx-text-with-icon::before 
{
 content: url(/public/querix/icon/svg/24/ic_arrow_forward_24px.svg);
 align-self:stretch;
}

.qx-c-fcls_button_right_move.qx-aum-button .ui-button-text .qx-text-with-icon::before 
{
 content: url(/public/querix/icon/svg/24/ic_arrow_forward_24px.svg);
 align-self:stretch;
}



/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */

/*SEARCH Button*/
.qx-c-fcls_image_search.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_search_24px.svg);
 align-self:stretch;
}
.qx-c-fcls_bg_image_search .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_search_24px.svg);	
}

/* UUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU */

/*UPLOAD Button*/
.qx-c-fcls_image_upload.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_upload_file_24px.svg );
 align-self:stretch;
}
.qx-c-fcls_bg_image_upload .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_upload_file_24px.svg);	
}

/*UPLOAD CLOUD Button*/
.qx-c-fcls_image_upload_cloud.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_upload_cloud_24px.svg );
 align-self:stretch;
}
.qx-c-fcls_bg_image_upload_cloud .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_upload_cloud_24px.svg);	
}

/*UPLOAD FILE Button*/
.qx-c-fcls_image_upload_file.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_upload_file_24px.svg );
 align-self:stretch;
}
.qx-c-fcls_bg_image_upload_file .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_upload_file_24px.svg);	
}





/* TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT */

/*TRANSLATE Button*/
.qx-c-fcls_image_translate.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_process_24px.svg );
 align-self:stretch;
}
.qx-c-fcls_bg_image_translate .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_process_24px.svg);	
}



/* VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV */

/*VIEW DETAIL Button*/
.qx-c-fcls_image_view_detail.qx-aum-button .ui-button-text .qx-text-with-icon::before
{
 content: url(/public/querix/icon/svg/24/ic_view_list_24px.svg );
 align-self:stretch;
}
.qx-c-fcls_bg_image_view_detail .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_view_list_24px.svg);	
}



/*
.qx-c-fcls_button_lookup .qx-text-with-icon
{
 background-image: url(/public/querix/icon/svg/24/ic_search_24px.svg);	
}
*/

/* ----------------------------------------------------------------------------------- */

/*Search Button*/
/*
.qx-c-fcls_button_search.qx-aum-button .ui-button-text .qx-text-with-icon 
{
background-image: url(/public/querix/icon/svg/24/ic_search_24px.svg);
}
*/
/*
.qx-c-fcls_image_default_upload.qx-aum-button .ui-button .ui-button-text .qx-text-with-icon .qx-image,
qx-no-image ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only,
.qx-c-fcls_image_default_upload.qx-aum-button   .ui-button-text .qx-image
{
background-image: url(/public/querix/icon/svg/24/ic_arrow_back_24px.svg);
background-repeat: no-repeat;
background-position: center;
}
*/

/*



.qx-c-fcls_button_lookup.qx-aum-button 
.ui-button.ui-widget.ui-state-default.ui-button-disabled.ui-state-disabled
.qx-text-with-icon 
{
background-image: url(/public/querix/icon/svg/24/ic_search_24px.svg);
}

.qx-c-fcls_image_manage.qx-aum-button .ui-button-text .qx-text-with-icon 
{
background-image: url(/public/querix/icon/svg/24/ic_remove_24px.svg);
}

.qx-c-fcls_image_remove.qx-aum-button .ui-button-text .qx-text-with-icon 
{
background-image: url(/public/querix/icon/svg/24/ic_remove_24px.svg);
}

.qx-c-fcls_image_delete.qx-aum-button .ui-button-text .qx-text-with-icon 
{
background-image: url(/public/querix/icon/svg/24/ic_remove_24px.svg);
}

.qx-c-fcls_image_add.qx-aum-button .ui-button-text .qx-text-with-icon 
{
background-image: url(/public/querix/icon/svg/24/ic_add_24px.svg);
}

.qx-c-fcls_image_attach.qx-aum-button .ui-button-text .qx-text-with-icon 
{
background-image: url(/public/querix/icon/svg/24/ic_attach_file_24px.svg);
}

.qx-c-fcls_image_edit.qx-aum-button .ui-button-text .qx-text-with-icon
{
background-image: url(/public/querix/icon/svg/24/ic_create_24px.svg);
background-repeat: no-repeat;
background-position: left;
}

.qx-c-fcls_image_done .qx-text-with-icon
{
background-image: url(/public/querix/icon/svg/24/ic_done_24px.svg);
}


.qx-c-fcls_image_cancel.qx-aum-button .ui-button-text .qx-text-with-icon
{
background-image: url(/public/querix/icon/svg/24/ic_cancel_24px.svg);
}

.qx-c-fcls_image_clear.qx-aum-button .ui-button-text .qx-text-with-icon
{
background-image: url(/public/querix/icon/svg/24/ic_clear_24px.svg);
}

.qx-c-fcls_image_filter.qx-aum-button .ui-button-text .qx-text-with-icon
{
background-image: url(/public/querix/icon/svg/24/ic_filter_list_24px.svg);
}


.qx-c-fcls_image_help.qx-aum-button .ui-button-text .qx-text-with-icon
{
background-image: url(/public/querix/icon/svg/24/ic_help_outline_24px.svg);
}




.qx-c-fcls_image_left.qx-aum-button .ui-button-text .qx-text-with-icon
{
background-image: url(/public/querix/icon/svg/24/ic_arrow_back_24px.svg);
background-repeat: no-repeat;
background-position: center;
}



.qx-c-fcls_image_right.qx-aum-button .ui-button-text .qx-text-with-icon
{
background-image: url(/public/querix/icon/svg/24/ic_arrow_forward_24px.svg);
background-repeat: no-repeat;
background-position: center;
}




.qx-c-fcls_image_left.qx-aum-button .ui-button-text .qx-text-with-icon
{
background-image: url(/public/querix/icon/svg/24/ic_arrow_back_24px.svg);

}



.qx-c-fcls_image_right.qx-aum-button .ui-button-text .qx-text-with-icon
{
background-image: url(/public/querix/icon/svg/24/ic_arrow_forward_24px.svg);

}


.qx-inactive.ui-state-disabled.qx-aum.qx-aum-button.qx-c-fcls_button_lookup .ui-button-text .qx-text-with-icon
{
	background-image: none;
}

*/

