@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");

:root {
font: var(--default-font);
--default-font: 14.0px 'Noto Sans', 'Roboto', sans-serif;

/* FONT Definitions 25.05.2019 HuHo */
--qx-common-font: var(--default-font);
--qx-field-label-font: 1rem 'Noto Sans', 'Roboto', sans-serif;
--qx-textfield-font: 0.9rem 'Noto Sans', 'Roboto', sans-serif;
--qx-display-array-font: 0.9rem 'Noto Sans', 'Roboto', sans-serif;
--qx-listfield-font: 0.9rem 'Noto Sans', 'Roboto', sans-serif;
--qx-data-widget-label-font: 0.9rem 'Noto Sans', 'Roboto', sans-serif;
--qx-widget-button-font: 1rem "Open Sans",sans-serif,'Noto Sans', 'Roboto';
--qx-group-title-font: 1.0rem 'Open Sans',sans-serif,'Noto Sans', 'Roboto';
--qx-input-font: 13px 'Noto Sans', 'Roboto', sans-serif;
--qx-tab-button-font: 500 14px 'Noto Sans', 'Roboto', sans-serif;
--qx-message-box-text-font: 13px 'Noto Sans', 'Roboto', sans-serif;
--qx-hint-font: 11px 'Noto Sans', 'Roboto', sans-serif;
--qx-console-font: normal 0.8rem "Roboto Mono", Courier, sans-Serif;
--qx-tooltip-font: 11px 'Noto Sans','Roboto', sans-serif;
--qx-header-font: 1.1rem 'Open Sans',sans-serif,'Noto Sans', 'Roboto';
--qx-footer-font: 0.9rem 'Open Sans',sans-serif,'Noto Sans', 'Roboto';
--qx-menu-font: 0.8rem 'Open Sans',sans-serif,'Noto Sans', 'Roboto';
--qx-toolbar-font: 0.8rem 'Open Sans',sans-serif,'Noto Sans', 'Roboto';

/* BEGIN COLORS */
/*white and white masks */
--main-color-000: rgba(255,255,255,1.00); /*default static white*/
--main-color-001: rgba(255,255,255,1.00); /*i.e. reversed text fg, tab-handle border */
--main-color-002: rgba(255,255,255,0.4);  /*NU i.e. text partially transparent */
--main-color-003: rgba(255,255,255,0.6);  /*NU i.e. mdi tab label fg text partially transparent */
--main-color-004: rgba(255,255,255,0.8);  /*NU i.e. text partially transparent */

--main-color-010: rgba(032,053,094,1.00); /*i.e. main text label color */
--main-color-011: rgba(000,000,000,1.00); 
--main-color-012: rgba(000,000,000,1.00); 
--main-color-013: rgba(000,000,000,1.00); 
--main-color-014: rgba(000,000,000,1.00); 


--main-color-020: rgba(0,0,0,1.00);
--main-color-021: rgba(13,13,13,1.00);
--main-color-022: rgba(26,26,26,1.00);
--main-color-023: rgba(38,38,38,1.00);
--main-color-024: rgba(51,51,51,1.00);
--main-color-025: rgba(64,64,64,1.00);
--main-color-026: rgba(77,77,77,1.00);
--main-color-027: rgba(89,89,89,1.00);
--main-color-028: rgba(102,102,102,1.00);
--main-color-029: rgba(115,115,115,1.00);
--main-color-030: rgba(128,128,128,1.00);
--main-color-031: rgba(140,140,140,1.00);
--main-color-032: rgba(153,153,153,1.00);
--main-color-033: rgba(166,166,166,1.00);
--main-color-034: rgba(179,179,179,1.00);
--main-color-035: rgba(191,191,191,1.00);
--main-color-036: rgba(204,204,204,1.00);
--main-color-037: rgba(217,217,217,1.00);
--main-color-038: rgba(230,230,230,1.00);
--main-color-039: rgba(242,242,242,1.00);
--main-color-040: rgba(255,255,255,1.00);


--main-color-050: rgba(000,000,000,1.00);
--main-color-060: rgba(000,000,000,1.00);

--main-color-070: rgba(016,025,035,1.00);
--main-color-071: rgba(032,049,070,1.00); 
--main-color-071b: rgba(032,053,094,1.00); /*mdi sub-menu bg*/
--main-color-072: rgba(048,074,105,1.00); 
--main-color-072b: rgba(050,072,115,1.00); /*mdi menu bg*/
--main-color-073: rgba(058,089,126,1.00); /* rgba(058,089,126,1) #3a597e */
--main-color-074: rgba(064,098,140,1.00); 
--main-color-075: rgba(080,123,175,1.00); 
--main-color-076: rgba(115,149,191,1.00); 
--main-color-077: rgba(150,176,207,1.00); 
--main-color-078: rgba(185,202,223,1.00); 
--main-color-078b: rgba(208,229,245,1.00); 
--main-color-079: rgba(220,229,239,1.00); 
--main-color-080: rgba(107,130,158,1.00);  /* #6B829E */

--main-color-081: rgba(058,089,126,0.75);
--main-color-082: rgba(105,167,215,1.00); /*field border #69a7d7 */
--main-color-083: rgba(003,151,218,1.00); /*mdi highlight*/
--main-color-084: rgba(153,221,255,1.00);  /*i.e. focus-border focused*/
--main-color-085: rgba(208,229,245,0.20);  /*i.e. enabled text field bg*/
--main-color-086: rgba(058,089,126,0.20);  /*light transparent background color*/
--main-color-087: rgba(058,089,126,0.40);  /*light transparent background color*/
--main-color-088: rgba(058,089,126,0.60);  /*light transparent background color*/
--main-color-089: rgba(058,089,126,0.80);  /*light transparent background color*/

--main-color-090: rgba(92, 156, 204, .5);  /* light blue for box border */



--main-color-100: rgba(000,000,000,1.00);

--main-color-110: rgba(208,229,245,0.10);  /* bg disabled */
--main-color-111: rgba(208,229,245,0.20);  /* bg enabled */
--main-color-112: rgba(208,229,245,0.25);  /* bg focused */
--main-color-113: rgba(208,229,245,0.25);  /* bg hover */


--main-color-200: rgba(158,046,053,1.00);  /*Error #9e2e35*/
--main-color-201: rgba(251,236,136,1.00);  /*Warning   #fbec88*/
--main-color-202: rgba(179,217,255,1.00);  /*Info*/
--main-color-203: rgba(255, 200, 200, 0.3);  /* Conditional row highlight in display array */
--main-color-204: rgb(46,110,158); /*message tooltip text color #2E6E9E*/ 
--main-color-205: rgba(211,047,047,1.00);  /*VDOM Error #D32F2F*/
/* conditional row highlight */
--main-color-301: var(--main-color-010); /* row fg*/
--main-color-302: rgba(255, 200, 200, 0.3); /* row bg*/
--main-color-303: rgba(255,067,067,1.00); /* CURRENT/selected row fg*/
--main-color-304: var(--main-color-076); /* CURRENT/selected row bg*/

/*   END COLORS */

--main-color-error-fg: white;
--main-color-error-bg: var(--main-color-200);
--main-color-message-fg: var(--main-color-204);
--main-color-message-bg: var(--main-color-201);
--main-color-vdom-error-fg: white;
--main-color-vdom-error-bg: var(--main-color-205);
--main-color-vdom-message-fg: var(--main-color-204);
--main-color-vdom-message-bg: var(--main-color-201);
--main-color-popup-bg: var(--main-color-073);


--main-color-fg: black;
--main-color-bg: var(--main-color-000);
/*
--main-focus-color-fg: black;
--main-focus-color-bg: var(--main-color-000);
*/
--main-disabled-color-bg: var(--main-color-110);
--main-enabled-color-bg: var(--main-color-111);
--main-focus-color-bg: var(--main-color-112);
--main-hover-color-bg: var(--main-color-113);

--main-disabled-border-color: var(--main-color-090);
--main-enabled-border-color: var(--main-color-090);
--main-focus-border-color: var(--main-color-073); 
--main-hover-border-color: var(--main-color-072); 

--main-disabled-border-radius: 3px;
--main-enabled-border-radius: 3px;
--main-hover-border-radius: 5px;
--main-focus-border-radius: 5px;

--main-disabled-border-width: 1px;
--main-enabled-border-width: 1px;
--main-hover-border-width: 1px;
--main-focus-border-width: 1px;

--main-disabled-border-margin: 2px;
--main-enabled-border-margin: 2px;
--main-hover-border-margin: 2px;
--main-focus-border-margin: 2px;

--main-disabled-border-padding: 2px;
--main-enabled-border-padding: 2px;
--main-hover-border-padding: 2px;
--main-focus-border-padding: 2px;

--main-button-disabled-border-radius: 3px;
--main-button-enabled-border-radius: 3px;
--main-button-hover-border-radius: 3px;
--main-button-focus-border-radius: 3px;

--main-button-disabled-border-width: 1px;
--main-button-enabled-border-width: 1px;
--main-button-hover-border-width: 1px;
--main-button-focus-border-width: 1px;

--main-button-disabled-border-margin: 2px;
--main-button-enabled-border-margin: 2px;
--main-button-hover-border-margin: 2px;
--main-button-focus-border-margin: 2px;

--main-button-disabled-border-padding: 2px;
--main-button-enabled-border-padding: 2px;
--main-button-hover-border-padding: 2px;
--main-button-focus-border-padding: 2px;

--main-hybrid-legacy-cell-width: 0.7rem;
--main-hybrid-legacy-cell-height: 2.4rem;
--main-hybrid-legacy-padding: 2px;

--main-height-0_3: 0.6rem;
--main-height-0_5: 1.1rem;
--main-height-1_0: 2.2rem;
--main-height-2_0: 4.4rem;
--main-height-3_0: 6.6rem;

--main-length-01qch: 2rem;
--main-length-05qch: 5rem;
--main-length-10qch: 9rem;
--main-length-15qch: 14rem;
--main-length-20qch: 18rem;
--main-length-25qch: 23rem;
--main-length-30qch: 27rem;
--main-length-35qch: 32rem;
--main-length-40qch: 36rem;
--main-length-50qch: 45rem;
--main-length-60qch: 54rem;

--main-length-01qch-min: 2rem;
--main-length-05qch-min: 5rem;
--main-length-10qch-min: 5rem;
--main-length-15qch-min: 7.5rem;
--main-length-20qch-min: 10rem;
--main-length-25qch-min: 12.5rem;
--main-length-30qch-min: 15rem;
--main-length-35qch-min: 17.5rem;
--main-length-40qch-min: 20rem;
--main-length-50qch-min: 25rem;
--main-length-60qch-min: 30rem;

--main-length-01qch-max: 2rem;
--main-length-05qch-max: 5rem;
--main-length-10qch-max: 9rem;
--main-length-15qch-max: 14rem;
--main-length-20qch-max: 18rem;
--main-length-25qch-max: 23rem;
--main-length-30qch-max: 27rem;
--main-length-35qch-max: 32rem;
--main-length-40qch-max: 36rem;
--main-length-50qch-max: 45rem;
--main-length-60qch-max: 54rem;




/*on-brbg = on bright background (window color)i.e. white window */
--main-button-on-brbg-color-fg: var(--main-color-001);
--main-button-on-brbg-color-bg: var(--main-color-073);
--main-button-on-brbg-border-color: var(--main-color-073);

--main-button-on-brbg-disabled-color-fg: var(--main-color-000);
--main-button-on-brbg-disabled-color-bg: var(--main-color-074);
--main-button-on-brbg-disabled-border-color: var(--main-color-000);

--main-button-on-brbg-enabled-color-fg: var(--main-color-000);
--main-button-on-brbg-enabled-color-bg: var(--main-color-074);
--main-button-on-brbg-enabled-border-color: var(--main-color-000);

--main-button-on-brbg-focus-color-fg: var(--main-color-000);
--main-button-on-brbg-focus-color-bg: var(--main-color-074);
--main-button-on-brbg-focus-border-color: var(--main-color-000);

--main-button-on-brbg-hover-color-fg: var(--main-color-000);
--main-button-on-brbg-hover-color-bg: var(--main-color-074);
--main-button-on-brbg-hover-border-color: var(--main-color-000);

/*on-dabg = on dark background (window color)i.e. black window */
--main-button-on-dabg-color-fg: var(--main-color-001);
--main-button-on-dabg-color-bg: var(--main-color-073);
--main-button-on-dabg-border-color: var(--main-color-073);

--main-button-on-dabg-disabled-color-fg: var(--main-color-000);
--main-button-on-dabg-disabled-color-bg: var(--main-color-074);
--main-button-on-dabg-disabled-border-color: var(--main-color-000);

--main-button-on-dabg-enabled-color-fg: var(--main-color-000);
--main-button-on-dabg-enabled-color-bg: var(--main-color-074);
--main-button-on-dabg-enabled-border-color: var(--main-color-000);

--main-button-on-dabg-focus-color-fg: var(--main-color-000);
--main-button-on-dabg-focus-color-bg: var(--main-color-074);
--main-button-on-dabg-focus-border-color: var(--main-color-000);

--main-button-on-dabg-hover-color-fg: var(--main-color-000);
--main-button-on-dabg-hover-color-bg: var(--main-color-074);
--main-button-on-dabg-hover-border-color: var(--main-color-000);

--main-label-color-fg: var(--main-color-010);
--main-label-color-bg: transparent;
--main-label-enabled-color-fg: var(--main-color-071);
--main-label-disabled-color-fg: var(--main-color-073);
--main-label-focus-color-fg: var(--main-color-072);

--main-label-rev-color-fg: var(--main-color-000);
--main-label-rev-color-bg: var(--main-color-073);

--main-label-disabled-color-fg: var(--main-color-010);
--main-label-disabled-color-bg: transparent;
--main-label-disabled-rev-color-fg: var(--main-color-000);
--main-label-disabled-rev-color-bg: var(--main-color-073);

--main-textfield-enabled-color-fg: var(--fgl-color-default);
--main-textfield-enabled-color-bg: var(--main-color-085);
--main-textfield-disabled-color-fg: var(--main-color-010);
--main-textfield-disabled-color-bg: var(--main-color-000);
--main-textfield-focus-color-bg: var(--main-focus-color-bg);
--main-progressbar-color-fg: var(--main-color-078b);
--main-progressbar-color-bg: var(--main-color-bg);



--main-scrollbar-color-bg: var(--main-color-039);
--main-scrollbar-button-color-bg: var(--main-color-bg);
--main-scrollbar-disabled-border-color: var(--main-color-040);
--main-scrollbar-enabled-border-color: var(--main-color-035);
--main-scrollbar-hover-border-color: var(--main-color-030);


--fgl-field-color-default-rev-enabled-fg: var(--main-color-073); 
--fgl-field-color-default-rev-enabled-bg: rgba(203, 215, 231,1); 


--main-panel-color-fg: var(--main-color-000);
--main-panel-color-bg: var(--main-color-073);

--main-dialog-button-color-fg: black;
--main-dialog-button-color-bg: white;
--main-dialog-button-focus-color-fg: black;
--main-dialog-button-focus-color-bg: rgba(233,251,255,1.00); /*var(--main-color-084);*/

--main-list-disabled-border-color: var(--main-color-090);
--main-list-enabled-border-color: var(--main-color-090);
--main-list-focus-border-color: var(--main-color-090);
--main-list-hover-border-color: var(--main-color-090);

--main-list-disabled-color-bg: var(--main-disabled-color-bg);
--main-list-enabled-color-bg:  var(--main-enabled-color-bg);
--main-list-focus-color-bg: var(--main-focus-color-bg);
--main-list-hover-color-bg: var(--main-hover-color-bg);
--main-list-item-disabled-color-fg: var(--main-color-070);
--main-list-item-disabled-color-bg: transparent;
--main-list-item-enabled-color-fg: var(--main-color-075);
--main-list-item-enabled-color-bg: transparent;
--main-list-item-focus-color-fg:  var(--main-color-080);
--main-list-item-focus-color-bg:  transparent;
--main-list-item-hover-color-fg:  var(--main-color-085);
--main-list-item-hover-color-bg: transparent;


/* Tooltip */
--main-tooltip-default-border-width: 1px;
--main-tooltip-default-border-radius: 5px;
--main-tooltip-default-border-font: var(--qx-tooltip-font);

--main-tooltip-default-color-fg: var(--main-color-071);
--main-tooltip-default-color-bg: var(--main-color-100);
--main-tooltip-default-border-color: var(--main-color-071);

--main-tooltip-message-color-fg: #3c763d;
--main-tooltip-message-color-bg: #dff0d8;
--main-tooltip-message-border-color: #d6e9c6;

--main-tooltip-warning-color-fg: #8a6d3b;
--main-tooltip-warning-color-bg: #fcf8e3;
--main-tooltip-warning-border-color: #faebcc;

--main-tooltip-error-color-fg: #a94442;
--main-tooltip-error-color-bg: #f2dede;
--main-tooltip-error-border-color: #ebccd1;

--main-tooltip-info-color-fg: #31708f;
--main-tooltip-info-color-bg: #d9edf7;
--main-tooltip-info-border-color: #bce8f1;

/* report viewer console - must be mono font */
--main-text-console-color-fg: var(--main-color-fg);
--main-text-console-color-bg: var(--main-color-bg);
--main-text-console-font: var(--qx-console-font);





/* mdi menu container transformer*/
--cnt-mdi-menu-logo-area-color-bg: var(--main-color-073); /*  #3a597e; rgb(58, 89, 126) */  /* top/left titlebar logo bg  */
--cnt-mdi-header-color-bg: var(--main-color-073);  /*main mdi header area*/ /* #3a597e rgb(58, 89, 126) ; */ /*top-right main titlebar bg */
--cnt_mdi_menu_button_area-bg-color: var(--main-color-072b); /* #324873  */; 
--cnt-mdi-menu-sub-color-bg: var(--main-color-071b); /*   #20355e; */ /* sub-menu bg */
--cnt-mdi-menu-scrollbar-right-silly-area-color-bg: var(--main-color-073); /* #324873 */; /*thin area between menu/scroll area and app canvas */
--cnt-mdi-menu-item-color-fg: var(--main-color-bg); /* focused/selected menu item label bg*/
--cnt-mdi-menu-item-color-bg: var(--main-color-083); /* focused/selected menu item label bg*/
--cnt-mdi-menu-selected-item-color-fg: var(--main-color-000);  /* focused/selected menu item label fg*/
--cnt-mdi-menu-selected-item-color-bg: var(--main-color-083); /* focused/selected menu item label bg*/
--cnt-mdi-menu-hover-item-color-fg: var(--main-color-000);  /* focused/selected menu item label fg*/
--cnt-mdi-menu-hover-item-color-bg: var(--main-color-083); /* focused/selected menu item label bg*/


/* MDI Tab-Page Form Container */
--cnt-mdi-tab-handle-container-area-bg: var(--main-color-073); /*rgb(58, 89, 126);  */
--cnt-mdi-tab-handle-outer-area-bg: var(--main-color-071b); /*rgb(58, 89, 126);  */
--cnt-mdi-tab-handle-selected-color-fg: var(--main-label-rev-color-fg); 
--cnt-mdi-tab-handle-selected-color-bg: var(--main-color-073); /*rgb(58, 89, 126);  */
--cnt-mdi-tab-handle-selected-border-color-bg: var(--main-color-001); /*rgb(58, 89, 126);  */
--cnt-mdi-tab-handle-not-selected-color-fg: var(--main-label-rev-color-fg);  
--cnt-mdi-tab-handle-not-selected-color-bg: var(--main-color-081); /*rgba(58, 89, 126,.75); */

--cnt-mdi-tab-handle-not-selected-border-color-bg: var(--main-color-079); /*rgb(58, 89, 126);  */
--cnt-mdi-tab-handle-hover-color-fg: var(--main-label-rev-color-fg); /* let's keep it the same  */
--cnt-mdi-tab-handle-hover-color-bg: transparent; /*var(--main-button-hover-color-bg);*/
--cnt-mdi-tab-handle-not-selected-bg-color: rgba(58, 89, 126,.75);  /* seems, it's currently not used/assigned */



/* Toolbar */
--toolbar-fg-color: var(--main-color-001); 
--toolbar-bg-color: var(--main-color-073); 
--toolbar-button-fg-color: var(--main-button-on-dabg-color-fg);
--toolbar-button-bg-color: var(--main-button-on-dabg-color-bg); 
--toolbar-button-border-color: var(--main-button-on-dabg-border-color); 
--toolbar-button-hover-fg-color: var(--main-button-on-dabg-hover-color-fg);
--toolbar-button-hover-bg-color: var(--main-button-on-dabg-hover-color-bg);
--toolbar-button-border-hover-color: var(--main-button-on-dabg-hover-border-color); 

--cnt_titlebar-fg-color: pink;
--cnt_titlebar-bg-color: blue;
--cnt-color-fg: pink;
--cnt-color-bg: blue;
--cnt-color-border-light-fg: rgb(170, 170, 170); /*used*/
--cnt-color-border-medium-fg: #3a597e; /*used*/
--cnt-color-border-strong-fg: rgb(204,0,0); 





/* RootContainer colors */

--root-cnt-titlebar-color-fg: pink; /*currently not used ? */
--root-cnt-titlebar-color-bg: blue; /*currently not used ? */ 
--root-cnt-header-color-fg: var(--main-color-001); /*white; */
--root-cnt-header-color-bg: var(--main-color-073); /*#3a597e;*/
--root-cnt-color-fg: pink; /*currently not used ? */
--root-cnt-color-bg: blue; /*currently not used ? */
--root-cnt-footer-color-fg: var(--main-color-001); /*white; */
--root-cnt-footer-color-bg: var(--main-color-073); /*#3a597e;*/


/* Tab Page Container */
--cnt-tab-handle-container-area-bg: var(--main-color-073); /*rgb(58, 89, 126);  */
--cnt-tab-handle-not-selected-color-bg: var(--main-color-074);
--cnt-tab-handle-selected-color-bg: var(--main-color-072); /* rgb(32, 53, 94);  */
--cnt-tab-handle-area-color-bg: var(--main-color-073); /* #3a597e; */
--cnt-tab-handle-area-hover-bg-color: var(--main-button-hover-color-bg);

/* Label */
--label-fg-color: var(--fgl-color-default); /* #3a597e; */   /*default label color */
--label-rev-color-fg: var(--main-color-001); /*white;*/
--label-rev-color-bg: var(--main-color-073); /*#3a597e; */
--label-comment-color-fg: grey;

/*TextField */
--tf-label-disabled-color-fg: #3a597e;
--tf-label-enabled-color-fg: #3a597e;
--tf-label-rev-color-fg: white; /*currently not used ? */
--tf-label-rev-color-bg: #3a597e; /*currently not used ? */
--tf-label-comment-color-fg: grey; /*currently not used ? */
--tf-border-color: var(--main-color-082);
--tf-border-focus-color: var(--main-color-083); /*currently not used ? */
--tf-border-hover-color: var(--main-color-083);
--tf-font: var(--qx-textfield-font);
/* Spinner */
--sp-disabled-color-fg: var(--main-textfield-disabled-color-fg);
--sp-disabled-color-bg: var(--main-textfield-disabled-color-bg);
--sp-enabled-color-fg: var(--main-textfield-enabled-color-fg);
--sp-enabled-color-bg: var(--main-textfield-enabled-color-bg);
--sp-focus-color-fg: var(--main-textfield-focus-color-fg);
--sp-focus-color-bg: var(--main-textfield-focus-color-bg);
--sp-hover-color-fg: var(--main-textfield-hover-color-fg);
--sp-hover-color-bg: var(--main-textfield-hover-color-bg);
--sp-disabled-border-color: var(--main-disabled-border-color);
--sp-enabled-border-color: var(--main-enabled-border-color);
--sp-focus-border-color: var(--main-focus-border-color);
--sp-hover-border-color: var(--main-hover-border-color);

/* Radiogroup Radiobutton */
--rb-font: var(--qx-data-widget-label-font);
--rb-disabled-color-fg: var(--main-textfield-disabled-color-fg);
--rb-disabled-color-bg: var(--main-textfield-disabled-color-bg);
--rb-enabled-color-fg: var(--main-textfield-enabled-color-fg);
--rb-enabled-color-bg: var(--main-textfield-enabled-color-bg);
--rb-focus-color-fg: var(--main-textfield-focus-color-fg);
--rb-focus-color-bg: var(--main-textfield-focus-color-bg);
--rb-hover-color-fg: var(--main-textfield-hover-color-fg);
--rb-hover-color-bg: var(--main-textfield-hover-color-bg);
--rb-disabled-border-color: var(--main-disabled-border-color);
--rb-enabled-border-color: var(--main-enabled-border-color);
--rb-focus-border-color: var(--main-focus-border-color);
--rb-hover-border-color: var(--main-hover-border-color);

/* Checkbox */
--chb-font: var(--qx-data-widget-label-font);
--chb-disabled-color-fg: var(--main-textfield-disabled-color-fg);
--chb-disabled-color-bg: var(--main-textfield-disabled-color-bg);
--chb-enabled-color-fg: var(--main-textfield-enabled-color-fg);
--chb-enabled-color-bg: var(--main-textfield-enabled-color-bg);
--chb-focus-color-fg: var(--main-textfield-focus-color-fg);
--chb-focus-color-bg: var(--main-textfield-focus-color-bg);
--chb-hover-color-fg: var(--main-textfield-hover-color-fg);
--chb-hover-color-bg: var(--main-textfield-hover-color-bg);
--chb-disabled-border-color: var(--main-disabled-border-color);
--chb-enabled-border-color: var(--main-enabled-border-color);
--chb-focus-border-color: var(--main-focus-border-color);
--chb-hover-border-color: var(--main-hover-border-color);

/* TimeEdit Field */
--te-text-disabled-color-fg: var(--main-textfield-disabled-color-fg);
--te-text-disabled-color-bg: var(--main-textfield-disabled-color-bg);
--te-text-enabled-color-fg: var(--main-textfield-enabled-color-fg);
--te-text-enabled-color-bg: var(--main-textfield-enabled-color-bg);
--te-text-focus-color-fg: var(--main-textfield-focus-color-fg);
--te-text-focus-color-bg: var(--main-textfield-focus-color-bg);
--te-text-hover-color-fg: var(--main-textfield-hover-color-fg);
--te-text-hover-color-bg: var(--main-textfield-hover-color-bg);
--te-disabled-border-color: var(--main-disabled-border-color);
--te-enabled-border-color: var(--main-enabled-border-color);
--te-focus-border-color: var(--main-focus-border-color);
--te-hover-border-color: var(--main-hover-border-color);

/* FunctionField */
--ff-disabled-color-fg: var(--main-textfield-disabled-color-fg);
--ff-disabled-color-bg: var(--main-textfield-disabled-color-bg);
--ff-enabled-color-fg: var(--main-textfield-enabled-color-fg);
--ff-enabled-color-bg: var(--main-textfield-enabled-color-bg);
--ff-focus-color-fg: var(--main-textfield-focus-color-fg);
--ff-focus-color-bg: var(--main-textfield-focus-color-bg);
--ff-hover-color-fg: var(--main-textfield-hover-color-fg);
--ff-hover-color-bg: var(--main-textfield-hover-color-bg);
--ff-disabled-border-color: var(--main-disabled-border-color);
--ff-enabled-border-color: var(--main-enabled-border-color);
--ff-focus-border-color: var(--main-focus-border-color);
--ff-hover-border-color: var(--main-hover-border-color);

/* listbox */
--lbox-disabled-color-bg: var(--main-list-disabled-color-bg);
--lbox-enabled-color-bg: var(--main-list-enabled-color-bg);
--lbox-focus-color-bg: var(--main-list-focus-color-bg);
--lbox-hover-color-bg: var(--main-list-hover-color-bg);

--lbox-disabled-border-color: var(--main-disabled-border-color);
--lbox-enabled-border-color: var(--main-enabled-border-color);
--lbox-focus-border-color: var(--main-focus-border-color);
--lbox-hover-border-color: var(--main-hover-border-color);

--lbox-item-disabled-color-fg: var(--main-list-item-disabled-color-fg);
--lbox-item-enabled-color-fg: var(--main-list-item-enabled-color-fg);
--lbox-item-focus-color-fg: var(--main-list-item-focus-color-fg);
--lbox-item-hover-color-fg: var(--main-list-item-hover-color-fg);


/* button */
--btf-disabled-color-fg: var(--main-button-on-brbg-disabled-color-fg);
--btf-disabled-color-bg: var(--main-button-on-brbg-disabled-color-bg);
--btf-disabled-border-color: var(--main-button-on-brbg-disabled-border-color);

--btf-enabled-color-fg: var(--main-button-on-brbg-enabled-color-fg);
--btf-enabled-color-bg: var(--main-button-on-brbg-enabled-color-bg);
--btf-enabled-border-color: var(--main-button-on-brbg-enabled-border-color);

--btf-focus-color-fg: var(--main-button-on-brbg-focus-color-fg);
--btf-focus-color-bg: var(--main-button-on-brbg-focus-color-bg);
--btf-focus-border-color: var(--main-button-on-brbg-focus-border-color);

--btf-hover-color-fg: var(--main-button-on-brbg-hover-color-fg);
--btf-hover-color-bg: var(--main-button-on-brbg-hover-color-bg);
--btf-hover-border-color: var(--main-button-on-brbg-hover-border-color);

--btf-font: var(--qx-widget-button-font);


/* Legacy css from 2018 */
--bt-color-fg: var(--main-button-color-fg); 
--bt-color-bg: var(--main-button-color-bg); 
--bt-border-color: var(--main-button-border-color);


--main-list-disabled-color-bg: var(--main-color-000);
--main-list-enabled-color-bg: var(--main-color-085);    
--main-list-focus-color-bg: var(--main-color-085);
--main-list-hover-color-bg: var(--main-color-085);  
--main-list-item-disabled-color-fg: var(--main-color-070);
--main-list-item-disabled-color-bg: transparent;
--main-list-item-enabled-color-fg: var(--main-color-075);
--main-list-item-enabled-color-bg: transparent;
--main-list-item-focus-color-fg:  var(--main-color-080);
--main-list-item-focus-color-bg:  transparent;
--main-list-item-hover-color-fg:  var(--main-color-085);
--main-list-item-hover-color-bg: transparent;




/* data widget labels i.e. radio button, checkBox*/
--data-widget-label-enabled-color-fg: var(--main-label-enabled-color-fg);
--data-widget-label-disabled-color-fg:var(--main-label-disabled-color-fg);
--data-widget-label-focus-color-fg: var(--main-label-focus-color-fg);


--main-label-disabled-color-fg: var(--main-color-073);

/* what title bar is this for - dialog window ?*/
--titlebar-bg-color: yellow; /*currently not used ? */
--titlebar-fg-color: orange; /*currently not used ? */



/* GroupBox container */
--cnt-gb-color-fg: yellow; /*currently not used ? */
--cnt-gb-color-bg: var(--main-color-001); /*white;*/
--cnt-gb-titlebar-color-fg: var(--main-color-001); /*white;*/
--cnt-gb-titlebar-color-bg: var(--main-color-073); /*#3a597e; */

/* Table container display/input array */
--cnt-tb-header-color-fg: var(--main-color-001); 
--cnt-tb-header-color-bg: var(--main-color-073); 
--cnt-tb-curr-row-color-fg: white; /*currently not used ? */
--cnt-tb-curr-row-color-bg: var(--main-color-076); 
--cnt-tb-row-odd-color-fg: rgba(137,210,255, 0.2);  /*currently not used ? */
--cnt-tb-row-even-color-bg: rgba(137,210,255, 0.2); 
--cnt-tb-curr-row-inp-field-color-fg: var(--main-color-076); 
--cnt-tb-curr-row-inp-field-color-bg: var(--main-color-001); 
--cnt-tb-conditional-row-color-fg: var(--main-color-301);
--cnt-tb-conditional-row-color-bg: var(--main-color-302);
--cnt-tb-conditional-current-row-color-fg: var(--main-color-303);
--cnt-tb-conditional-current-row-color-bg: var(--main-color-304);
 


/* Dialog Boxes */
--dialog-box-color-fg: pink;
--dialog-box-color-bg: var(--main-color-bg);
--dialog-box-titlebar-color-fg: var(--main-panel-color-fg);
--dialog-box-titlebar-color-bg: var(--main-panel-color-bg);
--dialog-box-message-color-fg: var(--main-label-color-fg);
--dialog-box-message-color-bg: transparent;
--dialog-box-button-color-fg: var(--main-dialog-button-color-fg);
--dialog-box-button-color-bg: var(--main-dialog-button-color-bg);
--dialog-box-button-focus-color-fg: var(--main-dialog-button-color-fg);
--dialog-box-button-focus-color-bg: var(--main-dialog-button-focus-color-bg);



/* default fgl attribute colours */
--fgl-color-default: var(--main-color-073); 
--fgl-color-default-fg: var(--main-color-073); 
--fgl-color-default-bg: rgba(203, 215, 231,1); 


--main-label-rev-color-fg: var(--main-color-000);
--main-label-rev-color-bg: var(--main-color-073);

--fgl-label-color-default-enabled-fg: var(--main-label-color-fg);  
--fgl-label-color-default-enabled-bg: var(--main-label-color-bg) ;
--fgl-label-color-default-disabled-fg: var(--main-label-color-fg); /*we make form lables always shown the same*/
--fgl-label-color-default-disabled-bg: var(--main-label-color-bg) ;

--fgl-field-color-default-enabled-fg: var(--main-textfield-enabled-color-fg);
--fgl-field-color-default-enabled-bg: var(--main-textfield-enabled-color-bg); 
--fgl-field-color-default-disabled-fg: var(--main-textfield-disabled-color-fg); 
--fgl-field-color-default-disabled-bg: var(--main-textfield-disabled-color-bg);


/* REVERSED */
--fgl-label-color-default-rev-enabled-fg: var(--main-label-rev-color-fg);
--fgl-label-color-default-rev-enabled-bg: var(--main-label-rev-color-bg);
--fgl-label-color-default-rev-disabled-fg: var(--main-label-rev-color-fg);  
--fgl-label-color-default-rev-disabled-bg: var(--main-label-rev-color-bg);

--fgl-field-color-default-rev-enabled-fg: var(--main-textfield-enabled-color-fg); 
--fgl-field-color-default-rev-enabled-bg: var(--main-textfield-enabled-color-bg); 
--fgl-field-color-default-rev-disabled-fg: var(--main-textfield-disabled-color-fg); 
--fgl-field-color-default-rev-disabled-bg: var(--main-textfield-disabled-color-bg);

--fgl-color-black: black;
--fgl-color-black-fg: black;
--fgl-color-black-bg: rgba(217, 217, 217,1);

--fgl-color-white: white;
--fgl-color-white-fg: white;
--fgl-color-white-bg: rgba(89, 89, 89,1);

--fgl-color-green: rgb(51, 153, 51);
--fgl-color-green-fg: rgb(51, 153, 51);
--fgl-color-green-bg: rgba(214, 245, 214,1);

--fgl-color-red: rgb(204,0,0);
--fgl-color-red-fg: rgb(204,0,0);
--fgl-color-red-bg: rgba(255, 204, 204,1);

--fgl-color-blue: rgb(58, 89, 126); 
--fgl-color-blue-fg: rgb(58, 89, 126); 
--fgl-color-blue-bg: rgba(203, 215, 231,1); 

--fgl-color-cyan: rgb(51,204,255);
--fgl-color-cyan-fg: rgb(51,204,255);
--fgl-color-cyan-bg: rgba(179, 236, 255,1);

--fgl-color-yellow: rgb(255, 204, 0);
--fgl-color-yellow-fg: rgb(255,204,0);
--fgl-color-yellow-bg: rgba(255,240,179,1);

--fgl-color-magenta: rgb(191,0,255);
--fgl-color-magenta-fg: rgb(191,0,255);
--fgl-color-magenta-bg: rgba(236, 179, 255,1);

/* default fgl colours with REVERSED*/

--fgl-color-black-rev-fg: white;
--fgl-color-black-rev-bg: black;

--fgl-color-white-rev-fg: black;
--fgl-color-white-rev-bg: white;

--fgl-color-green-rev-fg: white;
--fgl-color-green-rev-bg: rgb(51, 153, 51);

--fgl-color-red-rev-fg: white;
--fgl-color-red-rev-bg: rgb(204,0,0);

--fgl-color-blue-rev-fg: white;
--fgl-color-blue-rev-bg: rgb(58, 89, 126);

--fgl-color-yellow-rev-fg: white;
--fgl-color-yellow-rev-bg: rgb(255, 204, 0);

--fgl-color-cyan-rev-fg: white;
--fgl-color-cyan-rev-bg: rgb(51,204,255);

--fgl-color-magenta-rev-fg: white;
--fgl-color-magenta-rev-bg: rgb(191,0,255);

/* default fgl DIM colours */
/*--fgl-color-dim-bg-label: rgba(225,225,225,0.3);*/
--fgl-color-dim-bg-label: transparent;
--fgl-color-default-dim-fg: rgb(40, 61, 87);
--fgl-color-default-dim-bg: transparent;
--fgl-color-black-dim-fg: rgb(100,100,100);
--fgl-color-black-dim-bg: transparent;
--fgl-color-white-dim-fg: rgb(150,150,150);
--fgl-color-white-dim-bg: transparent;
--fgl-color-green-dim-fg: rgb(38, 115, 38);
--fgl-color-green-dim-bg: transparent;
--fgl-color-red-dim-fg: rgb(153,0,0);
--fgl-color-red-dim-bg: transparent;
--fgl-color-blue-dim-fg: rgb(40, 61, 87);
--fgl-color-blue-dim-bg: transparent;
--fgl-color-yellow-dim-fg: rgb(255, 153, 0); 
--fgl-color-yellow-dim-bg: transparent;
--fgl-color-cyan-dim-fg: rgb(0,115,153);
--fgl-color-cyan-dim-bg: transparent;
--fgl-color-magenta-dim-fg: rgb(115, 0, 153);
--fgl-color-magenta-dim-bg: transparent;

/* default fgl BLINK colours */
/*--fgl-color-blink-bg-label: rgba(235,235,100,0.3);*/
--fgl-color-blink-bg-label: transparent;
--fgl-color-default-blink-fg: rgb(98, 136, 183);
--fgl-color-black-blink-fg: rgb(100,100,100);
--fgl-color-white-blink-fg: rgb(150,150,150);
--fgl-color-green-blink-fg: rgb(64, 191, 64);
--fgl-color-red-blink-fg: rgb(255,102,102);
--fgl-color-blue-blink-fg: rgb(98, 136, 183);
--fgl-color-yellow-blink-fg: rgb(255, 255, 0);
--fgl-color-cyan-blink-fg: rgb(102,217,255);
--fgl-color-magenta-blink-fg: rgb(217, 102, 255);
}

.qx-aum-label .qx-text
{
 font: var(--qx-field-label-font);
 color: var(--label-fg-color);
}
.qx-aum-text-field.qx-text-field .qx-text,
.qx-text-field.qx-aum-text-area,
.qx-aum-calendar,
.qx-aum-time-edit-field,
.qx-text-field.qx-aum-combo-box.qx-has-text .qx-text
{
 font: var(--qx-textfield-font); 
}
.qx-table-row .qx-table-cell.qx-content
{
    font-size: var(--qx-display-array-font) !important;
}
.qx-table-row.qx-selected .qx-table-cell.qx-content,
.qx-table-row.qx-selected .qx-table-cell.qx-content .qx-ff-text.qx-focus-element .qx-text-field .qx-text
{
    font-size: var(--qx-display-array-font) !important;
}


