@import url("hcl-fonts.css");
html.qx-material-design:root {
  --qx-drawer-background: #004FB6;
  --qx-drawer-chip-bkg: #0040B0;
  --qx-drawer-child-row-background: #0057A2;
  --qx-appbar-background: #FFD900;
  --qx-appbar-text-color: #00359D;
  --qx-fscreen-tbutton-fill-nrm: var(--qx-appbar-text-color);

  /*Table header colors*/
  --cnt-tb-header-color-bg: var(--qx-drawer-background);
  --md-table-header-bkg: var(--qx-drawer-background);
  --md-table-header-frg: var(--qx-appbar-background);
  
  /*Table selection colors*/
  --qx-table-selection-bkg: var(--qx-appbar-background);
  --qx-table-selection-frg: var(--qx-appbar-text-color);

  /* From public styles */
  --fgl-color-default-fg: rgba(058,089,126,1.00); 
}
.qx-md-chip.qx-md-all-apps {
  background-color: var(--qx-drawer-chip-bkg);
}
.qx-vdom .qx-messages-popup {
  background-color: #44C0FF;
  color: #F9F9F9;
}
.qx-vdom .qx-messages-popup.qx-messages-popup-error {
  background-color: #B10101;
  color: #F9F9F9;
}
.qx-ring-area .qx-text {
  font-weight: bold;
  font-size: larger;
}
.md-tf.md-tf-short .md-input {
  font-weight: bold;
}
.md-tf.md-tf-short.qx-inactive > .md-text-container,
.md-tf.md-tf-short.qx-inactive > .md-text-container::before,
.md-tf.md-tf-short.qx-disabled > .md-text-container,
.md-tf.md-tf-short.qx-disabled > .md-text-container::before {
  border-color: transparent !important;
}
.md-tf.md-tf-short.qx-inactive:not(.qx-c-attribute_reverse),
.md-tf.md-tf-short.qx-disabled:not(.qx-c-attribute_reverse) {
  background-color: transparent !important;
}
.md-tf.md-tf-short[data-width="1qch"] > .md-text-container > .md-input {
  padding-left: 0;
  padding-right: 0;
}
.md-tf.md-tf-short[data-width="2qch"] > .md-text-container > .md-input {
  padding-right: 0;
}
.qx-layout > header > .qx-title {
  visibility: hidden;
}
.qx-layout > header.has-ring-menu > .qx-title {
  display: none;
}
.qx-layout > header.has-ring-menu > .qx-ring-area {
  margin-left: 0;
  padding-left: 0;
}
.qx-window-root {
  margin: 0 20px;
}
.qx-aum-window.qx-flat-window.qx-c-attribute_border {
  padding-top: 20px;
  border-radius: 3px;
}
.qx-identifier-vcnhlfdisp1page .md-tf.md-tf-short[style*="left: 0px"] > .md-text-container > .md-input,
.qx-identifier-vcnhlfdisp1page .md-tf.md-tf-short[style*="left: 320px"] > .md-text-container > .md-input {
  padding-left: 8px;
  padding-right: 0;
  font-size: 13.33px;
}
.qx-identifier-vcnhlfdisp1page .md-tf.md-tf-short[style*="left: 0px"] > .md-text-container::before,
.qx-identifier-vcnhlfdisp1page .md-tf.md-tf-short[style*="left: 320px"] > .md-text-container::before {
  content: none;
}
.md-tf.md-tf-short {
  padding: 2px 0 0 0 !important;
}
.md-tf.md-tf-short > .md-text-container {
  border-left-width: 1px;
  border-left-style: solid;
}
.md-tf.md-tf-short > .md-text-container::before {
  content: none;
}
.qx-table-cell.qx-c-attribute_reverse, 
.qx-table-row.qx-c-attribute_reverse, 
.qx-aum.qx-c-attribute_reverse:not(.qx-c-nativestyle) {
  background-color: var(--qx-appbar-text-color);
  color: var(--qx-appbar-background);
  --md-tf-enabled-hover-input-text: var(--qx-appbar-background);
}
/*Actual style, allowing to make clipped text visible*/
.qx-aum-label .qx-text-wrapper {
  overflow: visible;
}
.qx-element-role-ringmenu {
  text-transform: none;
}
.md-tf[data-width="1qch"] .md-input,
.md-tf[data-width="2qch"] .md-input,
.md-tf[data-width="3qch"] .md-input,
.md-tf[data-width="4qch"] .md-input,
.md-tf[data-width="5qch"] .md-input {
  padding-left: 0 !important;
  padding-right: 0 !important;
} 

.qx-material-design .qx-aum.qx-aum-grid-panel.qx-aum-items-container.qx-aum-abstract-container.qx-c-fcls_title_cnt>.qx-aum-label .qx-text, 
.qx-material-design .qx-aum.qx-c-fcls_statusbar_cnt, 
.qx-material-design .qx-aum.qx-c-fcls_title_lb {
  color: #3A597E;
  color: var(--fgl-color-default-fg);
}

/* BEGIN CHANGES DESCRIBED IN https://querix.atlassian.net/browse/HCL-13 */

/*HCL StandUp 2021-04-16 #1 - size of the table header labels = size of the table cells*/
.fcls_font_terminal_label .qx-text {
  font: var(--qx-textfield-font);
}

/*BEGIN HCL StandUp 2021-04-16 #2 + 6 - selected row highlight + selection color scheme + table header color scheme*/
/*.qx-table-row.qx-selected,*/
.qx-material-design .fcls_table_header,
.qx-material-design .qx-identifier-col_heads {
  background-color: var(--cnt-tb-header-color-bg) !important;
}
/*.qx-table-row.qx-selected,*/
.qx-material-design .fcls_table_header .qx-text,
.qx-identifier-col_heads .qx-text {
  color: var(--md-table-header-frg) !important;
}
.qx-table-row.qx-selected svg[data-checkbox] {
  fill: var(--cnt-tb-header-color-bg) !important;
 /* fill: var(--md-table-header-frg) !important;*/
}

.qx-table-row.qx-selected,
.qx-identifier-array_data.qx-c-attribute_reverse.fcls_font_terminal_input,
tr.qx-table-row > td.qx-table-cell.qx-c-activefield.qx-content.qx-c-attribute_reverse {
  background-color: var(--qx-table-selection-bkg) !important;
  color: var(--qx-table-selection-frg) !important;
}

tr.qx-table-row > td.qx-table-cell.qx-c-activefield.qx-content {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 2px !important;
}
/*END HCL StandUp 2021-04-16 #2 + 6 - selected row highlight + selection color scheme + table header color scheme*/

/*HCL StandUp 2021-04-16 #3 - hide form name*/
.fcls_title_form_name {
  display: none;
}

/*HCL StandUp 2021-04-16 #4 - small(2qch) text fields fix */
.md-tf.md-tf-short > .md-text-container > .md-input,
.md-tf.md-tf-short.hide-controls > .md-text-container > .md-input {
  padding-left: 0;
  margin-left: 6px;
}

/*HCL StandUp 2021-04-16 #7 - make all text fields proportional, except fcls_font_terminal_input */
/*NOT SURE ABOUT .fcls_font_terminal_label - @a.chubar, please comment the next line if appropriate */
.qx-aum.fcls_font_terminal_label .qx-text,
.qx-aum.fcls_font_terminal_input .qx-text {
  font: 13px 'Source Code Pro', monospace !important;
  margin-left: 6px !important;
}

.qx-table-cell,
.qx-aum .qx-text-with-icon, 
.qx-aum .qx-text {
  font-family: 'Source Sans Pro', sans-serif !important;
}
/* END CHANGES DESCRIBED IN https://querix.atlassian.net/browse/HCL-13 */

.qx-identifier-lb_display_at,
.fcls_title_lb {
  transform: scale(1.1);
  transform-origin: left;
  text-shadow: 0 0 black;
  margin: 0 !important;
  padding: 0 !important;
}

.qx-identifier-lb_display_at {
  font-weight: normal;
  align-items: start;
  font-size: 11px;
}

.qx-single-row {
  min-height: 22px;
}

.qx-table-cell > .qx-bool-widget > .wrapper {
  margin: 0 !important;
}

.md-tf.md-active.qx-readonly {
  background-color: #fff;
}