/*BEGIN button_library.css*/
.qx-jquery-ui {
  /* Note: Common properties for all image buttons incl size*/
  .qx-aum-button .ui-button {
    border: none;
  }

  .qx-c-fcls_button_search.qx-aum-button .qx-text-with-icon,
  .qx-c-fcls_button_lookup.qx-aum-button .qx-text-with-icon,
  .qx-c-fcls_button_remove.qx-aum-button .qx-text-with-icon,
  .qx-c-fcls_button_delete.qx-aum-button .qx-text-with-icon,
  .qx-c-fcls_button_edit.qx-aum-button .qx-text-with-icon,
  .qx-c-fcls_button_add.qx-aum-button .qx-text-with-icon,
  .qx-c-fcls_button_attach.qx-aum-button .qx-text-with-icon,
  .qx-c-fcls_button_done.qx-aum-button .qx-text-with-icon,
  .qx-c-fcls_button_cancel.qx-aum-button.ui-button-text .qx-text-with-icon,
  .qx-c-fcls_button_clear.qx-aum-button.ui-button-text .qx-text-with-icon,
  .qx-c-fcls_button_clear.qx-aum-button .qx-text-with-icon,
  .qx-c-fcls_button_filter.qx-aum-button .qx-text-with-icon,
  .qx-c-fcls_button_help.qx-aum-button.ui-button-text .qx-text-with-icon,
  .qx-c-fcls_button_left.qx-aum-button .qx-text-with-icon,
  .qx-c-fcls_button_right.qx-aum-button .qx-text-with-icon,
  .qx-c-fcls_button_left_move.qx-aum-button .qx-text-with-icon,
  .qx-c-fcls_button_right_move.qx-aum-button .qx-text-with-icon {
    color: white;
    background-color: rgb(58, 89, 126);
    width: 100%;
    height: auto;
    min-width: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
  }

  /*Search Button*/
  .qx-c-fcls_button_search.qx-aum-button .ui-button-text .qx-text-with-icon {
    background-image: url(/public/querix/icon/svg/24/ic_search_24px.svg);
  }
  /*Lookup Button*/
  /*enabled*/
  .qx-c-fcls_button_lookup.qx-aum-button .ui-button-text .qx-text-with-icon {
    background-image: url(/public/querix/icon/svg/24/ic_search_24px.svg);
  }
  /*disabled*/
  .qx-c-fcls_button_lookup.qx-aum-button .ui-button.ui-widget.ui-state-default.ui-button-disabled.ui-state-disabled .qx-text-with-icon {
    background-image: url(/public/querix/icon/svg/24/ic_search_24px.svg);
  }
  /*Remove Button*/
  .qx-c-fcls_button_remove.qx-aum-button .ui-button-text .qx-text-with-icon {
    background-image: url(/public/querix/icon/svg/24/ic_remove_24px.svg);
  }
  /*Delete Button*/
  .qx-c-fcls_button_delete.qx-aum-button .ui-button-text .qx-text-with-icon {
    background-image: url(/public/querix/icon/svg/24/ic_remove_24px.svg);
  }
  /*Add Button*/
  .qx-c-fcls_button_add.qx-aum-button .ui-button-text .qx-text-with-icon {
    background-image: url(/public/querix/icon/svg/24/ic_add_24px.svg);
  }
  /*Attach Button*/
  .qx-c-fcls_button_attach.qx-aum-button .ui-button-text .qx-text-with-icon {
    background-image: url(/public/querix/icon/svg/24/ic_attach_file_24px.svg);
  }
  /*Edit Button*/
  .qx-c-fcls_button_edit.qx-aum-button .ui-button-text .qx-text-with-icon {
    background-image: url(/public/querix/icon/svg/24/ic_create_24px.svg);
  }
  /*DONE (accept) Button*/
  .qx-c-fcls_button_done .qx-text-with-icon {
    background-image: url(/public/querix/icon/svg/24/ic_done_24px.svg);
  }
  /*CANCEL Button*/
  .qx-c-fcls_button_cancel.qx-aum-button .ui-button-text .qx-text-with-icon {
    background-image: url(/public/querix/icon/svg/24/ic_cancel_24px.svg);
  }
  /*CLEAR Button*/
  .qx-c-fcls_button_clear.qx-aum-button .ui-button-text .qx-text-with-icon {
    background-image: url(/public/querix/icon/svg/24/ic_clear_24px.svg);
  }
  /*Filter Button*/
  .qx-c-fcls_button_filter.qx-aum-button .ui-button-text .qx-text-with-icon {
    background-image: url(/public/querix/icon/svg/24/ic_filter_list_24px.svg);
  }
  /*HELP Button*/
  .qx-c-fcls_button_help.qx-aum-button .ui-button-text .qx-text-with-icon {
    background-image: url(/public/querix/icon/svg/24/ic_help_outline_24px.svg);
  }
  /*LEFT ARROW Button*/
  .qx-c-fcls_button_left.qx-aum-button .ui-button-text .qx-text-with-icon {
    background-image: url(/public/querix/icon/svg/24/ic_arrow_back_24px.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  /*RIGHT ARROW Button*/
  .qx-c-fcls_button_right.qx-aum-button .ui-button-text .qx-text-with-icon {
    background-image: url(/public/querix/icon/svg/24/ic_arrow_forward_24px.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  /*LEFT MOVE double ARROW Button*/
  .qx-c-fcls_button_left.qx-aum-button .ui-button-text .qx-text-with-icon {
    background-image: url(/public/querix/icon/svg/24/ic_arrow_back_24px.svg);
  }
  /*RIGHT MOVE double ARROW Button*/
  .qx-c-fcls_button_right.qx-aum-button .ui-button-text .qx-text-with-icon {
    background-image: url(/public/querix/icon/svg/24/ic_arrow_forward_24px.svg);
  }
  /*hide image when inactive*/
  .qx-inactive.ui-state-disabled.qx-aum.qx-aum-button.qx-c-fcls_button_lookup .ui-button-text .qx-text-with-icon {
    background-image: none;
  }
}
/*END button_library.css*/
