/*BEGIN color_default.css*/
%disabled_color {
  color: var(--fgl-color-blue);
  background-color: transparent;
  opacity: 1;
}
%disabled_reverse_color {
  color: var(--fgl-color-blue-rev-fg);
  background-color: var(--fgl-color-blue-rev-bg);
  opacity: 1;
}
%disabled_dim_color {
  color: var(--fgl-color-default-dim-fg);
  background-color: var(--fgl-color-default-dim-bg);
  opacity: 1;
}
%disabled_blink_color {
  color: var(--fgl-color-default-blink-fg);
  background-color: var(--fgl-color-default-blink-bg);
  opacity: 1;
}

/* CSS is used for label/text properties                    */
/*DEFAULT Label color*/
/*4gl color default (no attribute(color)) huho: 03.11.2018 */
.qx-aum-label .qx-text {
  color: var(--fgl-color-default-fg);
}
/* 4gl color ATTRIBUTE(REVERSE) */
.qx-c-attribute_reverse.qx-aum-label .qx-text {
  color: var(--fgl-color-default-rev-fg);
  background-color: var(--fgl-color-default-rev-bg);
}
.qx-c-attribute_reverse.qx-aum-label {
  color: var(--fgl-color-default-dim);
  background-color: var(--fgl-color-default-rev-bg);
}
/* 4gl color ATTRIBUTE(DIM) */
.qx-c-attribute_dim.qx-aum-label .qx-text {
  color: var(--fgl-color-default-dim-fg);
  background-color: transparent;
}
.qx-c-attribute_dim.qx-aum-label {
  color: var(--fgl-color-default-dim-bg);
  background-color: var(--fgl-color-default-dim-bg);
}
/*4gl color ATTRIBUTE(BLINK) */
.qx-c-attribute_blink.qx-aum-label .qx-text {
  color: var(--fgl-color-default-blink-fg);
  background-color: transparent;
}
/*parent background-color*/
.qx-c-attribute_blink.qx-aum-label {
  background-color: var(--fgl-color-blink-bg-label);
}
/*4gl color ATTRIBUTE(UNDERLINE) */
.qx-c-attribute_underline.qx-aum-label .qx-text {
  color: var(--fgl-color-default-fg);
}

.qx-inactive.ui-state-disabled {
  &.qx-aum-calendar, &.qx-aum-calendar *,
  &.qx-aum-function-field-abs .qx-ff-text, &.qx-aum-function-field-abs .qx-ff-text *,
  &.qx-aum-spinner, &.qx-aum-spinner .qx-text,
  &.qx-aum-text-field, &.qx-aum-text-field *,
  &.qx-aum-text-area, &.qx-aum-text-area *,
  &.qx-aum-time-edit-field, &.qx-aum-time-edit-field *,
  &.qx-aum-combo-box, &.qx-aum-combo-box .qx-text.qx-text-edit.qx-focus-target {
    @extend %disabled_color;
  }
}
.qx-aum-browser {
  @extend %disabled_color;
}

.qx-inactive.ui-state-disabled.qx-c-attribute_reverse {
  &.qx-aum-calendar, &.qx-aum-calendar *,
  &.qx-aum-function-field-abs .qx-ff-text, &.qx-aum-function-field-abs .qx-ff-text *,
  &.qx-aum-spinner, &.qx-aum-spinner .qx-text,
  &.qx-aum-text-field, &.qx-aum-text-field *,
  &.qx-aum-text-area, &.qx-aum-text-area *,
  &.qx-aum-time-edit-field, &.qx-aum-time-edit-field *,
  &.qx-aum-combo-box, &.qx-aum-combo-box .qx-text.qx-text-edit.qx-focus-target {
    @extend %disabled_reverse_color;
  }
}
.qx-aum-browser.qx-c-attribute_reverse {
  @extend %disabled_reverse_color;
}

.qx-inactive.ui-state-disabled.qx-c-attribute_dim {
  &.qx-aum-calendar, &.qx-aum-calendar *,
  &.qx-aum-function-field-abs .qx-ff-text, &.qx-aum-function-field-abs .qx-ff-text *,
  &.qx-aum-spinner, &.qx-aum-spinner .qx-text,
  &.qx-aum-text-field, &.qx-aum-text-field *,
  &.qx-aum-text-area, &.qx-aum-text-area *,
  &.qx-aum-time-edit-field, &.qx-aum-time-edit-field *,
  &.qx-aum-combo-box, &.qx-aum-combo-box .qx-text.qx-text-edit.qx-focus-target {
    @extend %disabled_dim_color;
  }
}
.qx-aum-browser.qx-c-attribute_dim {
  @extend %disabled_dim_color;
}

.qx-inactive.ui-state-disabled.qx-c-attribute_blink {
  &.qx-aum-calendar, &.qx-aum-calendar *,
  &.qx-aum-function-field-abs .qx-ff-text, &.qx-aum-function-field-abs .qx-ff-text *,
  &.qx-aum-spinner, &.qx-aum-spinner .qx-text,
  &.qx-aum-text-field, &.qx-aum-text-field *,
  &.qx-aum-text-area, &.qx-aum-text-area *,
  &.qx-aum-time-edit-field, &.qx-aum-time-edit-field *,
  &.qx-aum-combo-box, &.qx-aum-combo-box .qx-text.qx-text-edit.qx-focus-target {
    @extend %disabled_blink_color;
  }
}
.qx-aum-browser.qx-c-attribute_blink {
  @extend %disabled_blink_color;
}

/*Table (Disp/Inp Array) */
/*normal color = NO 4gl ATTRIBUTE(color)*/
/*default*/
.qx-aum-some:not(.qx-c-nativestyle),
.qx-aum-some.qx-aum:not(.qx-c-nativestyle) * {
  color: var(--fgl-color-default-fg);
}

.qx-aum[data-md-widget]:not(.qx-c-nativestyle),
.qx-aum[data-md-widget]:not(.qx-c-nativestyle) {
  color: var(--fgl-color-default-fg);
}
/* Table ROW */
.qx-table.qx-aum-table.qx-aum-abstract-data-table .qx-aum-combo-box {
  padding-right: 0;
}
/*Was added to give the user some feedback on current row in INPUT ARRAY */
/*currently selected row */
/* field fg/bg color of he currently focused/input field in row*/
// .qx-aum-some.ui-row-ltr.qx-focusable.qx-table-row.qx-selected .qx-table-cell.qx-c-activefield.qx-aum-some.qx-aum-abstract-field.qx-has-text {
//   background-color: var(--cnt-tb-color-curr-row-inp-field-bg);
//   color: var(--cnt-tb-color-curr-row-inp-field-fg);
// }
/* Different colors for the alternate (even/odd) rows in a table container */
.qx-tbody .qx-table-row:nth-child(even) {
  background: var(--cnt_tb_row_even-bg-color);
}
.qx-c-activefield .qx-tbody .qx-table-row:nth-child(even) {
  background: var(--cnt_tb_row_even-bg-color);
}
/*label / text */
.qx-c-activefield .qx-tbody tr {
  color: var(--main-fg-color);
  background-color: var(--main-bg-color);
}
/* default background-color of table rows*/
.qx-tbody tr {
  background-color: transparent;
}  
/*END color_default.css*/
