/*BEGIN container.css*/

.qx-jquery-ui {
  .qx-aum-items-container.qx-aum-abstract-container {
    &.qx-c-fcls_detail_cnt {
      margin-top: 8px;
      margin-bottom: 8px;
    }  
    &.qx-c-fcls_container_margin {
      margin: 6px;
    }
    &.qx-c-fcls_container_padding {
      padding: 6px;
    }
  }
  .qx-content.qx-display-grid.qx-root.qx-aum.qx-c-classic.qx-o-aum-window,
  .qx-o-c-classic,
  .qx-o-c-classic:not(.qx-o-c-nativestyle) {
    background-color: var(--main-bg-color);
  }
  .qx-content.qx-display-grid.qx-root.qx-aum.qx-c-classic.qx-o-aum-window>.ui-widget-content .ui-state-highlight {
    border: 15px solid red;
    border-radius: 10px;
    color: red;
    background-color: red;
  }
  .qx-aum-coord-panel > .qx-aum {
    color: var(--tf-label-disabled_fg-color);
    background-color: var(--main-bg-color);
  }
  .qx-wrap.qx-ha-l > .qx-bound > * {
    align-self: stretch;
  }

  .qx-aum-group-box.qx-aum.qx-aum-group-box.qx-aum-element-container {
    background-color: var(--cnt_gb-bg-color);
    background-image: none;
    margin: 2px;
  }
  /*GroupBox Icon to fold/unfold HuHo 13.11.2018*/
  .qx-aum.qx-aum-group-box.qx-display-grid>label>.qx-icon::after {
    color: var(--cnt_gb-bg-color);
  }
  /*Only groupBoxes with the form class .qx-c-fcls_detail_gb_cnt*/
  /*TitleBar of the groupBoxes */
  .qx-c-fcls_detail_gb_cnt.qx-aum-group-box .qx-groupbox-header {
    background: var(--cnt_gb_titlebar-bg-color);
    background-image: none;
    color: var(--cnt_gb_titlebar-bg-color);
    padding: 2px;
  }
  /*GroupBox Header LABEL with form class fcls_detail_gb_cnt*/
  .qx-c-fcls_detail_gb_cnt .ui-accordion-header .qx-text {
    color: var(--cnt_gb_titlebar-fg-color)/* white;*/
  }
  /*StackPanel container*/
  .qx-aum-stack-panel {
    align-items: center;
  }
  /* up for removal - no idea what it does*/
  /*should it ever select, I want to see it to address this issue*/
  .qx-table-cell.qx-c-activefield.qx-aum.qx-aum-abstract-field.qx-content.qx-has-text.qx-c-attribute_reverse>.qx-text-with-icon.qx-vtal.qx-htal>.qx-text.qx-has-text {
    color: #cd0a0a;
    background-color: pink;
  }
  /* Outer margin/Padding for table container */
  .qx-table.qx-aum-table.qx-aum-abstract-data-table.qx-aum-abstract-container {
    margin: 2px;
    padding: 2px;
  }
  /* grid column header */
  .ui-widget-header {
    background: var(--cnt_tb_header-bg-color);
  }
  /* Note: gridHeader formats like padding need to be set for header and column data */
  .qx-aum-table-column.ui-widget-header>label {
    padding-left: 4px;
    padding-right: 4px;
    color: var(--cnt_tb_header-fg-color);
  }
  /* Table ROW */
  .qx-table.qx-aum-table.qx-aum-abstract-data-table .qx-aum-combo-box {
    padding-right: 0;
  }
  .qx-c-activefield .qx-tbody tr .qx-text.qx-has-text {
    font: normal 1rem "Roboto", "Calibri", "Helvetica Neue", Sans-Serif;
    color: magenta;
    background-color: yellow;
  }
  .qx-c-activefield .qx-tbody .qx-table-row.qx-c-highlight_str {
    background-color: var(--main-color-203);
  }
  /*Field Selection */
  .qx-c-activefield .qx-tbody .qx-table-row.qx-c-highlight_str .qx-text.qx-has-text {
    color: hsla(357, 100%, 24%, 1);
  }
  /*Table Column (Display Array / Input Array)*/
  /*Table column and gridHeader padding/margin/border */
  div.qx-aum-label.qx-aum.qx-aum-abstract-field.qx-c-nativestyle .qx-vtal {
    vertical-align: middle;
  }
  .qx-table td,
  .qx-table-cell .ui-state-active {
    border: none;
    font-size: 1rem;
  }
  .qx-aum-table-column {
    border-left: 1px solid #fff;
  }
  /*tableWidget container - HEADER row - i.e 5px top/bottom and 0px right/left*/
  .qx-aum-table-column .qx-text {
    margin: 5px 0px;
  }
  /*Tab Page Container (form container NOT MDI menu container)*/
  /*TabContainer unselected tab*/
  .qx-aum-tab.qx-display-grid> :first-child label {
    background-image: none;
    background-color: var(--cnt_tab_handle_not_selected-bg-color);
  }
  /*TabContainer unselected tab*/
  .qx-aum-tab.qx-display-grid> :first-child label:hover {
    background-image: none;
    background-color: var(--cnt_tab_handle_area-hover-bg-color);
  }
  /* Tab-Page Form Container */
  .qx-aum.qx-aum-tab.qx-aum-abstract-container .qx-tabcontrol-header.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header {
    color: red;
    background-color: var(--cnt-tab-handle-container-area-bg);
  }
  /*TabContainer selected tab*/
  .qx-aum-tab.qx-display-grid> :first-child [type="radio"]:checked+label {
    border: 1px solid #aaa;
    border-bottom: 0;
    background: var(--cnt_tab_handle_selected-bg-color);
    font-weight: 400;
    color: orange;
    cursor: default;
  }
  /* labels in the tabPage handles */
  .qx-has-text .ui-tabs-anchor .qx-text-with-icon .qx-text {
    justify-content: left;
    text-align: left;
    align-items: flex-start;
  }
  /* Background/Container of Tab Handles       */
  /*tabHandel area for form tabPage container AND MDI-container*/
  .ui-tabs-nav {
    min-width: 150px;
    color: white;
    background-color: var(--cnt_tab_handle_area-bg-color);
  }

  .qx-tabs-container.ui-tabs.ui-widget.ui-widget-content.ui-corner-all .qx-t-h.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header {
    color: pink;
    background-color: var(--cnt-mdi-tab-handle-container-area-bg);
  }
  /*Tab Handles*/
  .ui-tabs-nav .qx-text {
    min-width: 150px;
    color: white;
  }
  .qx-thead th > label {
    left: 0;
    right: 0;
  }
  .qx-table-row>td.qx-table-cell,
  .qx-thead-row>th.qx-aum-table-column.ui-widget-header {
    border: none;
    border-left: 1px solid transparent;
  }
  .qx-thead-row>th.qx-aum-table-column.ui-widget-header:nth-child(1),
  .qx-table-row>td.qx-table-cell:nth-child(1) {
    border-left: none;
  }
  .qx-thead-row>th.qx-aum-table-column.ui-widget-header>label,
  .qx-table-row>td.qx-table-cell {
    padding: 0 3px;
  }
  /* border for containers */
  .qx-c-fcls_container_border {
    border: 1px solid var(--cnt-color-border-medium-fg);
  }
  .qx-c-fcls_container_border_l1 {
    border: 1px solid var(--cnt-color-border-light-fg);
  }
  .qx-c-fcls_container_border_l2 {
    border: 2px solid var(--cnt-color-border-light-fg);
  }
  .qx-c-fcls_container_border_m1 {
    border: 1px solid var(--cnt-color-border-medium-fg);
  }
  .qx-c-fcls_container_border_m2 {
    border: 2px solid var(--cnt-color-border-medium-fg);
  }
  .qx-c-fcls_container_border_s1 {
    border: 1px solid var(--cnt-color-border-strong-fg);
  }
  .qx-c-fcls_container_border_s2 {
    border: 2px solid var(--cnt-color-border-strong-fg);
  }
}

.qx-material-design {
  .qx-aum-group-box.qx-aum.qx-aum-group-box.qx-aum-element-container {
    background-color: var(--cnt_gb-bg-color);
    background-image: none;
    margin: 2px;
  }
}

/*END container.css*/
