/*BEGIN form_class_selector-blue.css*/
$fcls_length: (
  "01": "66rem",
  "05": "4rem",
  "10": "8rem",
  "15": "12rem",
  "20": "16rem",
  "30": "24rem",
  "40": "32rem",
  "50": "40rem",
  "60": "48rem",
);

.qx-jquery-ui {
  #lbValueUserPicture {	
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  @each $key, $val in $fcls_length {
    .qx-c-fcls_length_#{$key} {
      width: #{$val};
    }
  }

  .ui-accordion-header {
    .qx-text {
      font-size: 1rem;
      color: #3a597e;
    }    
  }

  .qx-menu-group-header {
    border:none;
    background: transparent;
    border-radius: 0;
  }

  .qx-menu-group-header:hover,
  .qx-aum-menu-command:hover {
    background: var(--qx-menu-hover);
  }

  .qx-aum-menu-group .ui-widget-content,
  .ui-state-default.qx-aum-menu-item {
    background: transparent;
    border:none;
  }
  
  .qx-aum-menu-item .ui-state-default {
    font-weight: initial !important;
  }
}
/*END form_class_selector-blue.css*/
