/*BEGIN toolbar.css*/
.qx-jquery-ui {
  /*Toolbar container Area*/
  .qx-aum-toolbar.qx-c-lycia_actionstoolbar {
    border: 1px solid var(--toolbar-bg-color);   
    background: var(--toolbar-bg-color); /*rgb(58, 89, 126);    */
    margin: 2px;
    padding: 2px;
  }

  /*Toolbar Height - */
  .qx-top-toolbar-cell .qx-aum-toolbar, #qx-container-toolbars .qx-aum-toolbar {
    height: 60px;
  }

  /* ENABLED: toolbar button LABEL font*/
  .qx-aum-toolbar-button {
    font: var(--qx-toolbar-font);
    border: 1px solid transparent;
    background-image: none;
    background-color: var(--toolbar-button-bg-color);
    // width: 10rem;
    width: 6rem;
    color: var(--toolbar-button-fg-color);
  }

  /* Toolbar button WIDTH & COLOR*/
  // .qx-aum-toolbar.qx-c-lycia_actionstoolbar .qx-aum-toolbar-button {
  // }

  /* HOVER Toolbar button LABEL */
  .qx-aum-toolbar.qx-c-lycia_actionstoolbar .qx-aum-toolbar-button:hover {
    color: var(--toolbar-button-hover-fg-color);
  }

  /* HOVER button color & border */
  .ui-widget-content .qx-aum.qx-aum-toolbar-button.ui-state-hover,
  .ui-widget-content .qx-aum.qx-aum-toolbar-button.ui-state-focus {
    background-color: var(--toolbar-button-hover-bg-color);
    border-color: var(--toolbar-button-border-hover-color);
    color: var(--toolbar-button-hover-fg-color);
  }
}
/*END toolbar.css*/
