.qx-jquery-ui {
  .qx-c-fcls_align_left.qx-aum-abstract-field .qx-text	{
    text-align:left;
    float: left;
  }
  
  .qx-c-fcls_align_right.qx-aum-abstract-field .qx-text {
    text-align:right;
    float: right;
  }
  
  .qx-c-fcls_align_vcenter.qx-aum-abstract-field .qx-text {
    vertical-align: middle;
  }
}

