/*
#######################################################
Form Class - fcls_detail_cnt
#######################################################
*/
.qx-c-fcls_detail_cnt.qx-aum-items-container.qx-aum-abstract-container {
  margin-top: 8px;
  margin-bottom: 8px;
}
/*
#######################################################
Form Class - fcls_container_margin
Margin for containers with this class
#######################################################
*/
.qx-c-fcls_container_margin.qx-aum-items-container.qx-aum-abstract-container {
  margin: 6px;
}
/*
#######################################################
Form Class - fcls_container_padding
Padding for containers with this class
#######################################################
*/
.qx-c-fcls_container_padding.qx-aum-items-container.qx-aum-abstract-container {
  padding: 6px;
}
/*
#######################################################
Legacy Compat Mode Informix panels  HuHO 14.12.2018
#######################################################
*/
.qx-o-c-classic {
  background-color: var(--main-color-bg);
}
.qx-o-c-classic:not(.qx-o-c-nativestyle) {
  background-color: var(--main-color-bg) ;
}
/*
#######################################################
Legacy Coordinate Panel
#######################################################
*/
.qx-content.qx-display-grid.qx-root.qx-aum.qx-c-classic.qx-o-aum-window {
  background-color: var(--main-color-bg);
  /*white; */
}
/*Legacy Coordinate panel based forms*/
.qx-aum-coord-panel>.qx-aum {
  color: var(--tf-label-disabled-color-fg) ;
  background-color: var(--main-color-bg) ;
}
.qx-wrap.qx-ha-l>.qx-bound>* {
  align-self: stretch;
}
/*All cells in rootContainer descendants -  vertical element alignment top*/
.qx-c-fcls_rootcontainer.qx-aum-grid-panel .qx-grid-cell {
  vertical-align: top;
  overflow: hidden;
}
/*All descendant cells in gridPanels with class fcls_data_cnt -  vertical element middle */
.qx-aum-grid-panel.qx-c-fcls_data_cnt .qx-grid-cell {
  vertical-align: middle;
  overflow: hidden;
}
/*#######################################################
GroupBox
#######################################################*/
/*Select ALL GroupBoxes */
.qx-aum-group-box.qx-aum.qx-aum-group-box.qx-aum-element-container {
  background-color: var(--cnt-gb-color-bg);
  background-image: none;
  margin: 2px
}
/* Button fixes 25.05.2019 
qx-groupbox-header ui-accordion-header ui-state-default qx-vta-c qx-hta-c ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top
*/
.qx-aum-group-box.qx-aum.qx-aum-group-box.qx-aum-element-container .ui-widget-content,
.qx-groupbox-header.ui-accordion-header.ui-accordion-icons.ui-accordion-header-active.ui-state-active {
  color: var(--cnt-gb-titlebar-color-fg);
  background-color: var(--cnt-gb-titlebar-color-bg);
}
.qx-groupbox-header.ui-accordion-header.ui-accordion-icons.ui-accordion-header-active.ui-state-active .qx-text {
  font: var(--cnt-gb-titlebar-font);
}
/*qx-text*/
/*GroupBox Icon to fold/unfold HuHo 13.11.2018*/
.qx-aum.qx-aum-group-box.qx-display-grid>label>.qx-icon::after {
  color: var(--cnt-gb-color-bg);
}
/*Only groupBoxes with the form class .qx-c-fcls_detail_gb_cnt*/
/*TitleBar of the groupBoxes */
.qx-c-fcls_detail_gb_cnt.qx-aum-group-box .qx-groupbox-header {
  background: var(--cnt-gb-titlebar-color-bg);
  background-image: none;
  color: var(--cnt-gb-titlebar-color-fg);
}
.qx-jquery-ui .qx-aum-abstract-field {
  padding: 2px;
  margin: 2px;
}

.qx-material-design .qx-aum-group-box.qx-display-grid[data-vdom-component] > .qx-groupbox-header > .qx-icon {
  color: var(--cnt-gb-titlebar-color-fg);
}
/*
GroupBox Header LABEL with form class fcls_detail_gb_cnt
*/
.qx-c-fcls_detail_gb_cnt .ui-accordion-header .qx-text {
  color: var(--cnt-gb-titlebar-color-fg);
}
.qx-aum-group-box.qx-aum-abstract-container .qx-groupbox-header.ui-accordion-header .qx-text {
  font: var(--qx-group-title-font);
}
/*#######################################################
StackPanel container
#######################################################*/

.qx-aum-stack-panel {
  align-items: center;
}

.qx-table.qx-aum-table,
.qx-table.qx-aum-tree-table {
  margin: 2px;
  padding: 2px;
  background-image: none;
  background: none;
}

.ui-widget-header {
  background: var(--cnt-tb-header-color-bg);
}

.qx-jquery-ui th.qx-aum-table-column > label,
.qx-material-design th.qx-aum-table-column > .qx-text-wrapper {
  padding-left: 4px ;
  padding-right: 4px ;
  color: var(--cnt-tb-header-color-fg);
}

.qx-thead th > label {
  left: 0;
  right: 0;
}
.qx-table-row>td.qx-table-cell,
.qx-thead-row>th.qx-aum-table-column {
  border: none;
  border-left: 1px solid transparent ;
}
.qx-thead-row>th.qx-aum-table-column:nth-child(1),
.qx-table-row>td.qx-table-cell:nth-child(1) {
  border-left: none ;
}
.qx-thead-row>th.qx-aum-table-column>label,
.qx-table-row>td.qx-table-cell {
  padding: 0 3px;
}
/* Table ROW */

/*#######################################################
Misc
#######################################################*/
/*Table (Disp/Inp Array) */
/*Row Selection */
/* ###############################################*/
/* Conditional Row-Highlight controlled by 4gl */
/* ###############################################*/
/*conditional row highlight ALL ROWs */
.qx-c-activefield .qx-tbody .qx-table-row.qx-c-highlight_str {
  background-color: var(--cnt-tb-conditional-row-color-bg) ;
}
/*conditional row highlight CURRENT/SELECTED ROW */
.qx-table.qx-aum.qx-aum-table .qx-brow.qx-isc .qx-bcell .qx-tbody .qx-c-highlight_str.qx-selected.qx-table-row.qx-aum-some.ui-row-ltr.qx-focusable .qx-table-cell.qx-c-activefield.qx-content.qx-aum-some.qx-aum-abstract-field.qx-has-text {
  color: var(--cnt-tb-conditional-current-row-color-fg) ;
}
/* CURRENT ROW row highlight background-color */
.qx-aum-some.ui-row-ltr.qx-focusable.qx-table-row.qx-selected,
.qx-aum-some.ui-row-ltr.qx-focusable.qx-table-row.qx-selected td {
  background-color: var(--cnt-tb-curr-row-color-bg) ;
}
/* CURRENT ROW FOCUS field background-color */
.qx-table-cell .qx-aum.qx-aum-abstract-field.qx-column-edit-control.qx-element-role-input.qx-active.qx-focused.qx-has-focus,
.qx-table-cell .qx-aum.qx-aum-abstract-field.qx-column-edit-control.qx-element-role-input.qx-active.qx-focused.qx-has-focus {
  background-color: var(--cnt-tb-curr-row-inp-field-color-bg) ;
}

/* TABLE CELL */
.qx-jquery-ui {
  /* Note: gridHeader formats like padding need to be set for header and column data */
  .qx-table.qx-aum.qx-aum-table.qx-aum-abstract-data-table.qx-aum-abstract-container.qx-has-header .qx-hrow .qx-thead .qx-thead-row.ui-widget-header {
    min-height: 1.6rem ;
    height: 1.6rem ;
  }

  .qx-aum-table .qx-thead-row,
  .qx-aum-table .qx-thead-row>th,
  .qx-aum-table .qx-table-row>td {
    min-height: 1.6rem ;
    height: 1.6rem ;
  }

  .qx-table-cell.qx-c-activefield.qx-content {
    height: 2rem ;
    margin-left: 2px ;
    margin-right: 2px ;
    padding-right: 2px ;
    padding-left: 2px ;
    background-color: transparent;
  }
}
/*
######################################
Table Column
(Display Array / Input Array)
######################################
*/
.qx-aum-some.ui-row-ltr.qx-focusable.qx-table-row.qx-selected .qx-table-cell.qx-c-activefield.qx-content.qx-htal.qx-htal.qx-aum-some.qx-aum-abstract-field.qx-has-text {
  background-color: var(--cnt-tb-curr-row-color-bg);
  color: var(--cnt-tb-curr-row-color-fg);
}
.qx-aum-some.ui-row-ltr.qx-focusable.qx-table-row.qx-selected .qx-table-cell.qx-c-activefield.qx-aum-some.qx-aum-abstract-field.qx-has-text {
  background-color: var(--cnt-tb-curr-row-inp-field-color-bg);
  color: var(--cnt-tb-curr-row-color-fg);
}

/* Different colors for the alternate (even/odd) rows in a table container */
.qx-tbody .qx-table-row:nth-child(even) {
  background: var(--cnt-tb-row-even-color-bg);
}
.qx-c-activefield .qx-tbody .qx-table-row:nth-child(even) {
  background: var(--cnt-tb-row-even-color-bg);
}

/*label / text */
.qx-c-activefield .qx-tbody tr {
  color: var(--fgl-field-color-default-enabled-fg);
  background-color: var(--fgl-field-color-default-enabled-bg) ;
}
/* default background-color of table rows*/
.qx-tbody tr {
  background-color: transparent;
}
/*tableWidget container - HEADER row - i.e 5px top/bottom and 0px right/left*/
/* table row */
/* INPUT ARRAY default font for field in current table  row - field focus*/
.qx-table-row.qx-selected .qx-table-cell.qx-content.qx-c-activefield .qx-aum .qx-text {
  font-size: var(--qx-display-array-font) ;
  padding-left: 2px;
}
/*##############################*/
/* table - row                  */
/*##############################*/
.qx-table .qx-brow.qx-isc .qx-bcell .qx-tbody .qx-table-row {
  /*width: 10px ;*/
  margin-left: 0px ;
  margin-right: 0px ;
  margin-top: 0px ;
  margin-bottom: 0px ;
  padding-left: 0px ;
  padding-right: 0px ;
  padding-top: 0px ;
  padding-bottom: 0px ;
}

/* table - row - cell - .qx-text-field */
.qx-table .qx-brow.qx-isc .qx-bcell .qx-tbody .qx-table-row .qx-table-cell.qx-c-activefield.qx-content .qx-text-field.qx-aum.qx-aum-text-field.qx-aum-abstract-text-field.qx-aum-abstract-string-field.qx-aum-abstract-field,
.qx-table .qx-brow.qx-isc .qx-bcell .qx-tbody .qx-table-row .qx-table-cell.qx-c-activefield.qx-content .qx-text-field.qx-single-row.qx-aum.qx-aum-combo-box.qx-aum-abstract-string-field.qx-aum-abstract-field {
  margin-left: 0px ;
  margin-right: 0px ;
  margin-top: 0px ;
  margin-bottom: 0px ;
  padding-left: 0px ;
  padding-right: 0px ;
  padding-top: 0px ;
  padding-bottom: 0px ;
}

/* table - row - cell - .qx-text-field .qx-text */
.qx-table .qx-brow.qx-isc .qx-bcell .qx-tbody .qx-table-row .qx-table-cell.qx-c-activefield.qx-content .qx-text-field .qx-text,
.qx-table .qx-brow.qx-isc .qx-bcell .qx-tbody .qx-table-row .qx-table-cell.qx-c-activefield.qx-content .qx-text-field.qx-single-row.qx-aum.qx-aum-combo-box.qx-aum-abstract-string-field.qx-aum-abstract-field .qx-text {
  margin-left: 0px ;
  margin-right: 0px ;
  margin-top: 0px ;
  margin-bottom: 0px ;
  padding-left: 2px ;
  padding-right: 2px ;
  padding-top: 0px ;
  padding-bottom: 0px ;
}

.qx-table-cell.qx-c-activefield.qx-content .qx-aum.qx-column-edit-control.qx-element-role-input.qx-focused.qx-has-focus {
  margin-left: 1px ;
  margin-right: 1px ;
  margin-top: 2px ;
  margin-bottom: 2px ;
  padding-left: 1px ;
  padding-right: 2px ;
  padding-top: 2px ;
  padding-bottom: 2px ;
}


/*###########################################
Tab Page Container (form container NOT MDI menu container)
#############################################*/
/*TabContainer unselected tab*/
.qx-aum-tab.qx-display-grid> :first-child label {
  background-image: none;
  background-color: var(--cnt-tab-handle-not-selected-color-bg) ;
}
/*TabContainer unselected tab*/
.qx-aum-tab.qx-display-grid> :first-child label:hover {
  background-image: none;
  background-color: var(--cnt-tab-handle-area-hover-bg-color) ;
}
/* Tab-Page Form Container */
.qx-aum.qx-aum-tab.qx-aum-abstract-container .qx-tabcontrol-header.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header {
  color: red;
  background-color: var(--cnt-tab-handle-container-area-bg);
}
/*TabContainer selected tab*/
.qx-aum-tab.qx-display-grid> :first-child [type="radio"]:checked+label {
  border: 1px solid #aaa;
  border-bottom: 0;
  background: var(--cnt-tab-handle-selected-color-bg) ;
  font-weight: 400;
  color: orange;
  cursor: default;
}
/* labels in the tabPage handles */
.qx-has-text .ui-tabs-anchor.qx-aum-abstract-field .qx-text {
  justify-content: left;
  text-align: left;
  align-items: flex-start;
}
/*###########################################*/
/* Background/Container of Tab Handles       */
/* ##########################################*/
/*tabHandel area for form tabPage container AND MDI-container*/
.ui-tabs-nav {
  // min-width: 150px;
  color: white;
  // background-color: red;
}

.qx-tabs-container.ui-tabs.ui-widget.ui-widget-content.ui-corner-all .qx-t-h.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header {
  color: pink;
  background-color: var(--cnt-mdi-tab-handle-container-area-bg);
}

/*########################################
Tab Handles 
##########################################*/
/*Note, we need a different/unique class name for MDI-container tab-handles*/
/*at the moment, this class will select ALL tab handles normal form AND mdi-container */
.ui-tabs-nav .qx-text {
  // min-width: 150px;
  color: white;
}
/* ########################################*/
/* border for containers */
/* ########################################*/
.qx-c-fcls_container_border {
  /*for legacy css support only! - do not use*/
  border: 1px solid var(--cnt-color-border-medium-fg);
}
.qx-c-fcls_container_border_l1 {
  border: 1px solid var(--cnt-color-border-light-fg);
  border-radius: 5px;
}
.qx-c-fcls_container_border_l2 {
  border: 2px solid var(--cnt-color-border-light-fg);
  border-radius: 7px;
}
.qx-c-fcls_container_border_m1 {
  border: 1px solid var(--cnt-color-border-medium-fg);
  border-radius: 5px;
}
.qx-c-fcls_container_border_m2 {
  border: 2px solid var(--cnt-color-border-medium-fg);
  border-radius: 7px;
}
.qx-c-fcls_container_border_s1 {
  border: 1px solid var(--cnt-color-border-strong-fg);
  border-radius: 5px;
}
.qx-c-fcls_container_border_s2 {
  border: 2px solid var(--cnt-color-border-strong-fg);
  border-radius: 7px;
}

.qx-material-design {
  .qx-aum-group-box.qx-aum.qx-aum-group-box.qx-aum-element-container {
    background-color: var(--cnt_gb-bg-color);
    background-image: none;
    margin: 2px;
  }
}
