.qx-jquery-ui {
  #qx-container-status-bar {
    display: none;
  }
  /* #########################*/
  /* GENERAL - FOR ALL STATES  */
  /* ########################*/
  .qx-aum.qx-aum-abstract-field {
    background: none;
    background-image: none ;
    padding-left: 2px;
  }
  /*################################################
  Alignment - in GridPanel Cell -> Vertical-Center Elements
  ##################################################*/
  .qx-aum-grid-panel.qx-display-grid>.qx-va-t {
    -ms-flex-item-align: start;
    align-self: stretch;
    -ms-grid-row-align: start;
    vertical-align: middle;
  }
  /*################################################
  Progressbar widget
  ##################################################*/
  .qx-aum-progress-bar {
    margin: 2px;
  }
  .qx-aum-progress-bar .ui-progressbar.ui-widget.ui-widget-content.ui-corner-all {
    background-color: var(--main-progressbar-color-bg);
  }
  .qx-aum-progress-bar .ui-progressbar.ui-widget.ui-widget-content.ui-corner-all .ui-progressbar-value {
    background-color: var(--main-progressbar-color-fg);
  }
  /*################################################
  Scrollbar widget
  ##################################################*/
  /* ###################### */
  /* DEFAULT / DISABLED     */
  /* ###################### */
  .qx-aum-scroll-bar {
    margin: 0px ;
    padding: 0px ;
    background-color: var(--main-scrollbar-color-bg) ;
    border-width: 0.5px;
    border-color: var(--main-scrollbar-disabled-border-color) ;
  }
  
  
  /* ###################### */
  
  
  /* ENABLED / Active       */
  
  
  /* ###################### */
  
  .qx-aum-scroll-bar.qx-active.qx-enabled {
    /*margin: 2px ;*/
    /*padding: 0px ;*/
    background-color: var(--main-scrollbar-color-bg) ;
    border-width: 0.5px;
    border-color: var(--main-scrollbar-enabled-border-color) ;
    border-style: solid ;
  }
  
  .qx-aum-scroll-bar.qx-horizontal {
    height: 14px ;
  }
  
  .qx-aum-scroll-bar.qx-vertical {
    width: 14px ;
  }
  
  .qx-aum-scroll-bar.qx-element-role-input.qx-active.qx-c-activefield {
    background-color: var(--main-scrollbar-color-bg) ;
    border-width: 0.5px;
    border-color: var(--main-scrollbar-enabled-border-color) ;
  }
  
  .qx-aum-scroll-bar.qx-element-role-input.qx-active.qx-c-activefield:hover {
    background-color: var(--main-scrollbar-color-bg) ;
    border-width: 0.5px;
    border-color: var(--main-scrollbar-hover-border-color) ;
  }
  
  /* scrollbar button */
  .qx-aum-scroll-bar.qx-element-role-input.qx-active.qx-c-activefield .qx-scb-up,
  .qx-aum-scroll-bar.qx-element-role-input.qx-active.qx-c-activefield .qx-scb-down {
    background-color: var(--main-scrollbar-button-color-bg) ;
  }
  
  .qx-grid-cell {
    padding: 1px;
  }
  
  .qx-aum.qx-c-fcls_data_widget {
    padding-left: 2px;
    padding-right: 2px;
  }
  
  
  /*
  ######################################################################################################
  LABEL Widget Element
  ######################################################################################################
  */
  /*dynamic label - OUTER FRAME*/
  .qx-no-image.qx-aum-label .qx-text-with-icon,
  .qx-no-image.qx-aum-label .qx-text
  //, .qx-no-image.qx-aum-label.qx-aum-abstract-text-field.qx-aum-abstract-string-field:not(.qx-c-fcls_columnlabel_rev_cell) 
  {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 1px;
    padding-top: 1px;
  }
  .qx-no-image.qx-aum-label .qx-text {
    color: var(--label-fg-color);
  }
  
  
  /* ************************************************/
  
  
  /* gridPanel Cell label REVERSED                  */
  
  
  /* ************************************************/
  
  
  /*FormClass: fcls_columnlabel_rev - selects just the label*/
  
  .qx-c-fcls_columnlabel_rev.qx-aum-label .qx-text {
    color: var(--label-rev-color-fg);
    background: var(--label-rev-color-bg);
    padding-right: var(--main-disabled-border-padding);
    padding-left: var(--main-disabled-border-padding);
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  
  /*FormClass: fcls_columnlabel_rev_cell - selects the entire cell*/
  
  :not(.ui-widget-content).qx-aum-label.qx-c-fcls_columnlabel_rev_cell {
    background: var(--label-rev-color-bg) ;
    flex: 1;
  }
  
  
  /* 18.06.2019 */
  
  
  /* REVERSED LABEL */
  
  
  /* .qx-c-fcls_columnlabel_rev_cell  Form Class  */
  
  .qx-c-fcls_columnlabel_rev_cell {
    border-radius: 0px ;
  }
  
  .qx-c-fcls_columnlabel_rev_cell .qx-text-with-icon {
    border-radius: 0px ;
  }
  
  .qx-c-fcls_columnlabel_rev_cell.qx-aum-abstract-field .qx-text {
    color: var(--label-rev-color-fg) ;
    border-radius: 0px ;
  }
  
  
  /* ***************************** */
  
  .qx-c-fcls_columnlabel_rev_cell.qx-aum-label .qx-text-with-icon {
    font: normal 1rem "Roboto", "Calibri", "Helvetica Neue", Sans-Serif;
    color: var(--label-rev-color-fg) ;
    background: var(--label-rev-color-bg);
    padding-right: var(--main-disabled-border-padding);
    padding-left: var(--main-disabled-border-padding);
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  .qx-c-fcls_columnlabel_rev_cell.qx-aum-label .qx-text {
    font: normal 1rem "Roboto", "Calibri", "Helvetica Neue", Sans-Serif;
    color: var(--label-rev-color-fg);
    background: var(--label-rev-color-bg);
    padding-right: var(--main-disabled-border-padding);
    padding-left: var(--main-disabled-border-padding);
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  
  /* Labels which show available key press/information i.e. [F1][F5][F12][Esc] */
  
  
  /*FormClass: fcls_key_usage - selects the entire cell*/
  
  :not(.ui-widget-content).qx-aum-label.qx-c-fcls_key_usage {
    background: var(--label-rev-color-bg);
    flex: 1;
  }
  
  .qx-c-fcls_key_usage .qx-text {
    color: var(--label-rev-color-fg);
    background: var(--label-rev-color-bg);
    padding-right: var(--main-disabled-border-padding);
    padding-left: var(--main-disabled-border-padding);
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  
  /*FormClass: fcls_menulabel - used in hand-made 4gl menu's (not the menu statement)*/
  
  .qx-c-fcls_menulabel .qx-text {
    color: var(--label-fg-color);
  }
  
  
  /*dynamic menu label - initial draw .qx-c-fcls_menulabel*/
  
  .qx-c-fcls_menulabel.qx-aum-label.qx-no-image.qx-has-text.qx-aum.qx-aum-abstract-text-field.qx-inactive {
    color: var(--label-fg-color);
  }
  
  
  /* Text Block of description/information */
  
  
  /* FormClass: fcls_font_description */
  
  .qx-c-fcls_font_description.qx-aum-abstract-field .qx-text {
    color: var(--label-comment-color-fg);
    font-style: italic;
  }
  
  
  /* 4 Additional Header Styles to be used in forms */
  
  
  /* FormClass: fcls_font_h1, fcls_font_h2, fcls_font_h3, fcls_font_h4 */
  
  .qx-c-fcls_font_h1 .qx-text-with-icon {
    font-size: 2rem;
    font-weight: bold;
    color: var(--label-fg-color);
  }
  
  .qx-c-fcls_font_h2 .qx-text-with-icon {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--label-fg-color);
  }
  
  .qx-c-fcls_font_h3 .qx-text-with-icon {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--label-fg-color);
  }
  
  .qx-c-fcls_font_h4 .qx-text-with-icon {
    font-size: 1rem;
    font-weight: bold;
    color: var(--label-fg-color);
  }
  
  
  /*
  ######################################################################################################
  END OF Label Widget Selectors/Classes
  ######################################################################################################
  */
  
  
  /* ######################################################################################################*/
  
  
  /* #########################*/
  
  
  /* DISABLED - NOT IN INPUT -  elements without border, margin, padding.. in disabled state */
  
  
  /* ########################*/
  
  .hasDatepicker.qx-focus-target.qx-text.ui-state-focus {
    border-style: none ;
  }
  
  
  /* #########################*/
  
  
  /* DISABLED - element background:yes border: no  */
  
  
  /* ########################*/
  
  .qx-aum-label.qx-aum-abstract-text-field {
    border-width: var(--main-disabled-border-width) ;
    border-radius: var(--main-disabled-border-radius) ;
    border-color: transparent ;
    background-color: var(--main-label-color-bg) ;
    border-style: solid ;
    margin: var(--main-disabled-border-margin);
    padding: var(--main-disabled-border-padding);
  }
  
  
  /* Hide buttons on inactive fields */
  
  .qx-aum-combo-box.qx-disabled .ui-button,
  .qx-aum-calendar.qx-disabled .ui-datepicker-trigger {
    display: none;
  }
  
  
  /* #########################*/
  
  
  /* DISABLED - NOT IN INPUT -  elements WITH FULL BORDER in disabled state */
  
  
  /* usually list type elements */
  
  
  /* ########################*/
  
  .qx-aum-browser {
    border-width: var(--main-disabled-border-width) ;
    border-radius: var(--main-disabled-border-radius) ;
    border-color: var(--main-disabled-border-color) ;
    background-color: var(--main-disabled-color-bg) ;
    border-style: solid ;
    margin: var(--main-disabled-border-margin);
    padding: var(--main-disabled-border-padding);
  }
  
  
  /* #########################*/
  
  
  /* DISABLED - NOT IN INPUT  */
  
  
  /* ########################*/
  
  .qx-aum-combo-box.qx-inactive.qx-readonly,
  .qx-aum-calendar.qx-inactive.ui-state-disabled.qx-disabled.qx-readonly {
    border-width: var(--main-disabled-border-width) ;
    border-radius: var(--main-disabled-border-radius) ;
    border-left-color: transparent ;
    border-top-color: transparent ;
    border-right-color: transparent ;
    border-bottom-color: var(--main-disabled-border-color) ;
    background-color: var(--main-disabled-color-bg) ;
    border-style: solid ;
    margin: var(--main-disabled-border-margin) ;
    padding: var(--main-disabled-border-padding) ;
  }
  
  
  /* ####################*/
  
  
  /* ENABLED - in input  */
  
  
  /* ####################*/
  
  
  /*elements enabled without border */
  
  
  /*elements enabled with border */
  
  .qx-active.qx-c-activefield.qx-aum-text-field:not(.qx-c-qx-function-text-field),
  
  /*real textField widget WITHOUT FunctionField */
  
  .qx-active.qx-c-activefield.qx-aum-combo-box.qx-not-readonly,
  .qx-active.qx-c-activefield.qx-aum-calendar.qx-not-readonly {
    border-width: var(--main-enabled-border-width) ;
    border-radius: var(--main-enabled-border-radius) ;
    border-color: var(--main-enabled-border-color) ;
    background-color: var(--main-enabled-color-bg) ;
    border-style: solid ;
    margin: var(--main-enabled-border-margin);
    padding: var(--main-enabled-border-padding);
  }
  
  
  /* ####################*/
  
  
  /* FOCUS - in input    */
  
  
  /* ####################*/
  
  
  /*.qx-aum-text-field.qx-focused.qx-has-focus.qx-not-readonly.qx-c-activefield:not(.qx-c-qx-function-text-field),*/
  
  
  /*real textField widget WITHOUT FunctionField */
  
  .qx-focused.qx-has-focus.qx-aum-combo-box.qx-active.qx-not-readonly,
  .qx-focused.qx-has-focus.qx-aum-calendar.qx-active.qx-not-readonly {
    border-width: var(--main-focus-border-width) ;
    border-radius: var(--main-focus-border-radius) ;
    border-color: var(--main-focus-border-color) ;
    border-style: solid ;
    margin: var(--main-focus-border-margin) ;
    padding: var(--main-focus-border-padding) ;
    background-color: var(--main-focus-color-bg) ;
  }
  
  
  /* ------------------------------------------------------ */
  
  
  /* START  Hide any background formating done by jQuery */
  
  .qx-text.qx-focus-target {
    background: none ;
    background-color: transparent ;
  }
  
  .qx-aum-calendar.qx-has-focus,
  .qx-aum-calendar.qx-has-focus *,
  .qx-aum-text-field.qx-has-focus,
  .qx-aum-text-field.qx-has-focus input,
  .qx-aum-text-area.qx-has-focus,
  .qx-aum-text-area.qx-has-focus textarea,
  .qx-aum-combo-box.qx-has-focus {
    background: none ;
    background-image: none ;
    background-position-x: initial ;
    background-position-y: initial ;
    background-size: initial ;
    background-repeat: initial ;
    background-attachment: initial ;
    background-origin: initial ;
    background-clip: initial ;
    background-color: transparent ;
  }
  
  
  /* END  Hide any background formating done by jQuery */
  
  
  /* ------------------------------------------------------ */
  
  
  /* ##################*/
  
  
  /* HOVER - in input  */
  
  
  /* ##################*/
  
  
  .qx-aum-text-field.qx-focusable-field.qx-active.qx-c-activefield.qx-enabled.qx-not-readonly:not(.qx-c-qx-function-text-field):hover,
  .qx-aum-combo-box.qx-focusable-field.qx-active.qx-c-activefield.qx-enabled.qx-not-readonly:hover,
  .qx-aum-calendar.qx-focusable-field.qx-active.qx-c-activefield.qx-enabled.qx-not-readonly:hover {
    border-width: var(--main-hover-border-width) ;
    border-radius: var(--main-hover-border-radius) ;
    border-color: var(--main-hover-border-color) ;
    border-style: solid ;
    margin: var(--main-hover-border-margin);
    padding: var(--main-hover-border-padding);
  }
  
  .qx-aum-text-field:not(.qx-c-qx-function-text-field) {
    color: red;
    background-color: pink;
    margin: 20px;
    padding: 20px;
  }
  
  .qx-aum-text-field:not(.qx-c-qx-function-text-field):hover {
    color: red;
    background-color: pink;
    margin: 20px; 
    padding: 20px;
  }
  
  
  /*##############################################################################################################
  # 
  # Checkbox
  #
  ##############################################################################################################*/
  
  /* #########################*/
  
  
  /* DEFAULT                 */
  
  
  /* #########################*/
  
  
  /*.qx-aum-radio-button *,*/
  
  .qx-aum-check-box .qx-clickable.qx-aum-abstract-field .qx-text {
    font: var(--chb-font);
    background-color: var(--chb-disabled-color-bg) ;
    color: var(--chb-disabled-color-fg);
  }
  
  .qx-aum-check-box.qx-aum-abstract-field .qx-text,
  .qx-text-with-icon {
    border-color: transparent ;
    outline-color: transparent ;
  }
  
  .qx-aum-check-box .qx-text,
  .qx-aum-check-box.qx-aum-abstract-field .qx-text,
  .qx-aum-check-box {
    color: var(--data-widget-label-disabled-color-fg) ;
    font: var(--qx-data-widget-label-font) ;
  }
  
  .qx-aum-check-box.qx-aum.qx-aum-abstract-field {
    font: var(--chb-font) ;
    background-color: var(--chb-disabled-color-bg) ;
    color: var(--chb-disabled-color-fg) ;
  }
  
  
  /* #########################*/
  
  
  /* DISABLED                 */
  
  
  /* #########################*/
  
  .qx-aum-check-box.qx-inactive.ui-state-disabled.qx-disabled.qx-readonly {
    font: var(--chb-font);
    background-color: var(--chb-disabled-color-bg) ;
    color: var(--chb-disabled-color-fg);
    border-width: var(--main-disabled-border-width) ;
    border-radius: var(--main-disabled-border-radius) ;
    border-left-color: transparent ;
    border-top-color: transparent ;
    border-right-color: transparent ;
    border-bottom-color: var(--main-disabled-border-color) ;
    border-style: solid ;
    margin: var(--main-disabled-border-margin) ;
    padding: var(--main-disabled-border-padding) ;
  }
  
  .qx-aum-check-box.qx-active.qx-not-readonly .qx-text,
  .qx-aum-check-box.qx-active.qx-not-readonly.qx-aum-abstract-field .qx-text,
  .qx-aum-check-box {
    color: var(--cb-disabled-color-fg) ;
    /*font: var(--qx-data-widget-label-font) ;  */
  }
  
  
  /* #########################*/
  
  
  /* ENABLED                  */
  
  
  /* #########################*/
  
  
  /* ####################*/
  
  
  /* ENABLED - in input  */
  
  
  /* ####################*/
  
  
  /*elements enabled without border */
  
  .qx-aum-check-box.qx-active.qx-c-activefield.qx-not-readonly {
    color: var(--chb-enabled-color-fg);
    background-color: var(--chb-enabled-color-bg);
    border-color: var(--chb-enabled-border-color) ;
    border-width: var(--main-enabled-border-width) ;
    border-radius: var(--main-enabled-border-radius) ;
    background-color: var(--main-enabled-color-bg) ;
    border-style: solid ;
    border-color: transparent ;
    margin: var(--main-enabled-border-margin);
    padding: var(--main-enabled-border-padding);
  }
  
  
  /* #########################*/
  
  
  /* FOCUS                  */
  
  
  /* #########################*/
  
  
  /* ####################*/
  
  
  /* FOCUS - in input    */
  
  
  /* ####################*/
  
  .qx-aum-check-box.qx-focused.qx-has-focus.qx-aum.qx-not-readonly {
    color: var(--chb-focus-color-fg);
    background-color: var(--chb-focus-color-bg) ;
    border-color: var(--chb-focus-border-color) ;
    border-width: var(--main-focus-border-width) ;
    border-radius: var(--main-focus-border-radius) ;
    border-style: solid ;
    margin: var(--main-focus-border-margin) ;
    padding: var(--main-focus-border-padding) ;
  }
  
  .qx-bool-widget.qx-focused label {
    outline: 0px none;
    outline-color: transparent;
  }
  
  
  /* #########################*/
  
  
  /* HOVER                  */
  
  
  /* #########################*/
  
  .qx-aum-check-box.qx-focusable-field.qx-active.qx-c-activefield.qx-enabled.qx-not-readonly:hover {
    color: var(--chb-hover-color-fg);
    background-color: var(--chb-hover-color-bg);
    border-color: var(--cb-hover-border-color) ;
    border-width: var(--main-hover-border-width) ;
    border-radius: var(--main-hover-border-radius) ;
    border-style: solid ;
    margin: var(--main-hover-border-margin);
    padding: var(--main-hover-border-padding);
  }
  
  
  /*##############################################################################################################
  # 
  # TextField 
  #
  ##############################################################################################################*/
  
  
  /*
  
  /* #########################*/
  
  
  /* DEFAULT / DISABLED       */
  
  
  /* #########################*/
  
  .qx-aum-text-field.qx-inactive.ui-state-disabled.qx-disabled.qx-readonly:not(.qx-c-qx-function-text-field) {
    border-width: var(--main-disabled-border-width) ;
    border-radius: var(--main-disabled-border-radius) ;
    border-left-color: transparent ;
    border-top-color: transparent ;
    border-right-color: transparent ;
    border-bottom-color: var(--main-disabled-border-color) ;
    background-color: var(--main-disabled-color-bg) ;
    border-style: solid ;
    margin: var(--main-disabled-border-margin) ;
    padding: var(--main-disabled-border-padding) ;
  }
  
  .qx-aum-text-field.qx-inactive.ui-state-disabled.qx-disabled.qx-readonly .qx-text:not(.qx-c-qx-function-text-field) {
    font: var(--tf-font);
  }
  
  
  /* ####################*/
  
  
  /* FOCUS - in input    */
  
  
  /* ####################*/
  
  .qx-aum-text-field.qx-focused.qx-has-focus.qx-not-readonly.qx-c-activefield:not(.qx-c-qx-function-text-field) {
    border-width: var(--main-focus-border-width) ;
    border-radius: var(--main-focus-border-radius) ;
    border-color: var(--main-focus-border-color) ;
    border-style: solid ;
    margin: var(--main-focus-border-margin) ;
    padding: var(--main-focus-border-padding) ;
    background-color: var(--main-focus-color-bg) ;
  }
  
  
  /*##############################################################################################################
  # 
  # TextArea 
  #
  ##############################################################################################################*/
  
  
  /* ##################################*/
  
  
  /* DEFAULT - TextArea (disabled)     */
  
  
  /* ##################################*/
  
  .qx-aum-text-area.qx-text-field.qx-main-cell.qx-aum.qx-aum-abstract-string-field.qx-has-text {
    border-width: var(--main-disabled-border-width) ;
    border-radius: var(--main-disabled-border-radius) ;
    border-color: var(--main-disabled-border-color) ;
    background-color: var(--main-disabled-color-bg) ;
    margin: var(--main-disabled-border-margin);
    padding: var(--main-disabled-border-padding);
  }
  
  
  /* ####################*/
  
  
  /* ENABLED - in input  */
  
  
  /* ####################*/
  
  
  /*elements enabled without border */
  
  
  /*elements enabled with border */
  
  .qx-active.qx-c-activefield.qx-aum-text-area.qx-not-readonly {
    border-width: var(--main-enabled-border-width) ;
    border-radius: var(--main-enabled-border-radius) ;
    border-color: var(--main-enabled-border-color) ;
    background-color: var(--main-enabled-color-bg) ;
    border-style: solid ;
    margin: var(--main-enabled-border-margin);
    padding: var(--main-enabled-border-padding);
  }
  
  
  /* ####################*/
  
  
  /* FOCUS - in input    */
  
  
  /* ####################*/
  
  .qx-focused.qx-has-focus.qx-aum-text-area.qx-active.qx-not-readonly {
    border-width: var(--main-focus-border-width) ;
    border-radius: var(--main-focus-border-radius) ;
    border-color: var(--main-focus-border-color) ;
    border-style: solid ;
    margin: var(--main-focus-border-margin) ;
    padding: var(--main-focus-border-padding) ;
    background-color: var(--main-focus-color-bg) ;
  }
  
  
  /* ##################*/
  
  
  /* HOVER - in input  */
  
  
  /* ##################*/
  
  .qx-aum-text-area.qx-focusable-field.qx-active.qx-c-activefield.qx-enabled.qx-not-readonly:hover {
    border-width: var(--main-hover-border-width) ;
    border-radius: var(--main-hover-border-radius) ;
    border-color: var(--main-hover-border-color) ;
    border-style: solid ;
    margin: var(--main-hover-border-margin);
    padding: var(--main-hover-border-padding);
  }
  
  
  /*##############################################################################################################
  # 
  # BLOB-Viewer 
  #
  ##############################################################################################################*/
  
  
  /* ##################################*/
  
  
  /* DEFAULT - BLOB-Viewer (disabled)     */
  
  
  /* ##################################*/
  
  .qx-aum.qx-aum-blob-viewer.qx-active.qx-not-readonly.qx-element-role-input.qx-blob-text.qx-blob-editable.qx-c-activefield {
    margin: 0px ;
    padding: 0px ;
    /*
   border-width: var(--main-focus-border-width) ;
   border-radius: var(--main-focus-border-radius)  ;
   border-color: var(--main-focus-border-color)  ; 
   border-style: solid ;
   margin: var(--main-focus-border-margin) ;
   padding: var(--main-focus-border-padding) ; 
   */
    /*background-color: var(--main-focus-color-bg) ;*/
  }
  
  .qx-aum.qx-aum-blob-viewer .qx-blob-content {
    /*
   border-width: var(--main-focus-border-width) ;
   border-radius: var(--main-focus-border-radius)  ;
   border-color: var(--main-focus-border-color)  ; 
   border-style: solid ;
   */
    margin: var(--main-focus-border-margin) ;
    margin: 0px ;
    padding: 0px ;
    /* padding: var(--main-focus-border-padding) ; */
    background-color: var(--main-focus-color-bg) ;
  }
  
  .qx-blob-content>#document {
    font: var(--qx-textfield-font) ;
    color: red ;
  }
  
  
  /*##############################################################################################################
  # 
  # Radiogroup / Radiobutton 
  #
  ##############################################################################################################*/
  
  
  /*
  /*
  --rb-font: var(--qx-data-widget-label-font);
  
  --rb-disabled-color-fg: var(--main-textfield-disabled-color-fg);
  --rb-disabled-color-bg: var(--main-textfield-disabled-color-bg);
  --rb-enabled-color-fg: var(--main-textfield-enabled-color-fg);
  --rb-enabled-color-bg: var(--main-textfield-enabled-color-bg);
  
  --rb-focus-color-fg: var(--main-textfield-focus-color-fg);
  --rb-focus-color-bg: var(--main-textfield-focus-color-bg);
  --rb-hover-color-fg: var(--main-textfield-hover-color-fg);
  --rb-hover-color-bg: var(--main-textfield-hover-color-bg);
  
  --rb-disabled-border-color: var(--main-disabled-border-color);
  --rb-enabled-border-color: var(--main-enabled-border-color);
  --rb-focus-border-color: var(--main-focus-border-color);
  --rb-hover-border-color: var(--main-hover-border-color);
  */
  
  
  /* ##################################*/
  
  
  /* DEFAULT - Radiogroup             */
  
  
  /* ##################################*/
  
  
  /* disabled */
  
  
  /*
  .qx-aum-radio-group.qx-inactive.qx-disabled.qx-readonly .qx-aum-radio.qx-aum-abstract-field .qx-text,
  .qx-aum-check-box .qx-text,
  .qx-aum-check-box.qx-aum-abstract-field .qx-text,
  .qx-aum-check-box 
  {
   color: var(--data-widget-label-disabled-color-fg)  ;
   font: var(--qx-data-widget-label-font) ;  
  }
  
  */
  
  .qx-aum-radio-group .qx-aum-radio.qx-aum-abstract-field .qx-text {
    color: var(--rb-disabled-color-fg) ;
    font: var(--rb-font) ;
  }
  
  .qx-aum-radio-group {
    background-color: var(--rb-disabled-color-bg) ;
  }
  
  .qx-aum-radio-group .qx-aum-radio {
    background-color: var(--rb-disabled-color-bg) ;
  }
  .qx-aum-radio-group .qx-aum-radio .qx-text-with-icon {
    color: var(--rb-disabled-color-fg) ;
    background-color: var(--rb-disabled-color-bg) ;
    font: var(--rb-font) ;
  }
  .qx-bool-widget.qx-aum-radio.qx-aum-abstract-field .qx-text {
    color: var(--rb-disabled-color-fg) ;
    background-color: transparent ;
    /*var(--rb-disabled-color-bg) ;*/
    
    font: var(--rb-font) ;
  }
  .qx-aum-radio-group.qx-aum.qx-aum-abstract-field {
    color: var(--rb-disabled-color-fg) ;
    background-color: var(--rb-disabled-color-bg) ;
    background-image: none ;
    padding-left: 0.5rem;
  }
  
  /*
  ######################################################################################################
  Radio Group / Button
  ######################################################################################################
  */
  .qx-aum-radio-group.qx-aum-abstract-field .qx-text {
    color: var(--rb-disabled-color-fg) ;
    background-color: var(--rb-disabled-color-bg) ;
  }
  
  /* #########################*/
  
  /* DISABLED - element background:yes border: no  */
  
  /* ########################*/
  .qx-aum-radio-group
  /*,.qx-aum-radio.qx-aum-abstract-component*/
  {
    background-color: var(--rb-disabled-border-color) ;
    border-width: var(--main-disabled-border-width) ;
    border-radius: var(--main-disabled-border-radius) ;
    border-color: transparent ;
    border-style: solid ;
    margin: var(--main-disabled-border-margin) ;
    padding: var(--main-disabled-border-padding) ;
  }
  
  /* ##################################*/
  
  /* Radiogroup/Radiobutton Disabled   */
  
  /* ##################################*/
  .qx-aum-radio-group {
    background-color: var(--rb-disabled-color-bg) ;
    border-style: solid ;
    border: none ;
    margin: var(--main-disabled-border-margin) ;
    padding: var(--main-disabled-border-padding) ;
  }
  
  /*container for one radiobutton*/
  .qx-aum-radio-group .qx-aum-radio {
    border: none ;
    margin: 0px ;
    padding-left: 2px ;
    padding-right: 2px ;
    padding-top: 1px ;
    padding-bottom: 1px ;
  }
  
  /*image*/
  .qx-aum-radio-group .qx-aum-radio .qx-text-with-icon {
    color: var(--rb-disabled-color-fg) ;
    background-color: transparent ;
    /*var(--rb-disabled-color-bg) ;*/
    
    border: none ;
    margin-left: var(--main-disabled-border-margin) ;
  }
  
  /*text label */
  .qx-aum-radio-group .qx-aum-radio.qx-aum-abstract-field .qx-text {
    font: var(--rb-font);
    color: var(--rb-disabled-color-fg) ;
    border: none ;
    margin: 0px ;
    padding: 0px ;
  }
  
  /* ##########################################################*/
  
  /* Radiogroup/Radiobutton ENABLED  in TABLE / DISPLAY ARRAY */
  
  /* ##########################################################*/
  .qx-table-cell.qx-c-activefield.qx-content .qx-aum-radio-group {
    margin: 0px ;
    vertical-align: center ;
  }
  .qx-table-cell.qx-c-activefield.qx-content .qx-aum-radio-group .qx-bool-widget.qx-aum-radio.qx-active {
    margin: 0px ;
    height: 2rem ;
  }
  
  /* ##################################*/
  
  /* ENABLED - radioGroup   */
  
  /* ##################################*/
  .qx-aum-radio-group.qx-active.qx-c-activefield.qx-not-readonly {
    color: var(--rb-enabled-color-fg) ;
    background-color: var(--rb-enabled-color-fg) ;
    border-color: var(--rb-enabled-border-color) ;
    /*border-color: transparent  ; */
    
    border-width: var(--main-enabled-border-width) ;
    border-radius: var(--main-enabled-border-radius) ;
    background-color: var(--main-enabled-color-bg) ;
    border-style: solid ;
    margin: var(--main-enabled-border-margin);
    padding: var(--main-enabled-border-padding);
  }
  
  /* ##################################*/
  
  /* FOCUS - radioGroup                */
  
  /* ##################################*/
  .qx-aum-radio-group.qx-focused.qx-has-focus.qx-not-readonly {
    color: var(--rb-focus-color-fg) ;
    background-color: var(--rb-focus-color-bg) ;
    border-color: var(--rb-focus-border-color) ;
    border-width: var(--main-focus-border-width) ;
    border-radius: var(--main-focus-border-radius) ;
    border-style: solid ;
    margin: var(--main-focus-border-margin) ;
    padding: var(--main-focus-border-padding) ;
  }
  
  /* ##################################*/
  
  /* HOVER  - radioGroup               */
  
  /* ##################################*/
  .qx-aum-radio-group.qx-focusable-field.qx-active.qx-c-activefield.qx-enabled.qx-not-readonly:hover {
    color: var(--rb-hover-color-fg) ;
    background-color: var(--rb-hover-color-bg) ;
    border-color: var(--rb-hover-border-color) ;
    border-width: var(--main-hover-border-width) ;
    border-radius: var(--main-hover-border-radius) ;
    border-style: solid ;
    margin: var(--main-hover-border-margin);
    padding: var(--main-hover-border-padding);
  }
  
  /*##############################################################################################################
  # 
  # SPINNER 
  #
  ##############################################################################################################*/
  
  /*
  /*
  --sp-disabled-color-fg: var(--main-textfield-disabled-color-fg);
  --sp-disabled-color-bg: var(--main-textfield-disabled-color-bg);
  --sp-enabled-color-fg: var(--main-textfield-enabled-color-fg);
  --sp-enabled-color-bg: var(--main-textfield-enabled-color-bg);
  --sp-focus-color-fg: var(--main-textfield-focus-color-fg);
  --sp-focus-color-bg: var(--main-textfield-focus-color-bg);
  --sp-hover-color-fg: var(--main-textfield-hover-color-fg);
  --sp-hover-color-bg: var(--main-textfield-hover-color-bg);
  --sp-disabled-border-color: var(--main-disabled-border-color);
  --sp-enabled-border-color: var(--main-enabled-border-color);
  --sp-focus-border-color: var(--main-focus-border-color);
  --sp-hover-border-color: var(--main-hover-border-color);
  */
  
  /* #########################*/
  
  /* DEFAULT                 */
  
  /* #########################*/
  
  /*.qx-aum-radio-button *,*/
  .qx-aum-spinner .qx-clickable.qx-aum-abstract-field .qx-text,
  .qx-aum-spinner.qx-aum-abstract-field .qx-text,
  .qx-aum-spinner * {
    font: var(--chb-font);
    background-color: var(--chb-disabled-color-bg) ;
    color: var(--chb-disabled-color-fg);
  }
  
  /* ########################*/
  
  /* SPINNER Disabled        */
  
  /* ########################*/
  .qx-aum-spinner {
    background-color: var(--sp-disabled-color-bg) ;
    border-bottom-color: var(--sp-disabled-border-color) ;
    border-left-color: transparent ;
    border-top-color: transparent ;
    border-right-color: transparent ;
    border-width: var(--main-disabled-border-width) ;
    border-radius: var(--main-disabled-border-radius) ;
    border-style: solid ;
    margin: var(--main-disabled-border-margin) ;
    padding: var(--main-disabled-border-padding) ;
  }
  
  /* hide border of inner textField */
  .qx-aum-spinner .qx-text.ui-spinner-input {
    border: none ;
  }
  
  /* Hide buttons on inactive fields */
  .qx-aum-spinner.qx-disabled .ui-button {
    display: none;
  }
  .qx-aum-spinner.qx-has-focus,
  .qx-aum-spinner.qx-has-focus .qx-text {
    background: none ;
    background-image: none ;
    background-position-x: initial ;
    background-position-y: initial ;
    background-size: initial ;
    background-repeat: initial ;
    background-attachment: initial ;
    background-origin: initial ;
    background-clip: initial ;
    background-color: transparent ;
  }
  
  /* ########################*/
  
  /* SPINNER Enabled        */
  
  /* ########################*/
  .qx-aum-spinner.qx-active.qx-c-activefield.qx-not-readonly {
    background-color: var(--sp-enabled-color-bg) ;
    border-color: var(--sp-enabled-border-color) ;
    border-width: var(--main-enabled-border-width) ;
    border-radius: var(--main-enabled-border-radius) ;
    border-style: solid ;
    margin: var(--main-enabled-border-margin);
    padding: var(--main-enabled-border-padding);
  }
  
  /* ########################*/
  
  /* SPINNER Focus        */
  
  /* ########################*/
  .qx-aum-spinner.qx-focused
  /*.qx-aum-spinner.qx-active.ui-state-active.qx-c-activefield.qx-focusable-field.qx-enabled.qx-not-readonly.qx-focused.ui-state-focus.qx-has-focus*/
  {
    background-color: var(--sp-focus-color-bg) ;
    border-color: var(--sp-focus-border-color) ;
    border-width: var(--main-focus-border-width) ;
    border-radius: var(--main-focus-border-radius) ;
    border-style: solid ;
    margin: var(--main-focus-border-margin) ;
    padding: var(--main-focus-border-padding) ;
  }
  
  /* ########################*/
  
  /* SPINNER Hover        */
  
  /* ########################*/
  .qx-aum-spinner.qx-active.qx-c-activefield.qx-not-readonly:hover {
    background-color: var(--sp-hover-color-bg) ;
    border-color: var(--sp-hover-border-color) ;
    border-width: var(--main-hover-border-width) ;
    border-radius: var(--main-hover-border-radius) ;
    border-style: solid ;
    margin: var(--main-hover-border-margin);
    padding: var(--main-hover-border-padding);
  }
  
  /*##############################################################################################################
  # 
  # FUNCTIONFIELD 
  #
  ##############################################################################################################*/
  
  /*
  /*
  --ff-disabled-color-fg: var(--main-textfield-disabled-color-fg);
  --ff-disabled-color-bg: var(--main-textfield-disabled-color-bg);
  --ff-enabled-color-fg: var(--main-textfield-enabled-color-fg);
  --ff-enabled-color-bg: var(--main-textfield-enabled-color-bg);
  --ff-focus-color-fg: var(--main-textfield-focus-color-fg);
  --ff-focus-color-bg: var(--main-textfield-focus-color-bg);
  --ff-hover-color-fg: var(--main-textfield-hover-color-fg);
  --ff-hover-color-bg: var(--main-textfield-hover-color-bg);
  --ff-disabled-border-color: var(--main-disabled-border-color);
  --ff-enabled-border-color: var(--main-enabled-border-color);
  --ff-focus-border-color: var(--main-focus-border-color);
  --ff-hover-border-color: var(--main-hover-border-color);
  */
  
  /* ######################################*/
  
  /* FunctionField Button                  */
  
  /* disabled - button event does not exist*/
  
  /* ######################################*/
  .qx-aum-function-field-abs .qx-aum-button.qx-inactive.qx-disabled {
    display: none;
  }
  
  /*remove background image from Function Field set by jq*/
  .qx-aum-function-field-abs.qx-c-fcls_image_remove {
    background: none;
  }
  
  /* Replace the default icon and center it on the button 12.12.2018 HuHo*/
  .qx-aum-function-field-abs .qx-aum-button .qx-no-image .qx-image {
    /*display: block;*/
    
    align-self: center;
    text-align: center ;
    vertical-align: middle ;
    content: url(/public/querix/icon/svg/24/ic_sub_dialog_24px.svg);
  }
  
  /* ------------------------------------------------------ */
  
  /* START  Hide any background formating done by jQuery */
  
  /*
  .qx-text.qx-focus-target
  {
   background: none ;
   background-color: transparent ;
  
  }
  */
  
  /* ########################*/
  
  /* FUNCTIONFIELD DISABLED  */
  
  /* ########################*/
  
  /* This needs to be done because this legacy functionField widget is a functionField with nested textField and button *
  /*Generally, one should NOT use any functionField anymore.. would save a lot of CSS code */
  .qx-aum-function-field-abs {
    background-color: var(--ff-disabled-color-bg) ;
    border-width: var(--main-disabled-border-width) ;
    border-radius: var(--main-disabled-border-radius) ;
    border-left-color: transparent ;
    border-top-color: transparent ;
    border-right-color: transparent ;
    border-bottom-color: var(--ff-disabled-border-color) ;
    border-style: solid ;
    margin: var(--main-disabled-border-margin) ;
    padding: var(--main-disabled-border-padding) ;
  }
  
  /* inner textField container*/
  .qx-aum-function-field-abs .qx-ff-text .qx-aum-text-field .qx-text {
    margin: 0px ;
    padding: 0px ;
    border-style: hidden;
    border: none ;
    border-color: transparent ;
    border-image-width: 0px ;
    vertical-align: center;
  }
  
  /* ########################*/
  
  /* FUNCTIONFIELD Enabled   */
  
  /* ########################*/
  
  /*elements enabled with border */
  .qx-active.qx-c-activefield.qx-aum-function-field-abs.qx-not-readonly {
    background-color: var(--ff-enabled-color-bg) ;
    border-color: var(--ff-enabled-border-color) ;
    border-width: var(--main-enabled-border-width) ;
    border-radius: var(--main-enabled-border-radius) ;
    border-style: solid ;
    margin: var(--main-enabled-border-margin);
    padding: var(--main-enabled-border-padding);
  }
  
  /* ##########################################################*/
  
  /* FUNCTIONFIELD ENABLED  in TABLE / DISPLAY ARRAY */
  
  /* ##########################################################*/
  .qx-table-cell.qx-c-activefield.qx-content .qx-aum-function-field-abs {
    margin: 0 ;
  }
  .qx-table-cell.qx-c-activefield.qx-content .qx-aum-function-field-abs .qx-ff-text.qx-focus-element {
    margin: 0px ;
    vertical-align: center ;
  }
  
  /* ########################*/
  
  /* FUNCTIONFIELD Focused   */
  
  /* ########################*/
  .qx-focused.qx-has-focus.qx-aum-function-field-abs.qx-active.qx-not-readonly {
    background-color: var(--ff-focus-color-bg) ;
    border-color: var(--ff-focus-border-color) ;
    border-width: var(--main-focus-border-width) ;
    border-radius: var(--main-focus-border-radius) ;
    border-style: solid ;
    margin: var(--main-focus-border-margin) ;
    padding: var(--main-focus-border-padding) ;
  }
  
  /*focus on child inner textField*/
  .qx-aum-function-field-abs.qx-has-focus .qx-ff-text,
  .qx-aum-function-field-abs.qx-has-focus .qx-ff-text * {
    background: none ;
    background-image: none ;
    background-position-x: initial ;
    background-position-y: initial ;
    background-size: initial ;
    background-repeat: initial ;
    background-attachment: initial ;
    background-origin: initial ;
    background-clip: initial ;
    background-color: transparent ;
  }
  
  /* ########################*/
  
  /* FUNCTIONFIELD Hover     */
  
  /* ########################*/
  .qx-aum-function-field-abs.qx-active.qx-not-readonly:hover {
    background-color: var(--ff-hover-color-bg) ;
    border-color: var(--ff-hover-border-color) ;
    border-width: var(--main-hover-border-width) ;
    border-style: solid ;
    border-radius: var(--main-hover-border-radius) ;
    margin: var(--main-hover-border-margin);
    padding: var(--main-hover-border-padding);
  }
  .qx-aum-function-field-abs.qx-active.qx-not-readonly .qx-ff-tex .qx-aum-text-field.qx-active.qx-c-qx-function-text-field:hover {
    color: var(--ff-hover-color-fg);
  }
  
  /*##############################################################################################################
  # 
  # TIMEEDIT
  #
  ##############################################################################################################*/
  
  /*
  --te-text-disabled-color-fg: var(--main-textfield-disabled-color-fg);
  --te-text-disabled-color-bg: var(--main-textfield-disabled-color-bg);
  --te-text-enabled-color-fg: var(--main-textfield-enabled-color-fg);
  --te-text-enabled-color-bg: var(--main-textfield-enabled-color-bg);
  --te-text-focus-color-fg: var(--main-textfield-focus-color-fg);
  --te-text-focus-color-bg: var(--main-textfield-focus-color-bg);
  --te-text-hover-color-fg: var(--main-textfield-hover-color-fg);
  --te-text-hover-color-bg: var(--main-textfield-hover-color-bg);
  --te-disabled-border-color: var(--main-disabled-border-color);
  --te-enabled-border-color: var(--main-enabled-border-color);
  --te-focus-border-color: var(--main-focus-border-color);
  --te-hover-border-color: var(--main-hover-border-color);
  */
  
  /* #################*/
  
  /* Timeedit DISABLED */
  
  /* #################*/
  .qx-aum-time-edit-field {
    background-color: var(--main-disabled-color-bg) ;
    border-width: var(--main-disabled-border-width) ;
    border-radius: var(--main-disabled-border-radius) ;
    border-left-color: transparent ;
    border-top-color: transparent ;
    border-right-color: transparent ;
    border-bottom-color: var(--te-disabled-border-color) ;
    border-style: solid ;
    margin: var(--main-disabled-border-margin) ;
    padding: var(--main-disabled-border-padding) ;
  }
  .qx-aum-time-edit-field .timepicker.qx-text {
    color: var(--te-text-disabled-color-fg);
    border-style: hidden ;
    margin: 0px;
    padding: 0px;
  }
  
  /* START  Hide any background formating done by jQuery */
  .qx-aum-time-edit-field .qx-text.qx-focus-target {
    background: none ;
    background-color: transparent ;
  }
  
  /* ####################*/
  
  /* Timeedit ENABLED    */
  
  /* ####################*/
  .qx-aum-time-edit-field.qx-active.qx-not-readonly {
    background-color: var(--te-text-enabled-color-bg) ;
    border-width: var(--main-enabled-border-width) ;
    border-radius: var(--main-enabled-border-radius) ;
    border-color: var(--te-enabled-border-color) ;
    border-style: solid ;
    margin: var(--main-enabled-border-margin);
    padding: var(--main-enabled-border-padding);
  }
  .qx-aum-time-edit-field.qx-active.qx-not-readonly .timepicker.qx-text {
    color: var(--te-text-enabled-color-fg);
    border-style: hidden ;
    margin: 0px;
    padding: 0px;
  }
  
  /* ####################*/
  
  /* Timeedit FOCUS      */
  
  /* ####################*/
  .qx-aum-time-edit-field.qx-focused {
    background-color: var(--te-text-focus-color-bg) ;
    border-width: var(--main-focus-border-width) ;
    border-radius: var(--main-focus-border-radius) ;
    border-color: var(--te-focus-border-color) ;
    border-style: solid ;
    margin: var(--main-focus-border-margin) ;
    padding: var(--main-focus-border-padding) ;
  }
  .qx-aum-time-edit-field.qx-focused .timepicker.qx-text {
    color: var(--te-text-focus-color-fg);
  }
  
  /* ------------------------------------------------------ */
  .qx-aum-time-edit-field.qx-has-focus,
  .qx-aum-time-edit-field.qx-has-focus * {
    background: none ;
    background-image: none ;
    background-position-x: initial ;
    background-position-y: initial ;
    background-size: initial ;
    background-repeat: initial ;
    background-attachment: initial ;
    background-origin: initial ;
    background-clip: initial ;
    background-color: transparent ;
  }
  
  /* ##################*/
  
  /* HOVER - in input  */
  
  /* ##################*/
  .qx-aum-time-edit-field.qx-active.qx-enabled.qx-not-readonly:hover {
    background-color: var(--te-text-hover-color-bg) ;
    border-width: var(--main-hover-border-width) ;
    border-radius: var(--main-hover-border-radius) ;
    border-color: var(--te-hover-border-color) ;
    border-style: solid ;
    margin: var(--main-hover-border-margin);
    padding: var(--main-hover-border-padding);
  }
  .qx-aum-time-edit-field.qx-active.qx-not-readonly .timepicker.qx-text:hover {
    color: var(--te-text-hover-color-fg);
  }
  
  /*##############################################################################################################
  # 
  # LISTBOX
  #
  ##############################################################################################################*/
  
  /*
  --lbox-disabled-color-bg: var(--main-list-disabled-color-bg);
  --lbox-enabled-color-bg: var(--main-list-enabled-color-bg);
  --lbox-focus-color-bg: var(--main-list-focus-color-bg);
  --lbox-hover-color-bg: var(--main-list-hover-color-bg);
  
  --lbox-disabled-border-color: var(--main-disabled-border-color);
  --lbox-enabled-border-color: var(--main-enabled-border-color);
  --lbox-focus-border-color: var(--main-focus-border-color);
  --lbox-hover-border-color: var(--main-hover-border-color);
  
  --lbox-item-disabled-color-fg: var(--main-list-item-disabled-color-fg);
  --lbox-item-enabled-color-fg: var(--main-list-item-enabled-color-fg);
  --lbox-item-focus-color-fg: var(--main-list-item-focus-color-fg);
  --lbox-item-hover-color-fg: var(--main-list-item-hover-color-fg);
  */
  
  /* #################*/
  
  /* Listbox DISABLED */
  
  /* #################*/
  
  /* Default - Outer container */
  .qx-aum.qx-aum-list-box.qx-aum-abstract-field {
    margin: 30px ;
    padding: 30px ;
  }
  .qx-aum.qx-aum-list-box.qx-aum-abstract-field .qx-text.qx-focus-target {
    margin-left: 1px ;
    margin-right: 2px ;
    margin-top: 2px ;
    margin-bottom: 2px ;
    padding-left: 1px ;
    padding-right: 2px ;
    padding-top: 2px ;
    padding-bottom: 2px ;
  }
  .qx-aum.qx-aum-list-box.qx-aum-abstract-field .qx-text.qx-focus-target .qx-option {
    margin-left: 1px ;
    margin-right: 2px ;
    margin-top: 2px ;
    margin-bottom: 2px ;
    padding-left: 1px ;
    padding-right: 2px ;
    padding-top: 2px ;
    padding-bottom: 2px ;
  }
  
  /* --------------------------------------------------------------*/
  .qx-aum-list-box {
    font: var(--qx-listfield-font) ;
    background-color: var(--lbox-disabled-color-bg) ;
    border-color: var(--lbox-disabled-border-color) ;
    border-width: var(--main-disabled-border-width) ;
    border-radius: var(--main-disabled-border-radius) ;
    border-style: solid ;
    margin: 30px ;
    /*var(--main-disabled-border-margin) ;*/
    padding: var(--main-disabled-border-padding) ;
  }
  
  /* listbox - pseudo container */
  .qx-aum-list-box,
  .qx-aum-list-box.qx-aum-abstract-field.ui-state-disabled.qx-disabled.qx-readonly {
    font: var(--qx-listfield-font) ;
    background-color: var(--lbox-disabled-color-bg) ;
    border-color: var(--lbox-disabled-border-color) ;
    border-width: var(--main-disabled-border-width) ;
    border-radius: var(--main-disabled-border-radius) ;
    border-style: solid ;
    margin: var(--main-disabled-border-margin) ;
    padding: var(--main-disabled-border-padding) ;
  }
  
  /* list item - container*/
  .qx-aum-list-box .qx-text.qx-focus-target,
  .qx-aum-list-box.qx-aum-abstract-field.ui-state-disabled.qx-disabled.qx-readonly .qx-text.qx-focus-target {
    border: none;
  }
  
  /* List item */
  
  /* qx-aum-list-box.qx-inactive.qx-disabled .qx-text.qx-focus-target .qx-option */
  .qx-aum-list-box .qx-text.qx-focus-target .qx-option,
  .qx-aum-list-box.qx-aum-abstract-field.ui-state-disabled.qx-disabled.qx-readonly .qx-text.qx-focus-target .qx-option {
    background:none ;
    background-image: none ;
    /*    color: var(--lbox-item-disabled-color-fg) ;
      background-color: var(--lbox-item-disabled-color-bg);
  */
    border: none;
  }
  
  /* #################*/
  
  /* Listbox ENABLED */
  
  /* #################*/
  
  /* listbox container */
  .qx-aum-list-box.qx-active.qx-c-activefield.qx-not-readonly {
    background-color: var(--lbox-enabled-color-bg) ;
    border-color: var(--lbox-enabled-border-color) ;
    border-width: var(--main-enabled-border-width) ;
    border-radius: var(--main-enabled-border-radius) ;
    border-style: solid ;
    margin: var(--main-enabled-border-margin) ;
    padding: var(--main-enabled-border-padding) ;
  }
  
  /* #################*/
  
  /* Listbox FOCUS */
  
  /* #################*/
  .qx-focused.qx-has-focus.qx-aum-list-box.qx-active.qx-not-readonly {
    background-color: var(--lbox-focus-color-bg) ;
    border-color: var(--lbox-focus-border-color) ;
    border-width: var(--main-focus-border-width) ;
    border-radius: var(--main-focus-border-radius) ;
    border-style: solid ;
    margin: var(--main-focus-border-margin) ;
    padding: var(--main-focus-border-padding) ;
  }
  
  /* #################*/
  
  /* Listbox HOVER */
  
  /* #################*/
  .qx-aum-list-box.qx-active.qx-c-activefield.qx-not-readonly:hover {
    background-color: var(--lbox-hover-color-bg) ;
    border-color: var(--lbox-hover-border-color) ;
    border-width: var(--main-hover-border-width) ;
    border-radius: var(--main-hover-border-radius) ;
    border-style: solid ;
    margin: var(--main-hover-border-margin) ;
    padding: var(--main-hover-border-padding) ;
  }
  
  /*##############################################################################################################
  # 
  # END LISTBOX
  #
  ##############################################################################################################*/
  
  /*##############################################################################################################
  # 
  # BUTTON
  #
  ##############################################################################################################*/
  
  /*
  --bt-disabled-color-fg: var(--main-button-on-dabg-disabled-color-fg);
  --bt-disabled-color-bg: var(--main-button-on-dabg-disabled-color-bg);
  --bt-disabled-border-color: var(--main-button-on-dabg-disabled-border-color);
  
  --bt-enabled-color-fg: var(--main-button-on-dabg-enabled-color-fg);
  --bt-enabled-color-bg: var(--main-button-on-dabg-enabled-color-bg);
  --bt-enabled-border-color: var(--main-button-on-dabg-enabled-border-color);
  
  --bt-focus-color-fg: var(--main-button-on-dabg-focus-color-fg);
  --bt-focus-color-bg: var(--main-button-on-dabg-focus-color-bg);
  --bt-focus-border-color: var(--main-button-on-dabg-focus-border-color);
  
  --bt-hover-color-fg: var(--main-button-on-dabg-hover-color-fg);
  --bt-hover-color-bg: var(--main-button-on-dabg-hover-color-bg);
  --bt-hover-border-color: var(--main-button-on-dabg-hover-border-color);
  
  --bt-font: var(--qx-widget-button-font);
  */
  
  /* #################*/
  
  /* BUTTON Label Font */
  
  /* #################*/
  .qx-aum-button .qx-no-image .qx-text {
    font: var(--btf-font) ;
  }
  
  /* #################*/
  
  /* BUTTON Default */
  
  /* #################*/
  .qx-aum-button .ui-state-default,
  .qx-aum-button.ui-widget-content .ui-state-default,
  .qx-aum-button.ui-widget-header .ui-state-default {
    border: none;
  }
  
  /* #########################*/
  
  /* DISABLED - element background:yes border: no  */
  
  /* ########################*/
  .qx-aum-button.qx-inactive.ui-state-disabled.qx-disabled.qx-readonly,
  .qx-aum-button {
    color: var(--btf-disabled-color-fg) ;
    background-color: var(--btf-disabled-color-bg) ;
    border-color : var(--btf-disabled-border-color) ;
    border-width: var(--main-button-disabled-border-width) ;
    border-radius: var(--main-button-disabled-border-radius) ;
    border-style: solid ;
    margin: var(--main-button-disabled-border-margin) ;
    padding: var(--main-button-disabled-border-padding) ;
  }
  .qx-aum.qx-aum-button .qx-no-image.ui-button {
    background-color: transparent ;
  }
  .qx-aum.qx-aum-button .qx-no-image.ui-button.ui-widget .ui-button-text .qx-text-with-icon {
    background-color: transparent ;
  }
  
  /* #########################*/
  
  /* ENABLED Button           /*
  /* element background:yes border: no  */
  
  /* ########################*/
  .qx-aum-button.qx-active,
  .qx-aum-button {
    color: var(--btf-enabled-color-fg) ;
    background-color: var(--btf-enabled-color-bg) ;
    border-color : var(--btf-enabled-border-color) ;
    border-width: var(--main-button-enabled-border-width) ;
    border-radius: var(--main-button-enabled-border-radius) ;
    border-style: solid ;
    margin: var(--main-button-enabled-border-margin) ;
    padding: var(--main-button-enabled-border-padding) ;
  }
  .qx-aum-button.qx-active .qx-no-image.ui-button {
    background-color: transparent ;
  }
  .qx-aum.qx-aum-button.qx-active .qx-no-image.ui-button.ui-widget .ui-button-text .qx-text-with-icon {
    background-color: transparent ;
  }
  
  /* #########################*/
  
  /* FOCUS Button           /*
  /* element background:yes border: no  */
  
  /* ########################*/
  .qx-aum-button.qx-focused,
  .qx-aum-button {
    color: var(--btf-focus-color-fg) ;
    background-color: var(--btf-focus-color-bg) ;
    border-color : var(--btf-focus-border-color) ;
    border-width: var(--main-button-focus-border-width) ;
    border-radius: var(--main-button-focus-border-radius) ;
    border-style: solid ;
    margin: var(--main-button-focus-border-margin) ;
    padding: var(--main-button-focus-border-padding) ;
  }
  
  /* #########################*/
  
  /* HOVER Button           /*
  /* element background:yes border: no  */
  
  /* ########################*/
  .qx-aum-button.qx-active:hover,
  .qx-aum-button:hover {
    color: var(--btf-hover-color-fg) ;
    background-color: var(--btf-hover-color-bg) ;
    border-color : var(--btf-hover-border-color) ;
    border-width: var(--main-button-hover-border-width) ;
    border-radius: var(--main-button-hover-border-radius) ;
    border-style: solid ;
    margin: var(--main-button-hover-border-margin) ;
    padding: var(--main-button-hover-border-padding) ;
  }
  
  /*########################################################*/
  
  /* BUTTON General                                         */
  
  /*########################################################*/
  
  /*Any general button*/
  .qx-no-image.ui-button.ui-widget .ui-button-text .qx-text-with-icon {
    font: var(--qx-widget-button-label-font) ;
    color: var(--main-button-on-brbg-color-fg) ;
    background-color: var(--main-button-on-brbg-color-bg) ;
    border: 1px solid var(--main-button-on-brbg-border-color) ;
  }
  
  /* Hover button color changes */
  .qx-no-image.ui-button.ui-widget .ui-button-text .qx-text-with-icon:hover {
    color: var(--main-button-on-brbg-hover-color-fg) ;
    background-color: var(--main-button-on-brbg-hover-color-bg);
    border: 1px solid var(--main-button-on-brbg-hover-border-color) ;
  }
  
  /*
  --bt-color-fg: var(--main-button-color-fg); 
  --bt-color-bg: var(--main-button-color-bg); 
  --bt-border-color: var(--main-button-border-color);
  --bt-hover-color-fg: var(--main-color-001); 
  --bt-hover-color-bg: var(--main-color-073); 
  --bt-hover-border-color: var(--main-button-hover-border-color);
  */
  
  /*All button-labels (from any button) in forms with the (rootfolder) class name fcls_container_menu*/
  .qx-c-fcls_container_menu .qx-aum-button .qx-text-with-icon {
    justify-content:flex-start;
  }
  
  /*###############################################
  Fix size buttons
  /* Do not use these - they are possibly going to be removed later */
  
  /*###############################################*/
  .qx-c-fcls_button_icon {
    width:2rem;
    height:2rem;
  }
  .qx-c-fcls_button_1 {
    width:5rem;
  }
  .qx-c-fcls_button_2 {
    width:10rem;
  }
  .qx-c-fcls_button_3 {
    width:15rem;
  }
  .qx-c-fcls_button_4 {
    width:20rem;
  }
  .qx-c-fcls_button_5 {
    width:25rem;
  }
  
  /*########################################
  Tab Handles 
  ##########################################*/
  
  /*Note, we need a different/unique class name for MDI-container tab-handles*/
  
  /*at the moment, this class will select ALL tab handles normal form AND mdi-container */
  
  /* Tab-Page Form Container */
  .qx-aum.qx-aum-tab.qx-aum-abstract-container .qx-tabcontrol-header.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header {
    background-color: var(--cnt-tab-handle-container-area-bg);
  }
  .ui-tabs-nav {
    // min-width: 150px;
    color: white;
    background-color: #3a597e;
  }
  .ui-tabs-nav .qx-text {
    // min-width: 150px;
    color: white;
  }  

  .qx-aum-function-field-abs .qx-aum-text-field {
    border: none !important;
    background: transparent !important;
  }
}

.qx-material-design {
  .qx-aum-grid-panel > :not(.qx-aum-abstract-container) {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
  }

  .qx-aum-abstract-field:not([data-helper-text]):not(.qx-table-cell) {
    margin-bottom: 2px;
  }

  .qx-aum > iframe {
    border: none;
  }

  .qx-aum-browser,
  .qx-aum-canvas,
  .qx-aum-web-component {
    border: 1px solid rgba(92, 156, 204, .5);
  }
}
