
.qx-c-fcls_flexbox .qx-tbody > tbody > tr > td:nth-child(1) img {
   height: 120px;
}

.qx-c-fcls_flexbox .qx-tbody > tbody > tr > td:nth-child(2) {
    display:none;
}

/*Hide the URL colummn - alternatively, change your 4gl/form */
/*.qx-c-fcls_flexbox .qx-tbody td:nth-child(<2>) {
display:none;
}
*/

.qx-c-fcls_flexbox.qx-aum-table.qx-table {
  background-image: none ;
  /*background-color: #d0e5f5;*/
  background-color: #ffffff;
}
.qx-c-fcls_flexbox .qx-tbody {
  display: block;
}
.qx-c-fcls_flexbox .qx-hrow,
.qx-c-fcls_flexbox .qx-frow,
.qx-c-fcls_flexbox .qx-tbody > thead {
  display: none ;
}
.qx-c-fcls_flexbox .qx-brow {
  padding-top:0 ;
}
.qx-c-fcls_flexbox .qx-tbody > tbody {
  display: block;
  /*display: flex;
  flex-flow: row wrap;
  justify-content: space-around;*/
  padding-top: 1em;
}
.qx-c-fcls_flexbox .qx-tbody > tbody > tr {
  float: left;
  display: flex;
  flex-flow: column;
  flex: 1 1 30%;
  align-self: flex-start;
  margin: 1%;
  min-width: 170px;
  border: none;
  background: none ;
}
.qx-c-fcls_flexbox .qx-tbody > tbody > tr.qx-scroll-space {
    flex: 0 0 100%;
}


/*qx-table qx-aum qx-aum-table qx-aum-abstract-data-table qx-aum-abstract-container qx-has-header qx-c-activefield qx-c-fcls_flexbox*/

.qx-c-fcls_flexbox.qx-table .qx-tbody > tbody > tr > td {
  height: auto ;
  border: none;
  align-self: center;
}
.qx-c-fcls_flexbox .qx-tbody > tbody > tr * {
  background: none ;
}
.qx-c-fcls_flexbox .qx-tbody > tbody > tr > td img:first-child {
  border-radius: 1em;
}
