/* .qx-identifier-lbValueUserPicture {*/
#lbValueUserPicture {	
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 1px solid #fff;
}

/*##############################################################################################*/
/* Form Class field fcls_length                                                                 */
/*##############################################################################################*/

/* issue with length_01 - no idea why */
.qx-c-fcls_length_01 {
    width: 66rem;
}

.qx-c-fcls_length_05 {
    width: 04rem;
}

.qx-c-fcls_length_10 {
    width: 8rem;
}

.qx-c-fcls_length_15 {
    width: 12rem;
}

.qx-c-fcls_length_20 {
    width: 16rem;
}
.qx-c-fcls_length_30 {
    width: 24rem;
}

.qx-c-fcls_length_40 {
    width: 32rem;
}

.qx-c-fcls_length_50 {
    width: 40rem;
}

.qx-c-fcls_length_60 {
    width: 48rem;
}





/*Changes hilited row in the table*/
/*.qx-aum.qx-c-attribute_blue.qx-aum.qx-c-attribute_reverse, .qx-aum.qx-c-attribute_blue.qx-aum.qx-c-attribute_reverse * {
    background-color: #f6a828;
    color: white;
}*/


/*Changes font-weight of the start menu*/
/*.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus
.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-active {
	font-weight: normal;
}*/

/*Changes menu items color in the start menu*/
/*.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-active {
	color: #212121;
}*/

.ui-accordion-header .qx-text{
	font-size: 1rem;
}


.ui-accordion-header .qx-text {
	font-size: 1rem;
	color: #3a597e; /*was #2e6e9e;  */ 

}




/*
.qx-o-aum-window.qx-o-c-full-screen,
.qx-o-aum-window.qx-o-identifier-screen,
.ui-widget-content, .qx-window-border {
	background-color: #fff;
	background-image: none;
}
*/

.qx-menu-group-header {
	border:none;
}

.qx-aum-menu-command:hover,
.qx-menu-group-header:hover
 {
	background: #f0f8ff;
}
.qx-menu-group-header {
	background: transparent;
	border-radius: 0;
}

.ui-state-default.qx-aum-menu-item {
	background: transparent;
		border:none;

}

.qx-aum-menu-group .ui-widget-content {
	background: transparent;
	border: none;
}

.qx-aum-menu-item .ui-state-default {
	font-weight: initial ;
}




