.qx-c-custom-cell-dimensions {
width: var(--main-hybrid-legacy-cell-width) ;
height: var(--main-hybrid-legacy-cell-height) ;
}

/*################################################################################################################*/
/*jQuery icon image overwrite.. we want the blue map, not yello*/
/*################################################################################################################*/
.ui-state-active .ui-icon {
	background-image: url(/public/querix/css/images/ui-icons_217bc0_256x240.png);
}

/*BEGIN PREVENT WIDGETS IN COORDPANEL FROM THE SIZE AND POSITION CHANGES */
.qx-aum-coord-panel .qx-aum-label,
.qx-aum-coord-panel .qx-aum-text-field,
.qx-aum-coord-panel .qx-aum-text-area,
.qx-aum-coord-panel .qx-aum-function-field-abs, 
.qx-aum-coord-panel .qx-aum-combo-box,
.qx-aum-coord-panel .qx-aum-calendar.qx-aum-abstract-text-field,
.qx-aum-coord-panel .qx-aum-list-box,
.qx-aum-coord-panel .qx-aum-spinner,
.qx-aum-coord-panel .qx-aum-radio-group.qx-aum-abstract-field,
.qx-aum-coord-panel .qx-aum-blob-viewer,
.qx-aum-coord-panel .qx-aum-browser,
.qx-aum-coord-panel .qx-aum-progress-bar,
.qx-aum-coord-panel .qx-aum-radio,
.qx-aum-coord-panel .qx-aum-slider,
.qx-aum-coord-panel .qx-aum-canvas,
.qx-aum-coord-panel .qx-aum-scroll-bar,
.qx-aum-coord-panel .qx-aum-time-edit-field,
.qx-aum-coord-panel .qx-aum-button .qx-text,
.qx-aum-coord-panel .qx-aum-button,
.qx-aum-coord-panel .qx-aum-check-box, 
.qx-aum-coord-panel .qx-aum.qx-aum-button.qx-aum-abstract-string-field.qx-aum-abstract-field.qx-has-text {
	margin-top:0px ;
	margin-bottom:0px  ;	
	margin-right: 0px ;
	margin-left: 0px ;
	padding-left: 0px ;
	padding-right: 0px ;
	padding-top: 0px ;
	padding-bottom: 0px ;	
}

/* minor padding for inner text fields in PER legacy */
.qx-aum-coord-panel .qx-aum-text-field .qx-text
{
	padding-left: var(--main-hybrid-legacy-padding) ;
	padding-right: var(--main-hybrid-legacy-padding) ;
}

/*Focus field in input array*/
.qx-aum-coord-panel .qx-aum.qx-element-role-input.qx-active.ui-state-active.qx-focusable-field.qx-focused.qx-has-focus.qx-c-activefield.qx-c-lycia_currentrow
{
	margin-top:0px ;
	margin-bottom:0px  ;	
	margin-right: 0px ;
	margin-left: 0px ;
	padding-left: 0px ;
	padding-right: 0px ;
	padding-top: 0px ;
	padding-bottom: 0px ;	
}




/* text field padding for legacy coorindate panels */
.qx-aum-coord-panel .qx-text.qx-focus-target {
	padding: var(--main-hybrid-legacy-padding) ;
}



/*
vior@Aug23.2019
Looks wrong, since widgets in the coord panel have sizes present by the server
*/
// .qx-aum-coord-panel .qx-aum-label,
// .qx-aum-coord-panel .qx-aum.qx-aum-text-field, /*textField*/
// .qx-aum-coord-panel .qx-single-row.qx-aum.qx-aum-function-field-abs,  /*functionField*/
// .qx-aum-coord-panel .qx-aum.qx-aum-combo-box,  /*ComboList*/
// .qx-aum-coord-panel .qx-aum.qx-aum-calendar,  /*Calendar*/
// .qx-aum-coord-panel .qx-single-row.ui-spinner.qx-aum-spinner, /*Spinner*/
// .qx-aum-coord-panel .qx-single-row.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
// .qx-aum-coord-panel .qx-aum.qx-aum-check-box,  /*CheckBox*/
// .qx-aum-coord-panel .qx-aum.qx-aum-radio, /*Single RadioButton *special widget*/
// .qx-aum-coord-panel .qx-bool-widget.qx-aum.qx-aum-radio,
// .qx-aum-coord-panel .qx-single-row.qx-aum-button, /*button*/
// .qx-aum-coord-panel .qx-aum-progress-bar,
// .qx-aum-coord-panel .qx-horizontal.qx-aum.qx-aum-slider,
// .qx-aum-coord-panel .qx-aum.qx-aum-radio-group
// {
// 	height: var(--qx-qch, 2.2rem) ;
// }
/*END PREVENT WIDGETS IN COORDPANEL FROM THE SIZE AND POSITION CHANGES */


/* ############################################################*/
/* RING-MENU                                                   */
/* ############################################################*/
/* Hide ringmenu label (on the left side of the menu) */
.qx-menu-identifier{
	display: none;
}

.qx-aum-menu-command.qx-aum-menu-item.qx-element-role-ringmenu .qx-no-image.qx-focus-target.ui-button .ui-button-text .qx-text
{
 font: var(--qx-toolbar-font);
}





/* ####################*/
/* FOCUS - in input    */
/* ####################*/

.qx-aum-coord-panel .qx-aum-text-field.qx-focused.qx-has-focus.qx-not-readonly.qx-c-activefield:not(.qx-c-qx-function-text-field), 
.qx-aum-coord-panel .qx-aum.qx-aum-abstract-field.qx-focused.qx-has-focus

{
 border-width: var(--main-focus-border-width) ;
 border-radius: var(--main-focus-border-radius)  ;
 border-color: var(--main-focus-border-color)  ; 
 border-style: solid ;
 margin: 0px ;
 padding: 0px ; 
 padding-left: 2px ;	
 background-color: var(--main-focus-color-bg) ;

}


