
.qx-c-VictorClass .qx-c-fcls_data_widget.qx-c-fcls_length_01qch 

/*new vdom length*/
.qx-c-fcls_data_widget.qx-c-fcls_length_01qch
{
	width: var(--main-length-01qch) ;
}
.qx-c-fcls_data_widget.qx-c-fcls_length_05qch
{
	width: var(--main-length-05qch) ;
}
.qx-c-fcls_data_widget.qx-c-fcls_length_10qch
{
	width: var(--main-length-10qch) ;
}
.qx-c-fcls_data_widget.qx-c-fcls_length_15qch
{
	width: var(--main-length-15qch) ;
}
.qx-c-fcls_data_widget.qx-c-fcls_length_20qch
{
	width: var(--main-length-20qch) ;
}
.qx-c-fcls_data_widget.qx-c-fcls_length_25qch
{
	width: var(--main-length-25qch) ;
}
.qx-c-fcls_data_widget.qx-c-fcls_length_30qch
{
	width: var(--main-length-30qch) ;
}
.qx-c-fcls_data_widget.qx-c-fcls_length_35qch
{
	width: var(--main-length-35qch) ;
}
.qx-c-fcls_data_widget.qx-c-fcls_length_40qch
{
	width: var(--main-length-40qch) ;

}
.qx-c-fcls_data_widget.qx-c-fcls_length_50qch
{
	width: var(--main-length-50qch) ;
}
.qx-c-fcls_data_widget.qx-c-fcls_length_60qch
{
	width: var(--main-length-60qch) ;

}


/* ############################################## */
/* Absolute FIX Length defined using form classes */
/* ############################################## */

/* .qx-c-fcls_length_01qch */
/*.qx-c-fcls_length_01qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field,*/ /*textField*/
.qx-c-fcls_length_01qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_01qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_01qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_01qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_01qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_01qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_01qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_01qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_01qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: var(--main-length-01qch) ;
}

/* .qx-c-fcls_length_05qch */
/*.qx-c-fcls_length_05qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field,*/ /*textField*/
.qx-c-fcls_length_05qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_05qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_05qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_05qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_05qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_05qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_05qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_05qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_05qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: var(--main-length-05qch) ;
}

/* .qx-c-fcls_length_10qch */
/*.qx-c-fcls_length_10qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field,*/ /*textField*/
.qx-c-fcls_length_10qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_10qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_10qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_10qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_10qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_10qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_10qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_10qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_10qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: var(--main-length-10qch) ;
}
/* .qx-c-fcls_length_15qch */
/*.qx-c-fcls_length_15qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field,*/ /*textField*/
.qx-c-fcls_length_15qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_15qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_15qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_15qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_15qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_15qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_15qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_15qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_15qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: var(--main-length-15qch) ;
}


/* .qx-c-fcls_length_20qch */
/*.qx-c-fcls_length_20qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field,*/ /*textField*/
.qx-c-fcls_length_20qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_20qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_20qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_20qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_20qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_20qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_20qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_20qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_20qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: var(--main-length-20qch) ;
}

/* .qx-c-fcls_length_25qch */
/*.qx-c-fcls_length_25qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field,*/ /*textField*/
.qx-c-fcls_length_25qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_25qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_25qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_25qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_25qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_25qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_25qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_25qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_25qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: var(--main-length-25qch) ;
}

/* .qx-c-fcls_length_30qch */
/*.qx-c-fcls_length_30qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, *//*textField*/
.qx-c-fcls_length_30qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_30qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_30qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_30qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_30qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_30qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_30qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_30qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_30qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: var(--main-length-30qch) ;
}

/* .qx-c-fcls_length_35qch */
/*.qx-c-fcls_length_35qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field,*/ /*textField*/
.qx-c-fcls_length_35qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_35qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_35qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_35qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_35qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_35qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_35qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_35qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field ,/*scrollbar*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_35qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: var(--main-length-35qch) ;
}

/* .qx-c-fcls_length_40qch */
/*.qx-c-fcls_length_40qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field,*/ /*textField*/
.qx-c-fcls_length_40qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_40qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_40qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_40qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_40qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_40qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_40qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_40qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field ,/*scrollbar*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_40qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: var(--main-length-40qch) ;
}

/* .qx-c-fcls_length_50qch */
/*.qx-c-fcls_length_50qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field,*/ /*textField*/
.qx-c-fcls_length_50qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_50qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_50qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_50qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_50qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_50qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_50qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_50qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field,/*scrollbar*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_50qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: var(--main-length-50qch) ;
}

/* .qx-c-fcls_length_60qch */
/*.qx-c-fcls_length_60qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field,*/ /*textField*/
.qx-c-fcls_length_60qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_60qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_60qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_60qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_60qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_60qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_60qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_60qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field ,/*scrollbar*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_60qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	width: var(--main-length-60qch) ;
}


/* ############################################## */
/* More flexible range Length defined using form classes */
/* ############################################## */

/* .qx-c-fcls_length_flex_01qch */
/*.qx-c-fcls_length_flex_01qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field,*/ /*textField*/
.qx-c-fcls_length_flex_01qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_01qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_01qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: var(--main-length-01qch-min);
	/*width: 20rem ;*/
	width: auto ;
	max-width: var(--main-length-01qch-max);	
}


/* .qx-c-fcls_length_flex_05qch */
/*.qx-c-fcls_length_flex_05qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field,*/ /*textField*/
.qx-c-fcls_length_flex_05qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_05qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_05qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: var(--main-length-05qch-min);
	/*width: 20rem ;*/
	width: auto ;
	max-width: var(--main-length-05qch-max);	
}


/* .qx-c-fcls_length_flex_10qch */
/*.qx-c-fcls_length_flex_10qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, *//*textField*/
.qx-c-fcls_length_flex_10qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_10qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_10qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: var(--main-length-10qch-min);
	/*width: 20rem ;*/
	width: auto ;
	max-width: var(--main-length-10qch-max);	
}

/* .qx-c-fcls_length_flex_15qch */
/*.qx-c-fcls_length_flex_15qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, */ /*textField*/
.qx-c-fcls_length_flex_15qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_15qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_15qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: var(--main-length-15qch-min);
	/*width: 20rem ;*/
	width: auto ;
	max-width: var(--main-length-15qch-max);	
}


/* .qx-c-fcls_length_flex_20qch */
/*.qx-c-fcls_length_flex_20qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field,*/ /*textField*/
.qx-c-fcls_length_flex_20qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_20qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_20qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: var(--main-length-20qch-min);
	/*width: 20rem ;*/
	width: auto ;
	max-width: var(--main-length-20qch-max);	
}


/* .qx-c-fcls_length_flex_25qch */
/*.qx-c-fcls_length_flex_25qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, *//*textField*/
.qx-c-fcls_length_flex_25qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_25qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_25qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: var(--main-length-25qch-min);
	/*width: 20rem ;*/
	width: auto ;
	max-width: var(--main-length-25qch-max);	
}



/* .qx-c-fcls_length_flex_30qch */
/*.qx-c-fcls_length_flex_30qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field,*/ /*textField*/
.qx-c-fcls_length_flex_35qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_30qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_30qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: var(--main-length-30qch-min);
	/*width: 20rem ;*/
	width: auto ;
	max-width: var(--main-length-30qch-max);	
}

/* .qx-c-fcls_length_flex_35qch */
/*.qx-c-fcls_length_flex_35qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, *//*textField*/
.qx-c-fcls_length_flex_35qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_35qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_35qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: var(--main-length-35qch-min);
	/*width: 20rem ;*/
	width: auto ;
	max-width: var(--main-length-35qch-max);	
}


/* .qx-c-fcls_length_flex_40qch */
/*.qx-c-fcls_length_flex_40qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field,*/ /*textField*/
.qx-c-fcls_length_flex_40qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_40qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_40qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: var(--main-length-40qch-min);
	/*width: 20rem ;*/
	width: auto ;
	max-width: var(--main-length-40qch-max);	
}

/* .qx-c-fcls_length_flex_50qch */
/*.qx-c-fcls_length_flex_50qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field, */ /*textField*/
.qx-c-fcls_length_flex_50qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_50qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_50qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: var(--main-length-50qch-min);
	/*width: 20rem ;*/
	width: auto ;
	max-width: var(--main-length-50qch-max);	
}

/* .qx-c-fcls_length_flex_60qch */
/*.qx-c-fcls_length_flex_60qch.qx-aum.qx-text-field.qx-aum-text-field.qx-aum-abstract-text-field,*/ /*textField*/
.qx-c-fcls_length_flex_60qch.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-function-field-abs, /*FunctionField*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-text-field.qx-aum-combo-box, /*ComboBoxList*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field, /*calendar*/
.qx-c-fcls_length_flex_60qch.qx-aum.ui-spinner.qx-aum-spinner.qx-aum-abstract-range-field, /*Spinner*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-check-box, /*checkBox*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-time-edit-field,  /*TimeEdit*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-radio-group, /*RadioButtonList*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-bool-widget.qx-aum-radio, /*RadioButton*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-list-box.qx-aum-abstract-field, /*listBox*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-text-area.qx-text-field, /*TextArea*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-single-row.qx-aum-button, /*button*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-web-component, /*web component*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-horizontal.qx-aum-progress-bar.qx-aum-abstract-range-field, /*progressbar*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-horizontal.qx-aum-slider.qx-aum-abstract-range-field, /*slider*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-horizontal.qx-aum-scroll-bar.qx-aum-abstract-range-field, /*scrollbar*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-c-fcls_length_flex_60qch.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-width: var(--main-length-60qch-min);
	/*width: 20rem ;*/
	width: auto ;
	max-width: var(--main-length-60qch-max);	
}

/*
######################################################################################################
ALL Elements V-Size
######################################################################################################
*/

/*Half Line widgets i.e. slider, scrollbar..*/
 /*button*/

.qx-aum-progress-bar,
.qx-horizontal.qx-aum.qx-aum-slider
{
	height: var(--main-height-0_3) !important;
	vertical-align: middle;
}

/*Single Line Widgets / textField based*/
// .qx-aum > .qx-aum.qx-aum-text-field:not(.qx-c-qx-function-text-field), /*textField BUT WITHOUT functionField inner textField*/
// .qx-aum > .qx-aum.qx-aum-text-field,
// .qx-aum > .qx-aum.qx-single-row.qx-aum.qx-aum-function-field-abs, 
// .qx-aum > .qx-aum.qx-aum.qx-aum-combo-box, 
// .qx-aum > .qx-aum.qx-single-row.ui-spinner.qx-aum-spinner, 
// .qx-aum > .qx-aum.qx-single-row.qx-aum.qx-aum-time-edit-field, 
// .qx-aum > .qx-aum.qx-aum.qx-aum-check-box, 
// .qx-aum > .qx-aum.qx-aum-radio-group .qx-aum-radio:not(.qx-aum-radio-group),
// .qx-aum > .qx-aum.qx-aum-button.qx-single-row:not(.qx-c-fcls_button_fit_to_image), 
// .qx-aum > .qx-aum.qx-aum-slider.qx-horizontal.qx-aum,
// .qx-aum > .qx-aum.qx-aum.qx-aum-calendar, 
// .qx-aum > .qx-aum.qx-aum-calendar,
// .qx-aum > .qx-aum.qx-aum.qx-aum-calendar.qx-aum-abstract-text-field
// {
// 	height: var(--main-height-1_0) !important;
// 	vertical-align: middle ;
// }

/*
Added as the replacement of the above.
This style has been created for the initial version of /public[v7+vdom] join.
It prevents height changes for the widget residing in CoordPanel
*/
.qx-aum.qx-aum-abstract-container.qx-display-grid {
  > .qx-aum {
    &.qx-aum-text-field,
    &.qx-aum-function-field-abs,
    &.qx-aum-combo-box,
    &.ui-spinner.qx-aum-spinner,
    &.qx-aum-time-edit-field,
    &.qx-aum-check-box,
    &.qx-aum-radio,
    &.qx-bool-widget.qx-aum.qx-aum-radio,
    &.qx-aum-button,
    &.qx-aum-progress-bar,
    &.qx-horizontal.qx-aum.qx-aum-slider,
    &.qx-aum-calendar {
      &,
      &.qx-va-s {
        height: 2.2rem !important;
        vertical-align: middle;
      }
    }
    &.qx-aum-function-field-abs .qx-aum-button {
      flex: 1;
      align-self: stretch;
      height: auto !important;
      border: none;
    }
  }
}
.qx-aum-coord-panel > .qx-aum-abstract-field {
  transition: none !important;
}

/*special cases for height */
.qx-aum-progress-bar.qx-aum
{
	height: var(--main-height-0_3) !important;

}

qx-aum-radio-group qx-aum-abstract-field qx-s-on-0 qx-identifier-f7 qx-va-c qx-o qx-no-bound qx-vertical qx-ha-l qx-element-role-input qx-active qx-c-activefield qx-c-fcls_align_left qx-c-fcls_data_widget qx-c-fcls_length_10qch qx-enabled qx-focusable-field qx-not-readonly qx-focused ui-state-focus qx-has-focus


/*Special Case: only with button fit.content   qx-c-fcls_button_image_only  HuHo 03.11.2018*/
.qx-c-fcls_button_image_only.qx-single-row.qx-aum-button
{
	height: fit-content;
	/*vertical-align: middle;*/
	/*align:left;*/ /*just for test*/
}


/*Multi Line Widgets / textField based*/
/*.qx-aum.qx-aum-radio-group  /*RadioButtonList GROUP*/
.qx-aum.qx-aum-list-box,  /*ListBox*/
.qx-aum.qx-aum-list-box.qx-aum-abstract-field /*listBox*/
{
	min-height: var(--main-height-2_0) ;
}

/*Image Area Widgets / i.e. canvas, browser*/
.qx-aum.qx-aum-web-component,  /*WebComponent*/
.qx-aum.qx-aum-browser.qx-aum-abstract-text-field, /*Browser*/
.qx-aum.qx-aum-blob-viewer.qx-blob-image,  /*blobViewer*/
.qx-aum.qx-aum-canvas.qx-aum-abstract-field /*Canvas*/
{
	min-height: var(--main-height-3_0) ;
}

/*Navigation/ScrollBar*/
.qx-aum.qx-aum-slider.qx-horizontal.qx-aum-abstract-range-field.qx-aum-abstract-field
{
  height: var(--main-height-0_3) !important;
}
.qx-aum.qx-aum-slider.qx-vertical.qx-aum-abstract-range-field.qx-aum-abstract-field
{
  width: var(--main-height-0_3) !important;
}

